{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar incidencia'|trans}}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Editar incidencia'|trans}}
        </header>
        <div class="panel-body">
            <form role="form" action="{{ path('admin_incidencia_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
              {#{{ form_widget(edit_form) }}#}
           
              <div class="form-group ">
                  <label for="exampleInputEmail1">{{'Remitente de incidencia'|trans}}</label>
                  <div class="">
                    <input type="text" class="form-control" value="{{ entity.usuariofrom }}" disabled="disabled">
                    {#
                  {{ form_widget(edit_form.usuariofrom, { 'attr': {'class': 'form-control', 'disabled': 'disabled' }  }) 
                  }}                        #}
                  </div>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">{{'Receptor de la incidencia'|trans}}</label>
                  <div class="">
                    <input type="text" class="form-control" value="{{ entity.usuarioto }}" disabled="disabled">
                    {#
                  {{ form_widget(edit_form.usuarioto, { 'attr': {'class': 'form-control', 'disabled': 'disabled'} }) }}                        
                  #}
                  </div>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">{{'Asunto'|trans}}</label>
                  <div class="">
                    <input type="text" class="form-control" value="{{ entity.asunto }}" disabled="disabled">
                    {#
                  {{ form_widget(edit_form.asunto, { 'attr': {'class': 'form-control' , 'disabled': 'disabled'} }) }}                        
                  #}
                  </div>
              </div>
              <div class="form-group ">    
                  <label for="exampleInputEmail1">{{'Fecha'|trans}}</label>
                  <div class="">
                    <input type="text" class="form-control" value="{{ entity.fecha|date('d/m/Y H:i') }}" disabled="disabled">
                    {#
                  {{ form_widget(edit_form.fecha, { 'attr': {'class': 'form-control', 'disabled': 'disabled', 'data-mask' : '99/99/9999'} }) }}                        
                    #}
                  </div>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">{{'Mensaje'|trans}}</label>
                  <div class="">
                  <textarea  class="form-control" disabled="disabled">{{ entity.mensaje }}</textarea>
                  {#
                  {{ form_widget(edit_form.mensaje, { 'attr': {'class': 'form-control', 'disabled': 'disabled'} }) }}                        
                  #}
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.atendido)) }}">
                  <label for="exampleInputEmail1">{{'¿Atendido?'|trans}}</label><br>

                    <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                        {{ form_widget(edit_form.atendido) }} 
                    </div>
              </div>
                         
              {{ form_rest(edit_form) }}
        </div>
    </section>

    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-info">{{'Editar'}}</button>   
            </form><!-- / form edit -->
               <a href="{{ path('admin_incidencia') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
               <form action="{{ path('admin_incidencia_delete', { 'id': entity.id }) }}" method="post" class="btnDelete">
                  {{ form_widget(delete_form) }}
                  <button type="submit" class="btn btn-danger" onclick="return confirm('{{'¿Está seguro de borrar?'|trans}}');">{{'Borrar'|trans}}</button>
               </form>
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->

{#

<h1>Incidencia edit</h1>

<form action="{{ path('admin_incidencia_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_incidencia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_incidencia_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

#}


{% endblock %}