{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de incidencias'|trans}}
{% endblock %}

{% block body %}


<div class="row">
    <div class="col-lg-12">
      <section class="panel">
          <header class="panel-heading">
             {{'Lista de incidencias'|trans}}
          </header>
          <div class="panel-body">
                <!--  buscador + rtdos -->
                <div class="adv-table">
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="editable-sample_length" class="dataTables_length">
                                {% include 'HotelesBackendBundle:Extras:select.html.twig' %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            {#
                            <div class="dataTables_filter" id="editable-sample_filter">
                                <label>{{'Buscar'|trans}}: <input type="text" aria-controls="editable-sample" class="form-control medium"></label>
                            </div>
                            #}
                        </div>
                    </div>
                    <!-- / buscador + rtdos -->
                    <!--  contentTabla -->
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover" id="hidden-table-info">

                          <thead>
                              <tr>
                                    <th>{{'De ...'|trans}}</th>
                                    <th>{{'Para ...'|trans}}</th>
                                    <th>{{'Asunto'|trans}}</th>
                                    <th>{{'Fecha'|trans}}</th>
                                    <th>{{'Atendido'|trans}}</th>
                                    <th>{{'Acciones'|trans}}</th>

                              </tr>
                          </thead>
                          <tbody>
                            {% for entity in pagination %}
                                <tr>
                                    <td>{{ entity.usuariofrom }}</td>
                                    <td>{{ entity.usuarioto }}</td>
                                    <td>{{ entity.asunto }}</td>
                                    <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>
                                        {% include 'HotelesBackendBundle:Extras:checked.html.twig' with {'dato': entity.atendido } %}
                                    </td>
                                    <td>
                                        {#
                                        <a href="{{ path('admin_incidencia_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'Ver'|trans}}"><i class="fa fa-eye"></i></a>
                                        #}
                                        {% if entity.atendido != 1 %}
                                         <a href="{{ path('admin_incidencia_atender', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'Atendido'|trans}}"><i class="fa fa-check"></i></a>
                                         {% endif %}
                                         <a href="{{ path('admin_incidencia_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></a>
   
                                    </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                    </table>
                    <!--  /contentTabla -->
                   
                </div> <!-- /addtable -->
            </div><!-- /panelbody -->

      </section>

      <!-- btns -->
      <section class="panel">
            <div class="panel-body">
                <div class="span6">
                    <a href="{{ path('admin_incidencia_new') }}" class="btn btn-success">{{'Crear una nueva entrada'|trans}}</a>
                </div>
                <div class="span6">
                  <div class="dataTables_paginate paging_bootstrap pagination withbuttons">
                    {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                  </div>
                </div>                  
            </div>          
      </section>
      <!-- /btns -->
      

    </div><!-- /col -->

</div><!-- /row -->

{#


<h1>Incidencia list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Usuariofrom</th>
            <th>Usuarioto</th>
            <th>Fecha</th>
            <th>Mensaje</th>
            <th>Atendido</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_incidencia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.usuariofrom }}</td>
            <td>{{ entity.usuarioto }}</td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.mensaje }}</td>
            <td>{{ entity.atendido }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_incidencia_show', { 'id': entity.id }) }}">{{'Ver'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_incidencia_atender', { 'id': entity.id }) }}">{{'Atendido'|trans}}</a>
                    </li>                    
                    
                    <li>
                        <a href="{{ path('admin_incidencia_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_incidencia_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

#}

{% endblock %}