{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear incidencia'|trans}}
{% endblock %}

{% block body %}


<div class="row">
    <div class="col-lg-6">
      <section class="panel"> 
          <header class="panel-heading">
              {{'Crear incidencia'|trans}}
          </header>
          <div class="panel-body">
              <form role="form" action="{{ path('admin_incidencia_create') }}" method="post" {{ form_enctype(form) }}>
                {#{{ form_widget(form) }}#}

                {% if is_granted('ROLE_ADMIN')%}
                    <div class="form-group {{ error(form_errors(form.usuariofrom)) }}">
                        <label for="exampleInputEmail1">{{'De ...'|trans}}</label>
                        <div class="">
                        {#{ form_errors(form.usuariofrom) }#}
                        {{ form_widget(form.usuariofrom, { 'attr': {'class': 'form-control'} }) }}                        
                        </div>
                    </div>
                {% endif %}

                <div class="form-group {{ error(form_errors(form.usuarioto)) }}">
                    <label for="exampleInputEmail1">{{'Para ...'|trans}}</label>
                    <div class="">
                    {#{ form_errors(form.usuarioto) }#}
                    {{ form_widget(form.usuarioto, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>
                </div>

                <div class="form-group {{ error(form_errors(form.asunto)) }}">
                    <label for="exampleInputEmail1">{{'Asunto'|trans}}</label>
                    <div class="">
                    {#{ form_errors(form.asunto) }#}
                    {{ form_widget(form.asunto, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>
                </div>

                <div class="form-group {{ error(form_errors(form.mensaje)) }}">
                    <label for="exampleInputEmail1">{{'Mensaje'|trans}}</label>
                    <div class="">
                    {#{ form_errors(form.mensaje) }#}
                    {{ form_widget(form.mensaje, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>
                </div>
 
                {{ form_widget(form._token) }}
          </div>
      </section>

      <!-- btns -->
      <section class="panel">
            <div class="panel-body">
                  <button type="submit" class="btn btn-info">{{'Crear'}}</button>   
              </form><!-- / form edit -->
                 <a href="{{ path('admin_incidencia') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
            </div>
      </section>
      <!-- /btns -->
    </div><!-- /col -->
</div><!-- /row -->


{#

<h1>Incidencia creation</h1>

<form action="{{ path('admin_incidencia_create') }}" method="post" {{ form_enctype(form) }}>

    {% if is_granted('ROLE_ADMIN')%}
        {{ form_label(form.usuariofrom) }}
        {{ form_errors(form.usuariofrom) }}
        {{ form_widget(form.usuariofrom, { 'attr': {'class': 'form-control'} }) }}     
    {% endif %}

    {{ form_label(form.usuarioto) }}
    {{ form_errors(form.usuarioto) }}
    {{ form_widget(form.usuarioto, { 'attr': {'class': 'form-control'} }) }}                   


    {{ form_label(form.asunto) }}
    {{ form_errors(form.asunto) }}
    {{ form_widget(form.asunto, { 'attr': {'class': 'form-control'} }) }}         


    {{ form_label(form.mensaje) }}
    {{ form_errors(form.mensaje) }}
    {{ form_widget(form.mensaje, { 'attr': {'class': 'form-control'} }) }}      


    {{ form_widget(form._token) }}

    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_incidencia') }}">
            Back to the list
        </a>
    </li>
</ul>

#}

{% endblock %}