{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Incidencia</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Usuariofrom</th>
            <td>{{ entity.usuariofrom }}</td>
        </tr>
        <tr>
            <th>Usuarioto</th>
            <td>{{ entity.usuarioto }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Mensaje</th>
            <td>{{ entity.mensaje }}</td>
        </tr>
        <tr>
            <th>Atendido</th>
            <td>{{ entity.atendido }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_incidencia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_incidencia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_incidencia_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}