{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Oferta > contraoferta'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    {{'Oferta > contraoferta'|trans}}
                </header>
                <div class="panel-body contraoferta">
                    <p>{{'La oferta actual es de'|trans}}: <span> {{ entity.preciototaloferta|number_format(2, ',', '.')  }} {{'euros'}}</span>.</p>

                    <form role="form" action=""  method="post" {{ form_enctype(edit_form) }}>

                        {#{{ form_widget(edit_form) }}#}


                        <div class="form-group">
                            <label for="exampleInputEmail1">{{'Precio total de la contraoferta'|trans}}</label>
                            <div class="col-sm-3">
                                {{ form_errors(edit_form.preciototalcontraoferta) }}
                                {{ form_widget(edit_form.preciototalcontraoferta, { 'attr': {'class': 'form-control'} }) }}    
                                {{ form_rest(edit_form) }}
                            </div>
                        </div>

                </div><!-- /panelbody -->

            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <button type="submit" class="btn btn-info">{{'Guardar'|trans}}</button>   
                    </form><!-- / form edit -->
                    <a href="{{ path('admin_ofertas') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
                </div>
            </section>
            <!-- /btns -->


        </div><!-- /col -->

    </div><!-- /row -->

    
{% endblock %}