{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de ofertas'|trans}}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        if (typeof ROOMASTIC === 'undefined') {
            ROOMASTIC = {};
            if (typeof ROOMASTIC.filtro_ofertas === 'undefined') {
                ROOMASTIC.filtro_ofertas = {};
            }
        }
        ROOMASTIC.filtro_ofertas.filtro = '{{app.request.attributes.get('filtro')}}';
        ROOMASTIC.filtro_ofertas.id_hotel = '{{app.request.attributes.get('id_hotel')}}';

    </script>
    {% javascripts '@HotelesBackendBundle/Resources/public/js/oferta/*.js' %}      
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{'Lista de ofertas'|trans}}
                </header>
                <div class="panel-body">
                    <!--  buscador + rtdos -->
                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-9">
                                <div id="editable-sample_length" class="dataTables_length">
                                    {% include 'HotelesBackendBundle:Extras:select.html.twig' %}
                                </div>

                            </div>
                            {% if is_granted('ROLE_EMPRESA') or is_granted('ROLE_ADMIN')%}
                                <div class="col-lg-3">
                                    <div class="dataTables_length_hotel">
                                        <label>
                                            {{'Lista de hoteles'|trans}}
                                            <select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall" id="hotelSelect">
                                                {% set hotel_seleccionado =  app.request.attributes.get('id_hotel') %}
                                                <option value="">{{'Todos'|trans}}</option>
                                                {% for hotel in hoteles%}
                                                    <option value="{{ hotel.id }}" {% if hotel.id == hotel_seleccionado %}selected="selected"{% endif %}>{{ hotel.nombrehotel }}</option>
                                                {% endfor %}
                                            </select> 

                                        </label>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- / buscador + rtdos -->
                            <!--  contentTabla -->
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover" id="hidden-table-info">

                                <thead>
                                    <tr>
                                        {#<th>{{'Id'|trans}}</th>#}
                                        <th>{{'Fecha oferta'|trans}}</th>
                                        <th>{{'Hotel'|trans}}</th>
                                        <th>{{'Precio habitación'|trans}}</th>
                                        <th>{{'Entrada'|trans}}</th>
                                        <th>{{'Salida'|trans}}</th>
                                        <th>{{'Noches'|trans}}</th>
                                        <th>{{'Adultos'|trans}}</th>
                                        <th>{{'Niños'|trans}}</th>
                                        <th>{{'Hab.'|trans}}</th>
                                        <th>{{'Importe Total'|trans}}</th>
                                        <th>{{'Fecha contraoferta'|trans}}</th>
                                        <th>{{'Total contraoferta'|trans}}</th>
                                        <th>{{'Comision'|trans}}</th>
                                        <th>{{'Neto'|trans}}</th>
                                        <th>{{'Estado'|trans}}</th>
                                        <th>{{'Acciones'|trans}}</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for oferta in pagination %}
                                        <tr>
                                            {#<td>{{ oferta.idoferta }}</td>#}
                                            <td>{% if oferta.fecha %}{{ oferta.fecha|date('d-m-Y H:i:s') }}{% endif %}</td>
                                            <td>{{ oferta.hotel }}</td>
                                            <td>{{ oferta.preciohabitacion|number_format(2, ',','.') }}</td>
                                            <td>{% if oferta.fechain %}{{ oferta.fechain|date('d-m-Y') }}{% endif %}</td>
                                            <td>{% if oferta.fechaout %}{{ oferta.fechaout|date('d-m-Y') }}{% endif %}</td>
                                            <td>{{ oferta.numnoches }}</td>
                                            <td>{{ oferta.numadultos }}</td>
                                            <td>{{ oferta.numninos }}</td>
                                            <td>{{ oferta.numhabitaciones }}</td>
                                            <td>{{ oferta.preciototaloferta|number_format(2, ',','.') ~ '€'|trans }}</td>
                                            <td>{% if oferta.fechacontraoferta != null %}{{ oferta.fechacontraoferta|date('d-m-y H:i') }}{% endif %}</td>
                                            <td>{{ oferta.preciototalcontraoferta|number_format(2, ',','.') ~ '€'|trans}}</td>
                                            <td>{{ oferta.getComisionOferta|number_format(2, ',','.') ~ '%'}}</td>
                                            <td style="font-weight: 900;">{{ oferta.getNeto|number_format(2,',','.') ~ '€'|trans}}</td>
                                            <td>
                                                {% include 'HotelesBackendBundle:Oferta:status.html.twig' with {'status': oferta.status } %}
                                            </td>
                                            <td>
                                                {#
                                                <a href="{{ path('admin_ofertas_show', { 'id': oferta.id }) }}" class="btn btn-primary btn-xs" title="{{'Ver'|trans}}"><i class="fa fa-eye"></i></a>
                                                #}
                                                {% if oferta.canHotelInteract %}
                                                    <a href="{{ path('acepta_oferta', { 'id': oferta.id }) }}" style="margin: 3px 0;" class="btn btn-primary btn-xs" title="{{'Aceptar'|trans}}"><i class="fa fa-check"></i>  {{'Aceptar'|trans}}</a> <br>
                                                    <a href="{{ path('declina_oferta', { 'id': oferta.id }) }}" style="margin: 3px 0;" class="btn btn-primary btn-xs" title="{{'Declinar'|trans}}"><i class="fa fa-times"></i>  {{'Declinar'|trans}}</a><br>
                                                    <a href="{{ path('admin_ofertas_contraoferta', { 'id': oferta.id }) }}" style="margin: 3px 0;" class="btn btn-primary btn-xs" title="{{'Contraofertar'|trans}}"><i class="fa fa-usd"></i>  {{'Contra'|trans}}</a>
                                                {% elseif oferta.sale is null == false and oferta.sale.isPayed() %}
                                                    <a href="{{ path('hoteles_backend_oferta_ofertadetails', { 'id': oferta.id }) }}" style="margin: 3px 0;" class="btn btn-primary btn-xs" id="ver-detalles-oferta" title="{{'Detalles de la oferta'|trans}}" data-toggle="modal" data-target="#offer-details-modal" data-remote="false"><i class="fa fa-user"></i>{{'Ver detalles usuario'|trans}}</a>
                                                {% else %}
                                                    
                                                {% endif %}                                         
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--  /contentTabla -->

                        </div> <!-- /addtable -->
                    </div><!-- /panelbody -->

            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <div class="span6">   
                    </div>
                    <div class="span6">
                        <div class="dataTables_paginate paging_bootstrap pagination withoutbuttons">
                            {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                        </div>
                    </div>                  
                </div>          
            </section>
            <!-- /btns -->


        </div><!-- /col -->

    </div><!-- /row -->
    <div class="modal fade" id="offer-details-modal" tabindex="-1" role="dialog" aria-labelledby="offer-details-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="fee-details-label">{{'Detalles de la oferta'|trans}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed">

                        <tr>
                            <th>{{'Nombre completo'|trans}}</th>
                            <td id="nombre_completo"></td>
                        </tr>
                        <tr>
                            <th>{{'Email'|trans}}</th>
                            <td id="email"></td>
                        </tr>
                        <tr>
                            <th>{{'DNI'|trans}}</th>
                            <td id="dni"></td>
                        </tr>
                        <tr>
                            <th>{{'Direccion'|trans}}</th>
                            <td id="direccion"></td>
                        </tr>
                        <tr>
                            <th>{{'Telefono'|trans}}</th>
                            <td id="telefono"></td>
                        </tr>

                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}