/* ==========================================================================
   Forms
   ========================================================================== */

 /*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

input[type=number], input[type=text] {
	.radius;
	height: 31px;
	float: left;
	background-color: #fff;
	border: none;
	box-shadow: 0 0 0 2px rgba(235, 235, 235, 0.9) !important;
	color: #474747;
	font-size: 15px;
	font-weight: 700;
	box-sizing: border-box;
	padding: 0 9px;
}