
/***** CUSTOM STYLE *****/

/* comun style */
.left {float: left;}
.right {float: right;}
.rosa  {color: #e52e81;}


.contenido {
  margin-top: 36px;
  border-top: 2px solid #f3f3f3;
  color: #2b2b2b;
  padding-bottom: 102px;
}
.contenido h2 {
  font-weight: 800;
  font-size: 31px;
  border-bottom: 2px solid #f3f3f3;
  padding: 17px 0 105px;
}
.contenido .btn_generic {
  background: -webkit-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -moz-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -o-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -ms-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background-color: linear-gradient(0deg, #a80c59 0%, #e72f82 100%);
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 22px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  padding: 5px 20px;

}
.contenido .btn_generic:hover {
  background: -webkit-linear-gradient(90deg, #e72f82 0%, #a80c59  100%);
  background: -moz-linear-gradient(90deg, #e72f82 0%, #a80c59  100%);
  background: -o-linear-gradient(90deg, #e72f82 0%, #a80c59  100%);
  background: -ms-linear-gradient(90deg, #e72f82 0%, #a80c59  100%);
  background-color: linear-gradient(0deg, #e72f82 0%, #a80c59  100%);
}



/* faqs */

.contenido ol.faqs {
   counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}
.contenido ol.faqs li {
  border-bottom: 2px solid #f3f3f3;
  padding: 25px 0;
  clear: both;
  list-style: decimal;
  display: block;
}
.contenido ol.faqs li:before {
    display: inline-block;
    content: counter(item) " ";
    counter-increment: item;
    margin-left: -7.6em;
    color: #e52e81;
    font-size: 30px;
    width: 45px;
}
.contenido ol.faqs li .pregunta {
  float: left;
  max-width: 231px;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
}

.contenido ol.faqs li .pregunta p {
  padding-left: 40px;
}

.contenido ol.faqs li .respuesta {
  float: right;
  width: 747px;
}

/* privacidad, cookis, legal ... */
.contenido .txtBack {
  padding: 24px 0 80px 0; 
  border-bottom: 2px solid #f3f3f3;
}
/* quienes somos */
.contenido .quienesSomos {
  background: url(../img/bgr_quienessomos.png) right 84px no-repeat;
  min-height: 328px;
  padding-right: 633px;
}

/* contacto */
.contenido .contacto {
  padding: 24px 0 80px 0; 
  border-bottom: 2px solid #f3f3f3;
}
.contenido .contacto .left {
  max-width: 367px;
  margin-right: 142px;
}
.contenido .contacto .left p {
  margin-bottom: 15px;
}
.contenido .contacto .left p.rosa span {
  font-weight: 700;
  font-size: 28px;
}
.contenido .contacto .right {
  width: 50%;
}
.contenido .contacto input { 
  font-weight: normal; 
}
.contenido .contacto textarea {
  border-radius: 4px;
  height: 100px;
  float: left;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 0 2px rgba(235, 235, 235, 0.9) !important;
  color: #474747;
  font-size: 13px;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0 9px; 
  width: 100%;
  margin-bottom: 10px;
}

.contenido .contacto ::-webkit-input-placeholder { /* WebKit browsers */

  font-size: 15px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}
.contenido .contacto :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 15px;
  font-weight: 700;
  opacity:  1;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}
.contenido .contacto ::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 15px;
  font-weight: 700;
  opacity:  1;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}
.contenido .contacto :-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 15px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
}
.contenido .contacto input.longinput {
  width: 298px;
}
.contenido .contacto .btn_generic {
  font-weight: 400;
}

/* detalle del hotel */

.hotel_detalle {
  border-bottom: 2px solid #f3f3f3;
  padding:22px 0;
  margin-bottom: 102px;
}
.hotel_detalle .bqizq {
  float: left;
  width: 487px;
}
.hotel_detalle .bqizq .direccion {
  color: #2b2b2b;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  border-bottom: 2px solid #f3f3f3;
  border-top: 2px solid #f3f3f3;
  padding: 17px 0 17px 28px;
  margin: 17px 0;
  background: url(../img/icon_house.png) center left no-repeat;

}
.hotel_detalle .bqder {
  float: right;
  width: 509px;
}

.hotel_detalle .bqder .hotel_cont {
  float: right;
  width: 509px;
  border-bottom: 2px solid #f3f3f3;
  padding: 0 0 18px 0;  
  margin-bottom: 20px;
}
.hotel_detalle .bqder .hotel_cont .servicios li {
  min-width: 159px!important;
  margin: 0 9px 8px 0!important;
}
.hotel_detalle .bqder .hotel_cont h2.tit_hotel {
  color: #2b2b2b;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 10px;
  max-width: 410px;
  border: 0;
  padding: 0!important;
  float: left;
}
.hotel_detalle .bqder .hotel_cont .estrellashotel {
  float: right;
}
.hotel_detalle .bqder .info {
  color:#2b2b2b;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
.hotel_detalle .bqder .info p {
  margin: 20px 0;
}
.hotel_detalle .bqder .info .timbre {
    float: right;
    color: #cfcfcf;
    background-color: #fff;
    background-image: url(../img/timbre.png);
    background-repeat: no-repeat;
    background-position: 93% center;
    border: 2px solid #cfcfcf;
    box-sizing: border-box;
    padding: 7px 44px 7px 14px;
}
.hotel_detalle .bqder .info .timbre:hover {
    color: #fff;
    border-color: #fff;
}


/* modalregister */

.modalregister .left {
  float: left;
  width: 238px;
  border-right:solid 1px #ebebeb;
}
.modalregister .right {
  float: right;
  width: 238px;
}

.modalregister .form-signin {
    max-width: 565px;
    margin: 0px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.modalregister .form-signin .tit {
    color: #474747;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}


.modalregister .form-signin h2.form-signin-heading {
    margin: 0;
    padding:20px 15px;
    background: url(../img/icon_titlogin.png) 520px center no-repeat #262626;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    
}

.modalregister .form-signin .checkbox {
    margin-bottom: 14px;
}
.modalregister .form-signin .checkbox {
    font-weight: normal;
    color: #2b2b2b;
    font-weight: 300;
    //font-family: 'Open Sans', sans-serif;
}
.modalregister .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modalregister .form-signin .form-control:focus {
    z-index: 2;
}
.modalregister .form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: none!important;
    font-size: 15px;
    color: #474747;
    width: 100%;
    font-weight: normal;
  }

.modalregister .form-signin .btn-login {
   background: -webkit-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -moz-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -o-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -ms-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background-color: linear-gradient(0deg, #a80c59 0%, #e72f82 100%);
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  padding: 5px 20px;
  width: 100%;
}
.modalregister .form-signin .btn-login:hover {
  background: -webkit-linear-gradient(90deg, #e72f82 0%, #a80c59  100%);
  background: -moz-linear-gradient(90deg, #e72f82 0%, #a80c59  100%);
  background: -o-linear-gradient(90deg, #e72f82 0%, #a80c59  100%);
  background: -ms-linear-gradient(90deg, #e72f82 0%, #a80c59  100%);
  background-color: linear-gradient(0deg, #e72f82 0%, #a80c59  100%);
}
.modalregister .forgor_ps {
    margin-top: 23px;
    background: url(../img/icon_sobre.png) right 0px no-repeat;
    width: 100%;
    text-align: left!important;
}

.modalregister .forgor_ps a {
    color:#b6b6b6;
    font-size: 15px;
}
.modalregister .forgor_ps a:hover {
    color:#e72f82;
}


.modalregister .form-signin p {

    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}

/*
.modalregister .form-signin a {
    color: #41cac0;
}

*/
.modalregister .form-signin a:hover {
    color: #b6b6b6;
}

.modalregister .login-wrap {
    padding: 20px;
}

.modalregister .login-social-link  {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.modalregister .login-social-link a {
    color: #fff;
    padding: 15px 28px;
    border-radius: 4px;
}

.modalregister .login-social-link a:hover {
    color: #fff;
}

.login-social-link a i {
    font-size: 23px;
    //padding-right: 10px;
}

.modalregister .login-social-link a.facebook {
    background: #5193ea;
    margin-right: 9px;
    box-shadow: 0 4px #2775e2;
    float:left;
}

.modalregister .login-social-link a.twitter {
    background: #44ccfe;
    box-shadow: 0 4px #2bb4e8;
    margin-right: 9px;
    float:left;
}
.modalregister .login-social-link a.google {
    background: #fd6d63;
    box-shadow: 0 4px #d45e56;
    float:left;
}
.modalregister .showregister {
  margin: 71px 0 22px 0;
}
.modalregister .bodyregister p {
  color: #fff;
  margin-bottom: 10px;
}
.modalregister .bodyregister input[type="text"], .modalregister .bodyregister input[type="password"] {
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: none!important;
    font-size: 15px;
    color: #474747;
    width: 91%;
    font-weight: normal;
    float: none;
  }

.modalregister .bodyregister .left {
  border-right: none;
}
.modalregister .bodyregister .right {
   border-left:solid 1px #ebebeb;
}

.modalregister .bodyregister .btn_conf {
     background: -webkit-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -moz-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -o-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -ms-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background-color: linear-gradient(0deg, #a80c59 0%, #e72f82 100%);
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  padding: 5px 20px;
  width: 40%;
}


.modalregister .bodyregister .input_newreg input {
  float: left;
  margin-right: 10px;
}
.modalregister .bodyregister .input_newreg input.width1 {
  width: 205px;
}
.modalregister .bodyregister .input_newreg input.width2 {
  width: 205px;
}
.modalregister .bodyregister .input_newreg input.width3 {

}
.modalregister .bodyregister .input_newreg input.width4 {
  width: 154px;
}
.modalregister .bodyregister .input_newreg input.width5 {
  width: 254px;
}
.modalregister .bodyregister .input_newreg input.width6 {
  width: 154px;
}
.modalregister .bodyregister .input_newreg input.width7 {
  width: 154px;
}
.modalregister .bodyregister .input_newreg button {
  width: 130px;
  height: 50px;
  padding: 1px 0 0 0;
}

.menu_int {
  right:0;
}
.menu_int {
  margin-right: 0;
  position: absolute;
  top: 22px;
  /*right: 160px;*/
  right:0;
}
.hacer_oferta {
  display: none;
  position: absolute;
  top: -5px;
  right: 0;
  background: -webkit-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -moz-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -o-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background: -ms-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
  background-color: linear-gradient(0deg, #a80c59 0%, #e72f82 100%);
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  /*
  padding: 30px 30px 30px 18px;*/
  padding: 30px 0;
  width: 132px;
  text-align: center;
}
.posFixed  {
  position:fixed;
  margin-left:377px!important;
  left:50%;
  z-index:100;
}
