{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de preguntas frecuentes'|trans}}
{% endblock %}

{% block body %}


<div class="row">
    <div class="col-lg-12">
      <section class="panel">
          <header class="panel-heading">
             {{'Lista de preguntas frecuentes'|trans}}
          </header>
          <div class="panel-body">
                <!--  buscador + rtdos -->
                <div class="adv-table">
                    <div class="row">
                        <div class="col-lg-6">
                            {#
                            <div id="editable-sample_length" class="dataTables_length">
                                {% include 'HotelesBackendBundle:Extras:select.html.twig' %}
                            </div>
                            #}
                        </div>
                        <div class="col-lg-6">
                            {#
                            <div class="dataTables_filter" id="editable-sample_filter">
                                <label>{{'Buscar'|trans}}: <input type="text" aria-controls="editable-sample" class="form-control medium"></label>
                            </div>
                            #}
                        </div>
                    </div>
                    <!-- / buscador + rtdos -->
                    <!--  contentTabla -->
                     <div class="task-content">
                        <ul id="sortable" class="task-list">

                          {% for entity in entities %}
                            <li class="list-primary" data-id="{{ entity.id }}">
                                <i class=" fa fa-ellipsis-v"></i>
                                <div class="task-title">
                                    <span class="task-title-sp">{{ entity.pregunta }}</span>
                                    <div class="pull-right hidden-phone">
                                          <a href="{{ path('admin_faqs_edit', { 'id': entity.id }) }}">
                                              <button class="btn btn-success btn-xs fa fa-pencil"></button>
                                          </a>
                                          {#
                                          <a href="{{ path('admin_faqs_show', { 'id': entity.id }) }}">
                                              <button class="btn btn-primary btn-xs fa fa-eye"></button>
                                          </a>
                                          #}
                                              <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                          {% endfor %}


                        </ul>
                    </div>
                    <!--  /contentTabla -->
                   
                </div> <!-- /addtable -->
            </div><!-- /panelbody -->

      </section>

      <!-- btns -->
      <section class="panel">
            <div class="panel-body">
                <div class="span6">
                    <a href="{{ path('admin_faqs_new') }}" class="btn btn-success">{{'Crear una nueva entrada'|trans}}</a>
                    <a class="btn btn-warning" href="{{ path('HotelesFrontendBundle_faqs') }}" target="_blank">{{'Ver en la web'|trans}}</a>
                    
                </div>
                <div class="span6">
                   {#
                  <div class="dataTables_paginate paging_bootstrap pagination withbuttons">
                    {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                  </div>
                  #}
                </div>                  
            </div>          
      </section>
      <!-- /btns -->

    </div><!-- /col -->

</div><!-- /row -->




{#

    <h1>Faqs list</h1>

    <div class="row">
        <div class="col-md-12">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    Sortable Todo list
                </header>
                <div class="panel-body">
                    <div class="task-content">
                        <ul id="sortable" class="task-list">

                          {% for entity in entities %}
                            <li class="list-primary" data-id="{{ entity.id }}">
                                <i class=" fa fa-ellipsis-v"></i>
                                <div class="task-title">
                                    <span class="task-title-sp">{{ entity.pregunta }}</span>
                                    <div class="pull-right hidden-phone">
                                          <a href="{{ path('admin_faqs_edit', { 'id': entity.id }) }}">
                                              <button class="btn btn-success btn-xs fa fa-pencil"></button>
                                          </a>
                                          <a href="{{ path('admin_faqs_show', { 'id': entity.id }) }}">
                                              <button class="btn btn-primary btn-xs fa fa-eye"></button>
                                          </a>
                                              <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                          {% endfor %}


                        </ul>
                    </div>
                    <div class=" add-task-row">
                        <a class="btn btn-success btn-sm pull-left" href="{{ path('admin_faqs_new') }}">Create a new entry</a>
                        <a class="btn btn-warning btn-sm pull-left" href="{{ path('HotelesFrontendBundle_faqs') }}" target="_blank">Ver en la web</a>
                    </div>
                </div>
            </section>
        </div>
    </div>

#}


{% endblock %}


{% block jsextras %}

    <script>
        jQuery(document).ready(function() {
            TaskList.initTaskWidget();
        });

        $(function() {
            $( "#sortable" ).sortable({
                stop: function( event, ui ) {
                    var nuevoOrden = ''
                    $('.list-primary').each(function(indice, elemento) {
                        nuevoOrden = nuevoOrden+'_'+$(elemento).attr('data-id')
                    });
                    //console.log(nuevoOrden)
                    $.get(  Routing.generate('admin_ordena', { orden: nuevoOrden })  , function( data ) {
                        //console.log( 'resultado'+data );
                    });
                }
            });
            $( "#sortable" ).disableSelection();
        });
    </script>

{% endblock %}

