{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar usuario'|trans}}
{% endblock %}

{% block body %}






<div class="clearfix"></div>

<h1>{{'Editar usuario'|trans}}</h1>

<form action="{{ path('admin_usuario_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-info">{{'Guardar'|trans}}</button>
    </p>    
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_usuario') }}" class="btn btn-primary">
            {{'Regresar a la lista'|trans}}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_usuario_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">{{'Borrar'|trans}}</button>
        </form>
    </li>
</ul>


{% endblock %}