{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de usuarios'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{'Lista de usuarios'|trans}}
                </header>
                <div class="panel-body">
                    <!--  buscador + rtdos -->
                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="editable-sample_length" class="dataTables_length">
                                    {% include 'HotelesBackendBundle:Extras:select.html.twig' %}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {#
                                <div class="dataTables_filter" id="editable-sample_filter">
                                    <label>{{'Buscar'|trans}}: <input type="text" aria-controls="editable-sample" class="form-control medium"></label>
                                </div>
                                #}
                            </div>
                        </div>
                        <!-- / buscador + rtdos -->
                        <!--  contentTabla -->
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Nombre de usuario'|trans}}</th>
                                    <th class="hidden-phone"> {{'Email'|trans}}</th>
                                    <th>{{'Estado'|trans}}</th>
                                    <th>{{'Rol'|trans}}</th>
                                    <th>{{'Último acceso'|trans}}</th>
                                    <th>{{'Acciones'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for user in pagination %}
                                    <tr>
                                        <td><a href="{{ path('admin_usuario_show', { 'id': user.id }) }}">{{ user.getPublicUsername }}</a></td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if user.isActive == 1 %}
                                                <span class="label label-success label-mini">{{'Activo'|trans}}</span>
                                            {% else %}
                                                <span class="label label-danger label-mini">{% include 'HotelesBackendBundle:User:status.html.twig' with {'status':user.status}  %}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for rol in user.roles %}
                                                {% if rol == 'ROLE_ADMIN' %}
                                                    <span class="label label-inverse">{{'Administrador'|trans}}</span>    
                                                {% elseif rol == 'ROLE_EMPRESA' %}
                                                    <span class="label label-info">{{'Empresa'|trans}}</span>
                                                {% elseif rol == 'ROLE_HOTEL' %}
                                                    <span class="label label-primary">{{'Hotel'|trans}}</span>
                                                {% elseif rol == 'ROLE_WEB' %}
                                                    <span class="label label-warning">{{'Usuario Web'|trans}}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>
                                            {% for rol in user.roles %}
                                                {% if rol == 'ROLE_ADMIN' %}
                                                    {#
                                                      <a href="{{ path('admin_useradministrador_show', { 'id': user.id }) }}">
                                                          <button class="btn btn-success btn-xs"><i class="fa fa-eye"></i></button>
                                                      </a>    
                                                    #}
                                                    <a href="{{ path('admin_useradministrador_edit', { 'id': user.id }) }}">
                                                        <button class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></button>
                                                    </a>
                                                    <a href="{{ path('admin_usuario_deleteget', { 'id': user.id }) }}" onClick="return confirm('{{'¿Está seguro de borrar?'|trans}}');">
                                                        <button class="btn btn-primary btn-xs" title="{{'Borrar'|trans}}"><i class="fa fa-trash-o"></i></button>
                                                    </a>
                                                    {% if user.isActive != true %}
                                                        <a href="{{ path('admin_usuario_enabled', { 'id': user.id }) }}">
                                                            <button class="btn btn-primary btn-xs" title="{{'Activar'|trans}}"><i class="fa fa-check-circle"></i></button>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ path('admin_usuario_disabled', { 'id': user.id }) }}">
                                                            <button class="btn btn-primary btn-xs" title="{{'Desactivar'|trans}}"><i class="fa fa-minus-circle"></i></button>
                                                        </a>
                                                    {% endif %}
                                                    {% if app.user.username != user.username %} 
                                                        {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                                                            <a href="{{ path('admin_landing', {'_want_to_be_this_user': user.username }) }}" onClick="return confirm('{{'¿Está seguro de querer suplantar a ese usuario?'|trans}}');">
                                                                <button class="btn btn-primary btn-xs" title="{{'Suplantar'|trans}}"><i class="fa  fa-male"></i></button>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% elseif rol == 'ROLE_EMPRESA' %}
                                                    {#
                                                        <a href="{{ path('admin_userempresa_show', { 'id': user.id }) }}">
                                                            <button class="btn btn-success btn-xs"><i class="fa fa-eye"></i></button>
                                                        </a> 
                                                    #}
                                                    <a href="{{ path('admin_userempresa_edit', { 'id': user.id }) }}">
                                                        <button class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></button>
                                                    </a>
                                                    <a href="{{ path('admin_usuario_deleteget', { 'id': user.id }) }}" onClick="return confirm('{{'¿Está seguro de borrar?'|trans}}');">
                                                        <button class="btn btn-primary btn-xs" title="{{'Borrar'|trans}}"><i class="fa fa-trash-o"></i></button>
                                                    </a>
                                                    {% if user.isActive != true %}
                                                        <a href="{{ path('admin_usuario_enabled', { 'id': user.id }) }}">
                                                            <button class="btn btn-primary btn-xs" title="{{'Activar'|trans}}"><i class="fa fa-check-circle"></i></button>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ path('admin_usuario_disabled', { 'id': user.id }) }}">
                                                            <button class="btn btn-primary btn-xs" title="{{'Desactivar'|trans}}"><i class="fa fa-minus-circle"></i></button>
                                                        </a>
                                                    {% endif %}
                                                    {% if app.user.username != user.username %} 
                                                        {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                                                            <a href="{{ path('admin_landing', {'_want_to_be_this_user': user.username }) }}" onClick="return confirm('¿Está seguro de querer suplantar a ese usuario?');">
                                                                <button class="btn btn-primary btn-xs" title="{{'Suplantar'|trans}}"><i class="fa  fa-male"></i></button>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% elseif rol == 'ROLE_HOTEL' %}
                                                    {#
                                                    <a href="{{ path('admin_userhotel_show', { 'id': user.id }) }}">
                                                        <button class="btn btn-success btn-xs"><i class="fa fa-eye"></i></button>
                                                    </a>  
                                                    #}
                                                    <a href="{{ path('admin_userhotel_edit', { 'id': user.id }) }}">
                                                        <button class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></button>
                                                    </a>
                                                    <a href="{{ path('admin_usuario_deleteget', { 'id': user.id }) }}" onClick="return confirm('{{'¿Está seguro de borrar?'|trans}}');">
                                                        <button class="btn btn-primary btn-xs" title="{{'Borrar'|trans}}"><i class="fa fa-trash-o"></i></button>
                                                    </a>
                                                    {% if user.isActive != true %}
                                                        <a href="{{ path('admin_usuario_enabled', { 'id': user.id }) }}">
                                                            <button class="btn btn-primary btn-xs" title="{{'Activar'|trans}}"><i class="fa fa-check-circle"></i></button>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ path('admin_usuario_disabled', { 'id': user.id }) }}">
                                                            <button class="btn btn-primary btn-xs" title="{{'Desactivar'|trans}}"><i class="fa fa-minus-circle"></i></button>
                                                        </a>
                                                    {% endif %}
                                                    {% if app.user.username != user.username %} 
                                                        {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                                                            <a href="{{ path('admin_landing', {'_want_to_be_this_user': user.username }) }}" onClick="return confirm('{{'¿Está seguro de querer suplantar a ese usuario?'|trans}}');">
                                                                <button class="btn btn-primary btn-xs" title="{{'Suplantar'|trans}}"><i class="fa  fa-male"></i></button>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% elseif rol == 'ROLE_WEB' %}

                                                    <a href="{{ path('admin_usuario_show', { 'id': user.id }) }}">
                                                        <button class="btn btn-success btn-xs"><i class="fa fa-eye"></i></button>
                                                    </a>  
                                                    {% if user.isBanned == false %}
                                                        <a href="{{ path('admin_usuario_ban', {id: user.id}) }}">
                                                            <button class="btn btn-primary btn-xs" title="{{'Banear a este usuario'|trans}}">
                                                                <i class="fa fa-minus-circle"></i>
                                                            </button>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ path('admin_usuario_unban', {id: user.id}) }}">
                                                            <button class="btn btn-primary btn-xs" title="{{'Quitar baneo a este usuario'|trans}}">
                                                                <i class="fa fa-check-circle"></i>
                                                            </button>
                                                        </a>
                                                    {% endif %}

                                                {% endif %}


                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <div class="span6">
                        {#
                          <a href="{{ path('admin_useradministrador_new') }}" class="btn btn-success">{{'Crear una nueva entrada'|trans}}</a>
                          #}
                    </div>
                    <div class="span6">
                        <div class="dataTables_paginate paging_bootstrap pagination withoutbuttons">
                            {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                        </div>
                    </div>                  
                </div>          
            </section>
            <!-- /btns -->

        </div><!-- /col -->
    </div> <!-- /row -->

{% endblock %}