{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Usuario'|trans}}
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    {{'Usuario'|trans}}
                </header>
                <div class="panel-body ">
                    <div class="adv-table">
                        <!--  contentTabla -->
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover" id="hidden-table-info">
                            <tbody>
                                <tr>
                                    <th>{{'Email'|trans}}</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>{{'Estado'|trans}}</th>
                                    <td>{% include 'HotelesBackendBundle:User:status.html.twig' with {'status':user.status}  %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{'Último login'|trans}}</th>
                                    <td>{% if user.lastLogin is not null %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                {% include 'HotelesBackendBundle:User:profile-extended.html.twig' with {'user':user}  %}

                            </tbody>

                        </table>
                        <!--  /contentTabla -->

                    </div> <!-- /addtable -->
                </div> 
            </section>
            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <a href="{{ path('admin_usuario') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
                    {% if user.isSuspended == false %}
                        <a href="{{ path('admin_usuario_disabled', {id: user.id})  }}" class="btn btn-primary">{{'Suspender a este usuario'|trans}}</a>
                    {% else %}
                        <a href="{{ path('admin_usuario_enabled', {id: user.id}) }}" class="btn btn-primary">{{'Quitar suspensión a este usuario'|trans}}</a>
                    {% endif %}
                    {% if user.getTypeOf == 'basico' %}
                        {% if user.isBanned == false %}
                            <a href="{{ path('admin_usuario_ban', {id: user.id}) }}" class="btn btn-primary">{{'Banear a este usuario'|trans}}</a>
                        {% else %}
                            <a href="{{ path('admin_usuario_unban', {id: user.id}) }}" class="btn btn-primary">{{'Quitar baneo a este usuario'|trans}}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </section>
            <!-- /btns -->
        </div><!-- /col -->
    </div><!-- /row -->

{% endblock %}