{% if status == 0 %}
    {{'Habilitado'|trans}}
{% elseif status == 1 %}
    {{ 'Cuenta suspendida'|trans }}
{% elseif status == 2 %}
    {{'Cuenta baneada'|trans}}
{% elseif status == 3 %}
    {{'Oferta pendiente'|trans}}
{% endif %}
