{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}

<div class="contenido">

	<h2>{{'Aviso legal y condiciones del servicio'|trans}}</h2>
	<div class="txtBack">
		{% if content.texto is defined  %}
			{{ content.texto|raw }}
		{% endif%}
	</div>

</div><!-- contenido -->


{% endblock %}
