{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}


    <div class="contenido">

        <h2>{{'Atención al cliente'|trans}}</h2>
        <div class="contacto">
            <div class="left">
                <p>Ponte en contacto con nosotros rellenando el siguiente formulario de contacto. En un breve plazo de tiempo nos pondremos en contacto contigo.</p>
                <p>Si lo prefieres, puedes ponerte en contacto con nosotros por teléfono de lunes a viernes de 9 a 19h.</p>
                <p class="rosa"><span>911 610 156</span></p>
            </div>
            <div class="right">

                {% if app.session.hasFlash('notice') %}
                    <div class="flash-notice">
                        {{ app.session.flash('notice') }}
                    </div>
                {% endif %}

                <form action="{{ path('HotelesFrontendBundle_contacto') }}" method="post" {{ form_enctype(form) }}>

                    <input class="bug" type="text" id="hoteles_backendbundle_contactotype_nombre" name="hoteles_backendbundle_contactotype[nombre]" required="required" maxlength="255" placeholder="{{'Nombre'|trans}}"><br><br>
                    <input type="text" id="hoteles_backendbundle_contactotype_apellidos" name="hoteles_backendbundle_contactotype[apellidos]" required="required" maxlength="255" placeholder="{{'Apellidos'|trans}}" class="longinput"><br><br>
                    <input type="text" id="hoteles_backendbundle_contactotype_email" name="hoteles_backendbundle_contactotype[email]" required="required" maxlength="255" placeholder="{{'Email'|trans}}" class="longinput"><br><br>
                    <textarea id="hoteles_backendbundle_contactotype_texto" name="hoteles_backendbundle_contactotype[texto]" required="required" placeholder="{{'Comentarios'|trans}}"></textarea><br><br>
                    {{ form_widget(form._token) }}
                    {#{{ form_widget(form) }}#}
                    <p>
                        <button type="submit" class="btn_generic">{{'Enviar petición'|trans}}</button>
                    </p>
                </form>
            </div>	
            <div class="clearfix"></div>
        </div>

    </div><!-- contenido -->

    {#
    
    <h2>Contacto</h2>
    
    {% if app.session.hasFlash('notice') %}
        <div class="flash-notice">
            {{ app.session.flash('notice') }}
        </div>
    {% endif %}
    
    <form action="{{ path('HotelesFrontendBundle_contacto') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
    
    #}

{% endblock %}
