{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}

<div class="contenido">

	<h2>{{'Cookies'|trans}}</h2>
	<div class="txtBack">
		{% if content.texto is defined  %}
			{{ content.texto|raw }}
		{% endif%}
	</div>

</div><!-- contenido -->

{% endblock %}
