{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}

<div class="contenido">

	<h2>{{'Preguntas más frecuentes (FAQs)'|trans}}</h2>

	<ol class="faqs" start="1">
		{% for faq in faqs %}
			<li>
				<div class="pregunta"><p>{{ faq.pregunta }}</p></div>
				<div class="respuesta">{{ faq.respuesta }}</div>
				<div class="clearfix"></div>
			</li>

		{% endfor %}
	</ol>

</div><!-- contenido -->

{% endblock %}
