{% extends "HotelesFrontendBundle::layout.mv.twig" %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@HotelesFrontendBundle/Resources/public/js/detalle/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="content_hotel">
        <a href="" onClick="window.history.back();" class="btn_volver"> &lt; VOLVER AL LISTADO</a>
        <div class="hotel">
            <h2 class="name">{{ hotel.nombrehotel }}</h2>
            <ul class="servicios clearfix">
                {% if hotel.piscina == 1 %}
                    <li class="piscina">Piscina
                    </li>
                {% endif %}

                {% if hotel.spa == 1 %}
                    <li class="spa">Spa
                    </li>
                {% endif %}

                {% if hotel.wiFi == 1 %}
                    <li class="wi-fi">Wi-fi
                    </li>        
                {% endif %}

                {% if hotel.accesoAdaptado == 1 %}
                    <li class="acceso-adaptado">Acceso adaptado
                    </li>
                {% endif %}

                {% if hotel.aceptanPerros == 1 %}
                    <li class="perros">Aceptan perros
                    </li>
                {% endif %}

                {% if hotel.aparcamiento == 1 %}
                    <li class="parking">Aparcamiento/Parking
                    </li>
                {% endif %}

                {% if hotel.businessCenter == 1 %}
                    <li class="business-center">Business center
                    </li>
                {% endif %}
            </ul>
            <div class="slidehotel owl-carousel">

                {% set imagen_hoteles_path = hotel.getImagePath %}                    
                {% for imagen in hotel.getOrderedImagenesDelHotel %}
                    {% set ruta_imagen =  imagen_hoteles_path ~ '/' ~imagen.imagen %}
                    <div>
                        <img src="{{ ruta_imagen }}">
                    </div>
                {% endfor %}                                     

            </div>
            {% if hotel.calificacion > 0 %}
                <ul class="estrellas">
                    {% for i in 1..hotel.calificacion %}
                        <li class="star">
                        </li>                
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="clearfix"></div>
            <!-- description -->
            <div class="line"></div> 
            <p><b>Descripción</b></p>
            <p>{{hotel.descripcion}}</p>
            <p><b>Características</b></p>
            <p>{{hotel.caracteristicas}}</p>
            <div class="mapa"> {# style="border-top: solid 1px #d7d7d7;">#}
                <div class="direccion">
                    <p>{{hotel.ubicacion}}</p>
                </div>
                <div class="mapa-detalle">
                    <div id="mapa_det" style="height:290px;" data-longitud="{{hotel.longitud}}" data-latitud="{{hotel.latitud}}" data-titulo="{{hotel.nombrehotel}}"></div>
                </div><!-- /mapa -->
            </div>
        </div>
    </div>

{% endblock %}



