{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@HotelesFrontendBundle/Resources/public/js/detalle/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="contenido hotel_detalle">
        <div class="bqizq">
            <div class="slideFotos">
                <div class="pikachoose" style="width:400px;"> 
                    {% set imagen_hoteles_path = hotel.getImagePath %}
                    <ul id="pikame"> 
                        {% for imagen in hotel.getOrderedImagenesDelHotel %}
                            {% set ruta_imagen =  imagen_hoteles_path ~ '/' ~imagen.imagen %}
                            <li> 
                                <a href="{{ruta_imagen}}"> <img src="{{ruta_imagen}}" style="width:400px;"/> </a> 
                            </li> 
                        {% endfor %}                                     
                    </ul>                     
                </div> 
            </div><!-- slide -->

            <div class="clearfix"></div>
            <div class="direccion">
                {{hotel.ubicacion}}
            </div><!-- /dirección -->

        </div><!-- /bqizq -->
        <div class="bqder">
            <div class="hotel_cont clearfix">
                <h2 class="tit_hotel">{{ hotel.nombrehotel }}</h2>
                <div class="estrellashotel"><img src="/bundles/hotelesfrontend/img/{{hotel.calificacion}}stars.png"></div>
                <div class="clearfix"></div>
                <ul class="servicios clearfix">
                    {% if hotel.piscina == 1 %}
                        <li class="piscina"> Piscina
                        </li>
                    {% endif %}

                    {% if hotel.spa == 1 %}
                        <li class="spa">Spa
                        </li>
                    {% endif %}

                    {% if hotel.wiFi == 1 %}
                        <li class="wi-fi">Wi-fi
                        </li>        
                    {% endif %}

                    {% if hotel.accesoAdaptado == 1 %}
                        <li class="acceso-adaptado">Acceso adaptado
                        </li>
                    {% endif %}

                    {% if hotel.aceptanPerros == 1 %}
                        <li class="perros">Aceptan perros
                        </li>
                    {% endif %}

                    {% if hotel.aparcamiento == 1 %}
                        <li class="parking">Aparcamiento/Parking
                        </li>
                    {% endif %}

                    {% if hotel.businessCenter == 1 %}
                        <li class="business-center">Business center
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="info">
                {#{{ ladybug_dump(hotel) }}#}
                <p><b>{{'Descripción'|trans}}</b></p>
                <p>{{hotel.descripcion}}</p>
                <!-- <input class="timbre" name="hotel1" type="checkbox"> -->
                <p><b>{{'Características'|trans}}</b></p>
                <p>{{hotel.caracteristicas}}</p>
                <a href="#" class="btn_back" onclick="window.history.back();return false;"><i class="icon_back"></i>Volver a la búsqueda</a>
            </div>
        </div><!-- /bqder -->
        <div class="clearfix"></div>
        <div class="mapa-detalle">
            <div id="mapa_det" style="height:290px;" data-longitud="{{hotel.longitud}}" data-latitud="{{hotel.latitud}}" data-titulo="{{hotel.nombrehotel}}"></div>
        </div><!-- /mapa -->
    </div>

{% endblock %}



