{% extends "HotelesFrontendBundle::layout.mv.twig" %}
{% block content %}
    <div class="content_home">
        <!-- bocata -->
        <div class="bocata">
            Haz tu oferta, ahorra<br>y disfruta de tu estancia
            <span class="triangle"></span>
        </div>
        <!-- form ppal. -->

        <form class="form_portada clearfix" id="form-destino-fecha">

            <select id="select-beast" class="selec_ciudad" placeholder="" name="ciudad">
                <option value="">Destino</option>
                {% for hotel in hoteles %}
                    {% if hotel.provincia != '' %}
                        <option value="{{ hotel.provincia.nombre }}">{{ hotel.provincia.nombre }}</option>
                    {% endif %}
                    {% if hotel.municipio != '' %}
                        <option value="{{ hotel.municipio.nombre }}/{{ hotel.municipio.provincia.nombre }}">{{ hotel.municipio.nombre }}/{{ hotel.municipio.provincia.nombre }}</option>
                    {% endif %}
                    {% if hotel.lugar != '' %}
                        <option value="{{ hotel.lugar.provincia.nombre }}/{{ hotel.lugar.municipio.nombre }}/{{ hotel.lugar.zona }}">{{ hotel.lugar.provincia.nombre }}/{{ hotel.lugar.municipio.nombre }}/{{ hotel.lugar.zona }}</option>
                    {% endif %}                                                                
                {% endfor %}                            
            </select>
            <div class="fecha_picker">
                <input type="text" id="fromDate" name="fromDate" class="input_mov ll-skin-lug"/>
                <input type="text" id="toDate" name="toDate"/>
            </div>

            <input type="submit" id="buscar" name="buscar" class="input_mov" >

        </form>

        <!-- vídeo youtube -->
        <a href="https://www.youtube.com/embed/-03y5GizzKQ" class="video"><span>Te explicamos cómo funciona<br>Roomastic</span> en este vídeo</a>
    </div>
    <!-- /content_home -->
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@HotelesFrontendBundle/Resources/public/js/index.js' %}
        <script src="{{asset_url}}"></script>
    {% endjavascripts %}
{% endblock %}
