<div>
    {% for objetohotel in hoteles %}
        <div class="single_hotel clearfix  stars-{{ objetohotel.hotel.calificacion }} {{objetohotel.hotel.filtroServicios}}" id="hotel-summary-{{objetohotel.hotel.id}}">

            <div class="clearfix">

                <img class="estrellas_hotel" src="/bundles/hotelesfrontend/img/{{ objetohotel.hotel.calificacion }}stars.png" alt="{{ objetohotel.hotel.calificacion }} estrellas">

                <div class="cont_img">
                    {% if objetohotel.imagenes|length > 0 %}
                        <a href="" title=""><img height="152" width="215" src="/uploads/hoteles/{{ objetohotel.imagenes[0].imagen }}" alt=""></a>
                        {% endif %}
                </div>

                <div class="hotel_cont clearfix">
                    <h2 class="tit_hotel">{{ objetohotel.hotel.nombrehotel }}</h2>

                    <ul class="servicios clearfix">
                        {% if objetohotel.hotel.piscina == 1 %}
                            <li class="piscina">Piscina</li>
                            {% endif %}
                            {% if objetohotel.hotel.spa == 1 %}
                            <li class="spa">Spa</li>
                            {% endif %}
                            {% if objetohotel.hotel.wiFi == 1 %}
                            <li class="wi-fi">Wi-fi</li>
                            {% endif %}
                            {% if objetohotel.hotel.accesoAdaptado == 1 %}
                            <li class="acceso-adaptado">Acceso adaptado</li>
                            {% endif %}
                            {% if objetohotel.hotel.aceptanPerros == 1 %}
                            <li class="perros">Aceptan perros</li>
                            {% endif %}
                            {% if objetohotel.hotel.aparcamiento == 1 %}
                            <li class="parking">Aparcamiento/Parking</li>
                            {% endif %}
                            {% if objetohotel.hotel.businessCenter == 1 %}
                            <li class="business-center">Business center</li>
                            {% endif %}
                    </ul>

                    <div class="botones_hotel">
                        <a class="detalle" href="#" title="">DETALLE</a>
                        <a class="abrir_map" href="#" title="">mapa</a>
                        <input class="timbre" name="hotel1" type="checkbox" data-hotel-id="{{objetohotel.hotel.id}}">
                        <!--<a class="timbre" href="#" title="">toca el timbre</a>-->
                    </div><!-- botones_hotel -->

                </div><!-- hotel_cont -->

            </div><!-- clearfix -->


            <div class="desplegable clearfix slideFotosList">
                <ul class="galeria clearfix pikame_listado" >
                    {% if objetohotel.imagenes|length > 0 %}
                        {% for imagen in objetohotel.imagenes %}
                            <li>
                                <a href="/uploads/hoteles/{{imagen.imagen}}" title=""><img height="48" width="70" src="/uploads/hoteles/{{imagen.imagen}}" alt=""></a>
                            </li>
                        {% endfor %}
                    {% endif %}                                        
                </ul>
                <div class="hotel_desc">
                    <p>{{ objetohotel.hotel.descripcion }}</p>
                    <p>{{ objetohotel.hotel.caracteristicas }}</p>
                    <a class="mas_dets rosa" href="{{ path('HotelesFrontendBundle_detallehotel', { 'nombrehotel': objetohotel.hotel.url }) }}" title="">Ver todos los detalles del hotel</a>
                </div>
            </div><!-- desplegable -->

            <div class="desplegable_mapa clearfix">

                <div class="mapa" style="height:150px;" data-hotel-id="{{objetohotel.hotel.id}}" data-longitud="{{objetohotel.hotel.longitud}}" data-latitud="{{objetohotel.hotel.latitud}}"></div>

            </div><!-- desplegable -->

        </div><!-- single_hotel -->

    {% endfor %}
</div>