{% extends "HotelesFrontendBundle::layout.mv.twig" %}
{% block javascripts %}
    {{parent()}}
    <script>
        if (typeof ROOMASTIC === 'undefined') {
            ROOMASTIC = {};
        }
        ROOMASTIC.googleID = '{{configuracion.googAppId}}';
        ROOMASTIC.googleapikey = '{{configuracion.googApiKey}}';
    </script>
    {% javascripts '@HotelesFrontendBundle/Resources/public/js/oferta.js'
                    '@HotelesFrontendBundle/Resources/public/js/plugins/moment.js' 
                    '@HotelesFrontendBundle/Resources/public/js/plugins/sweet-alert.js'                     
                    '@HotelesFrontendBundle/Resources/public/js/facebook_login.js' 
                    '@HotelesFrontendBundle/Resources/public/js/google_login.js' 
    %}
    <script src="{{asset_url}}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    {% stylesheets 'bundles/hotelesfrontend/css/plugins/minimal.mv.css'  
            'bundles/hotelesfrontend/css/plugins/sweet-alert.css'
            'bundles/hotelesfrontend/css/oferta.mv.css'            
                filter='cssrewrite'%}       
    <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}
{% endblock %}

{% block modal %}
    <div class="modalregister">
        <div class="header">
            <a href="#" class="close">X</a>
        </div>
        <div class="body">
            <div class="registro">

                <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post" id="formlogin" {{ form_enctype(form) }}>
                    <div class="errorlogin"></div>

                    <h2 class="form-signin-heading">{{'Debes estar registrado para'|trans}}<br> {{'hacer tu oferta'|trans}}</h2>


                    <div class="login-wrap ">
                        <p class="tit">{{'Acceso'|trans}}</p>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <input type="text" class="form-control" placeholder="{{'Usuario'|trans}}" name="_username" value="{% if last_username is defined %} {{last_username}} {% endif %}" autofocus>
                        <input type="password" class="form-control" placeholder="{{'Contraseña'|trans}}" name="_password">

                        <button class="btn btn-lg btn-login btn-block" type="submit">{{'Acceder'|trans}}</button>
                        <p class="forgor_ps">
                            <a href="{{path('fos_user_resetting_request')}}"> {{'¿Has olvidado tu contraseña?'|trans}}</a>
                        </p>

                        <p>{{'O accede con tus redes sociales:'|trans}}</p>

                        <div class="login-social-link">
                            <a href="#" class="facebook fontello login-rrss">
                                <i class="icon-facebook-1"></i>
                                <!--Facebook-->
                            </a>

                            <a href="#" class="google login-rrss">
                                <i class="icon-gplus"></i>
                                <!-- google + -->
                            </a>
                        </div>

                    </div><!-- /left -->

                    <div class="login-wrap ">
                        <p class="tit">{{'Registro'|trans}}</p>
                        <p class="alignleft">{{'Puedes registrarte directamente en nuestra web:'|trans}}</p>

                        <button class="btn btn-lg btn-login btn-block showregister" type="submit">{{'REGISTRO EN LA WEB'|trans}}</button>

                        <p class="alignleft">{{'O con tu cuenta de usuario en alguna de estas redes sociales:'|trans}}</p>


                        <div class="login-social-link">

                            <a href="#" class="facebook fontello login-rrss">
                                <i class="icon-facebook-1"></i>
                                <!--Facebook-->
                            </a>
                            <div id="fb-root"></div>
                            <script>
        if (typeof ROOMASTIC === 'undefined') {
            ROOMASTIC = {};
        }
        ROOMASTIC.facebookAppId = '{{ configuracion.fbappid }}';
        ROOMASTIC.state = '{{ csrf_token }}';
        (function () {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
                            </script>

                            <a href="#" class="google special login-rrss">
                                <i class="icon-gplus"></i>
                                <!-- google + -->

                                <!-- google + -->
                                <script type="text/javascript">
                                    (function () {
                                        var po = document.createElement('script');
                                        po.type = 'text/javascript';
                                        po.async = true;
                                        po.src = 'https://plus.google.com/js/client:plusone.js?onload=googleReady';
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(po, s);
                                    })();


                                </script>
                            </a>
                        </div>


                    </div><!-- /right -->
            </div>
            <div class="clearfix"></div>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display:none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{'¿Has olvidado la contraseña?'|trans}}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{'Escribe tu email y te reenviaremos una nueva contraseña'|trans}}</p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">{{'Cancelar'|trans}}</button>
                            <button class="btn btn-success" type="button">{{'Enviar'|trans}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->

            </form><!-- form-signin -->


        </div>
        <!--/body -->


        <div class="bodyregister hide">

            <div class="registro nuevo_reg">


                <form class="form-signin" action="{{ path('HotelesFrontendBundle_registroajax') }}" id="formregister" method="post" {{ form_enctype(formRegister) }}>

                    <h2 class="form-signin-heading">{{'Nuevo registro en la web'|trans}}</h2>
                    <div class="login-wrap">
                        <div class="input_newreg">

                            {{ form_widget(formRegister.nombre, { 'attr': {'class': 'form-control width1','placeholder': 'Nombre'|trans} }) }}  

                            {{ form_widget(formRegister.apellidos, { 'attr': {'class': 'form-control width2','placeholder': 'Apellidos'|trans} }) }}   

                            {{ form_widget(formRegister.direccioncompleta, { 'attr': {'class': 'form-control width3','placeholder': 'Dirección completa (Campo no obligatorio)'|trans} }) }}    

                            {{ form_widget(formRegister.dni, { 'attr': {'class': 'form-control width1','placeholder': 'DNI (Para dar veracidad a tu oferta)'|trans} }) }}

                            {{ form_widget(formRegister.telefono, { 'attr': {'class': 'form-control width1','placeholder': 'Teléfono (Para contactarte en caso de cambios en la reserva)'|trans} }) }}    

                            {{ form_widget(formRegister.email, { 'attr': {'class': 'form-control width3','placeholder': 'Email'|trans} }) }}

                            {{ form_widget(formRegister.password.first, { 'attr': {'class': 'form-control width6','placeholder': 'Contraseña'|trans} }) }}

                            {{ form_widget(formRegister.password.second, { 'attr': {'class': 'form-control width7','placeholder': 'Repite contraseña'|trans} }) }}    


                            <div class="clearfix"></div>

                            <button type="submit" class="btn btn-lg btn-login btn-block w-es" >{{'Guardar datos y hacer oferta'|trans}}</button>
                            {{ form_rest(formRegister) }}
                        </div>
                    </div>
                </form>  
            </div>

        </div>

        <div class="bodyregisterextra hide">

            <div class="registro nuevo_reg">


                <form class="form-signin" action="{{ path('HotelesFrontendBundle_registroextraajax') }}" id="formregisterextra" method="post"  {{ form_enctype(formRegisterextra) }}>
                    <h2 class="form-signin-heading">{{'Completa tu registro para'|trans}}<br> {{'hacer tu oferta'|trans}}</h2>
                    <div class="login-wrap">
                        <div class="input_newreg">

                            {{ form_widget(formRegisterextra.nombre, { 'attr': {'class': 'form-control width1 nombre','placeholder': 'Nombre'|trans} }) }}  

                            {{ form_widget(formRegisterextra.apellidos, { 'attr': {'class': 'form-control width2 apellidos','placeholder': 'Apellidos'|trans} }) }}   

                            {{ form_widget(formRegisterextra.direccioncompleta, { 'attr': {'class': 'form-control width3 direccion','placeholder': 'Dirección completa (Campo no obligatorio)'|trans} }) }}

                            {{ form_widget(formRegisterextra.dni, { 'attr': {'class': 'form-control width1 dni','placeholder ': 'DNI (Para dar veracidad a tu oferta)'|trans} }) }}

                            {{ form_widget(formRegisterextra.telefono, { 'attr': {'class': 'form-control width1 telefono','placeholder': 'Teléfono (Para contactarte en caso de cambios en la reserva)'|trans} }) }}    

                            {{ form_widget(formRegisterextra.email, { 'attr': {'class': 'form-control width3 email','placeholder': 'Email'|trans} }) }}

                            <div class="clearfix"></div>

                            <button type="submit" class="btn btn-lg btn-login btn-block w-es">{{'Guardar datos y hacer oferta'|trans}}</button>

                            <div class="clearfix"></div>

                        </div>
                    </div>
                    {{ form_rest(formRegisterextra) }}
                </form>  

            </div>

        </div><!--/bodyregisterextra -->

    </div>
</div>
{% endblock %}

{% block content %}


    <div class="wpregistro">
        <div class="oferta">
            <form action="" method="post" id="formoferta">
                {{ form_widget(form._token_oferta) }}


                <div id="tabsWithStyle" class="style-tabs">
                    <div class="clearfix"></div>
                    <div id="tabs-1">
                        <h2>¿Cuánto estás dispuesto a pagar?</h2>
                        <p>El precio debe ser por noche, habitación doble y en régimen de alojamiento.Los precios oficiales de los hoteles que has seleccionado rondan entre los <b>{{precio_hotel_min}} € y los {{precio_hotel_max}}  €</b>
                        (Algunos hoteles ofrecen desayuno o media pensión incluido)</p>
                        {{ form_widget(form.preciohabitacion, { 'attr': {'type': 'number','placeholder': 'Precio', 'tabindex':'0'} }) }}
                    </div>

                    <div class="clearfix separadortabs"></div>

                    <div id="tabs-2">
                        <h2>Número de noches</h2>
                        <div class="fecha_picker">
                            {{ form_widget(form.fecha, { 'attr': {'value': fecha_inicio|date('d/m/y') ~ ' - ' ~ fecha_fin|date('d/m/y'), 'tabindex':'1', 'class': 'select_fecha hide', 'placeholder': 'Fechas'} }) }}

                            <input type="text" id="fromDate" name="fromDate" class="input_mov ll-skin-lug" placeholder="Entrada" data-from-date="{{fecha_inicio|date('d-m-y')}}"/>
                            <input type="text" id="toDate" name="toDate" placeholder="Salida" data-to-date="{{fecha_fin|date('d-m-y')}}"/>
                        </div>
                        <p>Total número de noches {{ form_widget(form.numnoches, { 'attr': {'value': num_noches,'placeholder': '3','readonly':''} }) }}</p>

                    </div>

                    <div class="clearfix separadortabs"></div>

                    <div id="tabs-3">
                        <h2>Selecciona el número de huéspedes</h2>
                        <p>
                            <label>Adultos</label>
                            {{ form_widget(form.numadultos, { 'attr': {'value':  '1' ,'placeholder': '1', 'tabindex':'2', 'class': 'select_adultos' } }) }}
                        </p>
                        <p>
                            <label>Niños hasta 3 años</label>
                            {{ form_widget(form.numninos, { 'attr': {'value': '0','placeholder': '0', 'tabindex':'3', 'class': 'select_ninios' } }) }}
                        </p>
                    </div>

                    <div class="clearfix separadortabs"></div>

                    <div id="tabs-4">
                        <h2>Selecciona el número de habitaciones</h2>
                        <p>
                            <label>Habitaciones</label>
                            {{ form_widget(form.numhabitaciones, { 'attr': {'value': '1','placeholder': '1', 'tabindex':'4', 'class': 'select_habs' } }) }}
                        </p>

                    </div>

                    <div class="clearfix separadortabs"></div>

                    <div id="tabs-5">
                        <h2>Hoteles</h2>

                        <ul class="hoteles">
                            {% for hotel in hoteles %}
                                <li class="hotel_li">
                                    <input type="checkbox" class="checkbox-oferta" name="hoteles[id][]" id="{{ hotel.id }}" value="{{ hotel.id }}" checked>
                                    <label for="Hotel Diamante Suites">{{ hotel.nombrehotel }}</label>
                                </li>
                            {% endfor %}                    
                        </ul>
                    </div>

                </div><!-- tabs -->

                <div class="clearfix separadortabs"></div>


                <!-- Resumen oferta -->
                <div class="resumenOferta">
                    <h3>Precio total de tu oferta</h3>
                    <div class="caja">
                        <p>En base a la configuración que nos acabas de facilitar, este será el precio total que vas a ofertar a los hoteles seleccionados:</p>

                        {{ form_widget(form.preciototaloferta, { 'attr': {'value': '','placeholder': '0','readonly':''} }) }}
                        <div class="clearfix"></div>

                        <div class="acepto1 clearfix">
                            <input type="checkbox" id="acepto1" class="checkbox-oferta" name="acepto_condiciones" required>
                            <label for="acepto1">Acepto las condiciones de venta y de uso de esta web.</label>
                        </div>

                        <div class="acepto2 clearfix">
                            <input type="checkbox" id="acepto2"  class="checkbox-oferta" name="acepto_suscribirme">
                            <label for="acepto2">Acepto suscribirme al boletín de noticias RooMail</label>
                        </div>
                        <div class="validaoferta">
                            {% if app.user  %}
                                {% set title = 'Ya puedes hacer tu oferta' %}
                            {% else %}
                                {% set title = 'Todavia tienes que loguearte' %}

                            {% endif %}
                            <a class="btn_oferta"  title="{{title}}" style="cursor: pointer;" >hacer oferta <span class="decoration"></span></a>                        
                        </div>
                    </div><!-- caja -->
                </div><!-- resumenOferta -->
            </form>
        </div>
    </div>
    <!-- /opciones -->
{% endblock %}