{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}


<div class="contenido oferta_ok">

	<h2>{{'Confirmación de oferta enviada'|trans}}</h2>
	<p>{{'Si tienes alguna duda, puedes ponerte en contacto con nosotros.'|trans}}</p>
	<p>{{'Muchas gracias por utilizar Roomastic.'|trans}}</p>
	<div class="separador"></div>

	<div class="bq">
		<div class="txt1">
			<p><span>Tu oferta ha sido enviada correctamente</span></p>
			<p>Los establecimientos que has seleccionado han recibido correctamente tu oferta.</p>
			<p>Permanece <b>atento al email que nos has facilitado</b>, ya que los hoteles se pondrán en contacto contigo mediante esta vía.</p>	
		</div>
	</div>
	<div class="separador no-margin"></div>

</div>



{% endblock %}
