{% extends "HotelesFrontendBundle::layout.mv.twig" %}

{% block content %}
    <div class="contenido">
        <h2>{{'CONDICIONES PARTICULARES Y PRIVACIDAD'|trans}}</h2>
        <div class="txtBack">
            {% if content.texto is defined  %}
                {{ content.texto|raw }}
            {% endif%}
        </div>
    </div><!-- contenido -->
{% endblock %}
