{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}

    <div class="contenido">

        <h2>{{'Publica tu hotel'|trans}}</h2>
        <div class="contacto">
            <div class="left">
                {% if content.texto is defined  %}
                    {{ content.texto|raw }}
                {% endif %}

            </div>
            <div class="right">

                {% if app.session.hasFlash('notice') %}
                    <div class="flash-notice">
                        {{ app.session.flash('notice') }}
                    </div>
                {% endif %}

                <form action="{{ path('HotelesFrontendBundle_contacto') }}" method="post" {{ form_enctype(form) }}>

                    <input class="bug" type="text" id="hoteles_backendbundle_contactotype_nombre" name="hoteles_backendbundle_contactotype[nombre]" required="required" maxlength="255" placeholder="{{'Nombre'|trans}}"><br><br>
                    <input type="text" id="hoteles_backendbundle_contactotype_apellidos" name="hoteles_backendbundle_contactotype[apellidos]" required="required" maxlength="255" placeholder="{{'Apellidos'|trans}}" class="longinput"><br><br>
                    <input type="text" id="hoteles_backendbundle_contactotype_email" name="hoteles_backendbundle_contactotype[email]" required="required" maxlength="255" placeholder="{{'Email'|trans}}" class="longinput"><br><br>
                    <textarea id="hoteles_backendbundle_contactotype_texto" name="hoteles_backendbundle_contactotype[texto]" required="required" placeholder="{{'Comentarios'|trans}}"></textarea><br><br>
                    {{ form_widget(form._token) }}

                    {#{{ form_widget(form) }}#}
                    <p>
                        <button type="submit" class="btn_generic">{{'Enviar petición'|trans}}</button>
                    </p>
                </form>
            </div>	
            <div class="clearfix"></div>
        </div>

    </div><!-- contenido -->

    {#
    
    <h2>Publica tu hotel</h2>
    {% if content.texto is defined  %}
    {{ content.texto|raw }}
    {% endif %}
    #}
{% endblock %}
