{% extends "HotelesFrontendBundle::layout.mv.twig" %}

{% block content %}
    <div class="contenido">
        <h2>{{'¿Quiénes somos?'|trans}}</h2>
        <div class="txtBack quienesSomos">

            {% if content.texto is defined  %}
                <span>	{{ content.texto|raw }}</span>
            {% endif%}
        </div>
    </div><!-- contenido -->
{% endblock %}
