{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Seo</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Seccion</th>
            <td>{{ entity.seccion }}</td>
        </tr>
        <tr>
            <th>Seotitulo</th>
            <td>{{ entity.seotitulo }}</td>
        </tr>
        <tr>
            <th>Seodescripcion</th>
            <td>{{ entity.seodescripcion }}</td>
        </tr>
        <tr>
            <th>Seokeywords</th>
            <td>{{ entity.seokeywords }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_seo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_seo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_seo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}