{# empty Twig template #}


{# empty Twig template #}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Roomastic</title>
</head>
<body>  
    <table width="812" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
        <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
            <!-- header -->
            <tr>
                <td height="54" width="100%">&nbsp;</td>
            </tr>   
            <tr>
                <td>
                    <img src="https://roomastic.com/bundles/hotelesfrontend/img/logo.png" width="146" height="45" border="0" style="display:block;" />
                </td>
            </tr>
            <tr>
                <td height="54" width="100%">&nbsp;</td>
            </tr><!-- / header -->
            
            <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                    <p style="font-weight:bold; font-size:29px; margin:0;">AVISO DE CANCELACIÓN DE CUENTA</p>
                    <p>Código de la oferta: {{sale.orderNumber}}</p>
                    <br />

                    <p>Sentimos comunicarte que, siguiendo la política de funcionamiento de Roomastic, nos hemos visto obligados a bloquear tu cuenta de usuario, por lo que no podrás seguir aprovechándote de viajar al precio que tú elijas desde nuestra página.</p>
                    <p>Si esto ha sido un fallo y estás dispuesto a seguir adelante con tu oferta, pone en contacto con nosotros a través del 911 610 156 y cuéntanos tu caso.</p>
                    <p>Un saludo,</p>
                    <p>El equipo de Roomastic.</p>
                </td>   
            </tr>
    
            <!-- footer -->
           <tr><td height="127">&nbsp;</td></tr>    
           <tr>
                <td style="border-top:2px solid #e9e9e9; text-align:center; font-family:Arial, Helvetica, sans-serif;">
                    <p style="height:10px;">&nbsp;</p>
                    <span style="color:#e52e81; font-weight:bold; font-size:16px;">Teléfono de atención al cliente</span><br />
                    <span style="color:#e52e81; font-weight:bold; font-size:27px;">911 610 156</span><br /><br />
                </td>
           </tr>    
           <tr>
                <td style="font-size:9px; color:#6c6c6c; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                     este email ha sido enviado de manera automática por <span style="text-decoration:none; color:#474747;">roomastic.com</span> © Copyright. Todos los derechos reservados. 
                </td>
           </tr>
            <!-- /footer -->
            
        </table><!-- table content -->
    </table><!-- table margen -->
</body>
</html>