{% if user.getTypeOf == 'admin' %}
    <tr>
        <th>{{'Nombre publico'|trans}}</th>
        <td>{{ user.getPublicUsername}}</td>
    </tr>
{% elseif user.getTypeOf == 'hotel' %}
    <tr>
        <th>{{'Nombre completo'|trans}}</th>
        <td>{{ user.getNombreCompleto}}</td>
    </tr>
    <tr>
        <th>{{'Administrador'|trans}}</th>
        <td>
            {% if user.isAdmin %}
                {{'Si'|trans}} 
            {%else%}
                {{'No'|trans}}
            {%endif%}
        </td>
    </tr>
    <tr>
        <th>{{'Hotel'|trans}}</th>
        <td>{{ user.hotel.nombrehotel}}</td>
    </tr>
{% elseif user.getTypeOf == 'empresa' %}
    <tr>
        <th>{{'Nombre completo'|trans}}</th>
        <td>{{ user.getNombreCompleto}}</td>
    </tr>
    <tr>
        <th>{{'Empresa'|trans}}</th>
        <td>{{ user.empresa.nombreempresa}}</td>
    </tr>
{% elseif user.getTypeOf == 'basico' %}
    <tr>
        <th>{{'Nombre completo'|trans}}</th>
        <td>{{ user.getNombreCompleto}}</td>
    </tr>
    <tr>
        <th>{{'DNI'|trans}}</th>
        <td>{{ user.dni}}</td>
    </tr>
    <tr>
        <th>{{'Direccion'|trans}}</th>
        <td>{{ user.direccioncompleta}}</td>
    </tr>
    <tr>
        <th>{{'Teléfono'|trans}}</th>
        <td>{{ user.telefono}}</td>
    </tr>
    <tr>
        <th>{{'Origen'|trans}}</th>
        <td>{{ user.origin}}</td>
    </tr>
{% else %}
{% endif %}