{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear quiénes somos'|trans}}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Crear quiénes somos'|trans}}
        </header>
        <div class="panel-body {{ error(form_errors(form.texto)) }}">
            <form role="form" action="{{ path('admin_quienessomos_create') }}"  method="post" {{ form_enctype(form) }}>
                <label for="exampleInputEmail1">{{'Texto'|trans}}</label>
                <!--wysihtml5 start-->
                {{ form_errors(form.texto) }}
                {{ form_widget(form.texto, { 'attr': {'class': 'wysihtml5 form-control', 'rows': '10'} }) }}       
                {{ form_rest(form) }}
                <!--wysihtml5 end-->
        </div>
    </section>
    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-success">{{'Crear'|trans}}</button>   
            </form><!-- / form edit -->
               {#x<a href="{{ path('admin_homeconfiguracion') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>#}
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->


{#

<h1>Quienessomos creation</h1>

              <!--wysihtml5 start-->
              <div class="row">
                  <div class="col-md-12">
                      <section class="panel">
                          <header class="panel-heading">
                              WYSIWYG Editors
                              <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                              </span>
                          </header>
                          <div class="panel-body">

                                <form action="{{ path('admin_quienessomos_create') }}" class="form-horizontal tasi-form" method="post" {{ form_enctype(form) }}>
                                    <label class="control-label col-md-3">Texto</label>
                                          <div class="col-md-9">
                                                {{ form_errors(form.texto) }}
                                                {{ form_widget(form.texto, { 'attr': {'class': 'wysihtml5 form-control', 'rows': '10'} }) }}       

                                            </div>
    {{ form_rest(form) }}

                                  
                                

                          </div>
                      </section>
                  </div>
              </div>
              <!--wysihtml5 end-->



    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_quienessomos') }}">
            Back to the list
        </a>
    </li>
</ul>
#}
{% endblock %}