{% set marcado = '50' %}
{% if app.request.query.get('show') %}
    {% set marcado = app.request.query.get('show') %}
{% endif %}
{% set valores = ['25', '50', '75'] %}
<label>
    <select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall" id="numSelect">
        {% for v in valores %}
            <option value="{{ v }}" {% if v == marcado %}selected="selected"{% endif %}>{{ v }}</option>
        {% endfor %}
    </select> 
    {{'Resultados por página'|trans}}
</label>
