{% if app.session.hasFlash('success') %}
    <!-- aviso éxito -->
    <div class="row">
      <div class="col-lg-6">
        <section class="panel">
           <div class="alert alert-success alert-block fade in">
              <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="fa fa-times"></i>
              </button>
              <h4>
                  <i class="fa fa-ok-sign"></i>
                  {{ cabecera }}
              </h4>
              <p>{{ app.session.flash('success') }}</p>
          </div>
        </section>
      </div>
    </div>
    <!-- / aviso éxito -->
{% endif %}

