@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    color: #474747;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*** FONT STYLE ***/
/* Tamaño */
/* Estilo */
/* Color */
/* FontFace */
/*** FONTELLO ***/
@font-face {
    font-family: 'fontello';
    src: url("../css/font/fontello.eot?64424624");
    src: url("../css/font/fontello.eot?64424624#iefix") format("embedded-opentype"), url("../css/font/fontello.woff?64424624") format("woff"), url("../css/font/fontello.ttf?64424624") format("truetype"), url("../css/font/fontello.svg?64424624#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

/*
 .fontello {
     @include declare-font-face(fontello, fontello.eot?64424624, normal, normal, normal) ; 
 }
*/
.icon-facebook-1:before {
    content: '\e802';
}

/* '' */
.icon-gplus:before {
    content: '\e803';
}

/* '' */
.icon-twitter-1:before {
    content: '\e804';
}

/* '' */
/*** BORDER RADIUS ***/
/*** GRADIENT ***/
.degradado {
    background-color: #a80c59;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e72f82), to(#a80c59));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e72f82, #a80c59);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e72f82, #a80c59);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e72f82, #a80c59);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e72f82, #a80c59);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e72f82, #a80c59);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}

.btn {
    background-color: #a80c59;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e72f82), to(#a80c59));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e72f82, #a80c59);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e72f82, #a80c59);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e72f82, #a80c59);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e72f82, #a80c59);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e72f82, #a80c59);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
    color: #ffffff;
    font-size: 14px;
    /* Approximation due to font substitution */
    font-weight: 700;
    display: block;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    padding: 5px 20px;
}

/*** BRILLO ***/
/*.brillo { @include brightness(0.5); }*/
.brillo {
    opacity: 0.5;
}

/*  PREFIX   */
/*@include vendor-prefix(box-sizing, border-box);*/
.left {
    float: left;
}

.right {
    float: right;
}

.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.line {
    border-top: 1px solid #d7d7d7;
    height: 1px;
    margin: 38px 0;
}

/* PAGE STRUCTURE */
.wrapper {
    width: 700px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    padding: 0 30px;
    border:solid red 1px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.headerpg {
    padding: 30px 0;
}
.headerpg a {
    background: url(../img/mv/logo.png) 0 0 no-repeat;
    display: block;
    text-indent: -1000px;
    width: 206px;
    height: 63px;
}

.footer {
    margin-top: 60px;
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
    color: #c0c0c0;
}
.footer ul {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 10px;
    margin: 0;
}
.footer ul li {
    float: left;
    width: 318px;
    list-style: none;
    border-right: 1px solid #c0c0c0;
    text-align: center;
}
.footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #c0c0c0;
    font-size: 17px;
}
.footer ul li a.web {
    background: url(../img/mv/footericon_web.png) 249px 3px no-repeat;
    padding-right: 60px;
    height: 40px;
    display: block;
    line-height: 40px;
}
.footer ul li a.legal {
    background: url(../img/mv/footericon_legal.png) 268px 3px no-repeat;
    padding-right: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
}
.footer ul li.last {
    border: none;
}
.footer p {
    text-align: center;
    padding: 25px 0;
}

/*** ELEMENTOS COMUNES ****/
input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea {
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    width: 100%;
    margin-bottom: 30px;
    padding: 18px 25px;
    font-size: 31px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.btn_volver {
    background: #262626;
    color: white;
    border: 0;
    width: auto;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 31px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    font-weight: bold;
    padding: 20px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.servicios {
    margin-bottom: 30px;
}
.servicios li {
    float: left;
    text-indent: -1000px;
    background-image: url("../img/mv/sprite_servicios.png");
    background-position: no-repeat;
    height: 30px;
    margin-right: 20px;
}
.servicios li.piscina {
    background-position: 0 0px;
    width: 43px;
}
.servicios li.spa {
    background-position: -60px 0px;
    width: 34px;
}
.servicios li.wi-fi {
    background-position: -113px 0px;
    width: 33px;
}
.servicios li.acceso-adaptado {
    background-position: -169px 0px;
    width: 22px;
}
.servicios li.perros {
    background-position: -210px 0px;
    width: 38px;
}
.servicios li.parking {
    background-position: -270px 0px;
    width: 28px;
}
.servicios li.business-center {
    background-position: right 0px;
    width: 30px;
}

.separador {
    width: 100%;
    border-top: 2px solid #d7d7d7;
    padding-bottom: 34px;
}

/*** HOME  ***/
.content_home .bocata {
    width: auto;
    background-color: #a80c59;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e72f82), to(#a80c59));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e72f82, #a80c59);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e72f82, #a80c59);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e72f82, #a80c59);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e72f82, #a80c59);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e72f82, #a80c59);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font-size: 51px;
    color: white;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 45px;
    position: relative;
}
.content_home .bocata .triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #a80c59;
    position: absolute;
    bottom: -20px;
    left: 37px;
}
.content_home input[type="submit"] {
    background: url("../img/mv/lupa.png") 450px 24px no-repeat #262626;
    color: white;
    border: 0;
    width: auto;
    text-align: center;
    font-size: 31px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    font-weight: bold;
    padding: 20px 0;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.content_home .video {
    margin: 50px 0 30px 0;
    background: url("../img/mv/icon_player.png") left center no-repeat;
    padding-left: 152px;
    display: block;
    color: #262626;
    font-size: 34px;
    text-decoration: none;
}
.content_home .video span {
    font-weight: bold;
}

/* selectize :: Lugar y fecha */
.selectize-input,
.select_fecha,
.selectize-input .focus {
    height: 80px;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    width: 100%;
    padding: 8px 25px;
    font-size: 31px;
    font-family: 'PT Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
}

.selectize-input input,
.selectize-dropdown [data-selectable] {
    color: #474747;
    font-size: 31px;
    font-family: 'PT Sans', sans-serif;
    /* Approximation due to font substitution */
}

.selectize-input {
    position: relative;
    line-height: 15px;
    font-size: 31px;
    background-image: none !important;
    background-position: 100% center !important;
    background-repeat: no-repeat !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.selectize-input input {
    font-size: 31px;
    position: absolute !important;
    top: 0 !important;
    left: 10px !important;
    height: 31px !important;
    line-height: 31px !important;
}

.selectize-input.selec_ciudad {
    border: none !important;
}

.select_fecha {
    cursor: pointer;
    background-image: url(../img/mv/calendar.png);
    background-position: 95% center;
    background-repeat: no-repeat;
    width: 180px;
}

.fecha_picker {
    margin-top: 30px;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: pointer;
    font-size: 31px;
    height: 77px!important;
    padding-left: 13px!important;
    line-height: 54px!important;
}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border: 1px solid #d7d7d7;
}

.selectize-input.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*** AVISO ***/
.content_aviso h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
}
.content_aviso h3 {
    font-weight: bold;
}
.content_aviso p, .content_aviso h3 {
    font-size: 31px;
    color: #262626;
    line-height: normal;
    margin: 50px 0;
}

/*** HOTEL ***/
.content_hotel {
    /* hotel */
}
.content_hotel h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: normal;
}
.content_hotel p {
    font-size: 31px;
    color: #262626;
    line-height: normal;
}
.content_hotel .hotel {
    border-top: solid 1px #d7d7d7;
    margin-top: 30px;
    padding-top: 30px;
}
.content_hotel .hotel h2.name {
    margin: 0 0 30px 0;
}
.content_hotel .hotel p {
    margin-bottom: 50px;
}
.content_hotel .hotel .slidehotel {
    margin-bottom: 36px;
    max-width: 640px;
    max-height: 448px;
    overflow: hidden;
}
.content_hotel .hotel .mapa {
    border-top: solid 1px #d7d7d7;
}
.content_hotel .hotel .mapa .direccion {
    background: url(../img/mv/icon_home.png) 0 20px no-repeat;
    margin-bottom: 20px;
    padding: 20px 0 0px 79px;
}
.content_hotel .hotel .mapa .direccion p {
    margin-bottom: 0;
}
.content_hotel .hotel .mapa #map_det {
    height: 497px;
    width: 100%;
}
.content_hotel .hotel .estrellas .star {
    background: url(../img/mv/star.png) 0 0px no-repeat;
    float: left;
    width: 29px;
    height: 28px;
    margin-right: 14px;
}

/*** LISTADO ***/
.content_listado .btn_opciones {
    color: white;
    border: 0;
    width: auto;
    display: block;
    text-decoration: none;
    font-size: 31px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    font-weight: bold;
    padding: 20px 0 20px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/mv/icon_menu.png) 564px 19px no-repeat #262626;
}
.content_listado .singlehotel {
    border-top: 1px solid #d7d7d7;
    padding-top: 28px;
    margin-top: 28px;
}
.content_listado .singlehotel .estrellas {
    margin-top: 30px;
}
.content_listado .singlehotel .estrellas .star {
    background: url(../img/mv/star.png) 0 0px no-repeat;
    float: left;
    width: 29px;
    height: 28px;
    margin-right: 14px;
}
.content_listado .singlehotel .estrellas .last {
    margin-right: 0px;
}
.content_listado .singlehotel .visual {
    margin-right: 26px;
    width: 225px;
}
.content_listado .singlehotel .dates {
    text-align: left;
}
.content_listado .singlehotel .dates h2.name {
    margin: 0 0 30px 0;
    font-size: 31px;
    max-width: 385px;
}
.content_listado .singlehotel .dates h2.name a {
    text-decoration: none;
    color: #474747;
}
.content_listado .singlehotel.last {
    padding-bottom: 67px;
}

/* iCheck Timbre
----------------------------------- */
.icheckbox_timbre,
.iradio_timbre {
    float: right;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 380px;
    height: 78px;
    background: url(../img/mv/sprite_seleccionar.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_timbre {
    background-position: 0 0;
}

.icheckbox_timbre.hover {
    background-position: 0 0;
}

.icheckbox_timbre.checked {
    background-position: 0 -78px;
}

.icheckbox_timbre.disabled {
    background-position: -60px 0;
    cursor: default;
}

.icheckbox_timbre.checked.disabled {
    background-position: -80px 0;
}

/* btn hacer oferta */
.hacer_oferta {
    display: none;
    position: absolute;
    top: 23px;
    right: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    padding: 23px 0 23px 45px;
    width: 310px;
    text-decoration: none;
    background-color: #a80c59;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e72f82), to(#a80c59));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e72f82, #a80c59);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e72f82, #a80c59);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e72f82, #a80c59);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e72f82, #a80c59);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e72f82, #a80c59);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}
.hacer_oferta .decoration {
    position: absolute;
    background: url("../img/mv/icon-oferta.png") no-repeat;
    top: 20px;
    right: 40px;
    width: 38px;
    height: 30px;
}

/*** NAV - OPTIONS ***/
.opciones #tabs-1 input[type="submit"] {
    background: url("../img/mv/lupa.png") 570px 24px no-repeat #262626;
    color: white;
    border: 0;
    width: auto;
    text-align: left;
    font-size: 31px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    font-weight: bold;
    padding: 20px 20px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.opciones #tabs-2 .estrellas li {
    clear: both;
}
.opciones #tabs-2 .estrellas li label {
    display: inline-block;
    font-size: 31px;
    height: 65px;
    width: 580px;
}
.opciones #tabs-2 .estrellas li label span {
    font-weight: bold;
}
.opciones #tabs-2 .estrellas .star1 label {
    background: url(../img/mv/1stars.png) 350px 0 no-repeat;
}
.opciones #tabs-2 .estrellas .star2 label {
    background: url(../img/mv/2stars.png) 350px 0 no-repeat;
}
.opciones #tabs-2 .estrellas .star3 label {
    background: url(../img/mv/3stars.png) 350px 0 no-repeat;
}
.opciones #tabs-2 .estrellas .star4 label {
    background: url(../img/mv/4stars.png) 350px 0 no-repeat;
}
.opciones #tabs-2 .estrellas .star5 label {
    background: url(../img/mv/5stars.png) 350px 0 no-repeat;
}
.opciones #tabs-2 .estrellas input {
    float: left;
}
.opciones #tabs-3 .servicios_sel li {
    background-image: url("../img/mv/sprite_servicios2.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    height: 30px;
    margin-bottom: 29px;
    font-size: 31px;
}
.opciones #tabs-3 .servicios_sel li label {
    display: inline-block;
    font-size: 31px;
    height: 65px;
}
.opciones #tabs-3 .servicios_sel .piscina {
    background-position: 100% 0px;
}
.opciones #tabs-3 .servicios_sel .spa {
    background-position: 100% -30px;
}
.opciones #tabs-3 .servicios_sel .wi-fi {
    background-position: 100% -60px;
}
.opciones #tabs-3 .servicios_sel .acceso-adaptado {
    background-position: 100% -90px;
}
.opciones #tabs-3 .servicios_sel .perros {
    background-position: 100% -123px;
}
.opciones #tabs-3 .servicios_sel .parking {
    background-position: 100% -156px;
}
.opciones #tabs-3 .servicios_sel .business-center {
    background-position: 100% -186px;
}
.opciones #tabs-4 .hoteles li {
    font-size: 31px;
}
.opciones #tabs-4 .hoteles li label {
    display: inline-block;
    font-size: 31px;
    height: 65px;
}

/*** ERROR ***/
.pagerror {
    text-align: center;
    background: url(../img/mv/icon_error.png) center 64px no-repeat;
    padding: 382px 0 25px 0;
    border-top: 2px solid #f3f3f3;
    color: #2b2b2b;
    margin-top: 31px;
}
.pagerror p {
    margin-bottom: 49px;
    font-size: 31px;
    line-height: auto;
}
.pagerror .txt1 {
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    padding: 0 20px;
}
.pagerror .txt2 {
    font-size: 36px;
    font-weight: bold;
    line-height: auto;
    padding: 0 29px;
}
.pagerror .txt_pink {
    font-size: 36px;
    color: #e72781;
    font-weight: bold;
    line-height: auto;
    text-decoration: none;
}
.pagerror img {
    padding-bottom: 14px;
}

/*** REGISTRO ***/
.registro .form-signin {
    margin: 0px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 30px;
}
.registro .form-signin p {
    font-size: 31px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
}
.registro .form-signin .tit {
    color: #474747;
    font-size: 36px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    border-top: 2px solid #f3f3f3;
    padding: 20px 0 0 0;
}
.registro .form-signin h2.form-signin-heading {
    margin: 0;
    padding: 20px 0px 10px 0;
    background: url(../img/mv/icon_titlogin.png) right center no-repeat white;
    color: #2b2b2b;
    font-size: 36px;
    font-weight: 700;

}
.registro .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.registro .form-signin .form-control:focus {
    z-index: 2;
}
.registro .form-signin input[type="text"],
.registro .form-signin input[type="password"] {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: none !important;
    font-size: 31px;
    color: #474747;
    width: 100%;
    font-weight: normal;
    padding: 18px 25px;
    border: 1px solid #d7d7d7;
}
.registro .form-signin .btn-login {
    background: -webkit-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -moz-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -o-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -ms-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background-color: linear-gradient(0deg, #a80c59 0%, #e72f82 100%);
    color: #ffffff;
    font-size: 31px;
    font-family: 'PT Sans', sans-serif;
    /* Approximation due to font substitution */
    font-weight: 700;
    display: block;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    padding: 25px 20px;
    width: 100%;
}
.registro .forgor_ps {
    margin-top: 23px;
    background: url(../img/mv/icon_sobre.png) 498px 19px no-repeat;
    text-align: left !important;
    line-height: 27px;
    padding-left: 80px !important;
}
.registro .forgor_ps a {
    color: #b6b6b6;
    font-size: 31px;
    text-decoration: none;
}
.registro .forgor_ps a:hover {
    color: #e72f82;
}
.registro .form-signin .alignleft {
    text-align: left !important;
}
.registro .form-signin a:hover {
    color: #b6b6b6;
}
.registro .login-wrap {
    padding: 20px 0;
}
.registro .login-social-link {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}
.registro .login-social-link a {
    color: #fff;
    border-radius: 4px;
    padding: 25px 113px;
}
.registro .login-social-link a:hover {
    color: #fff;
}
.registro .login-social-link a i {
    font-size: 41px;
    font-family: 'fontello';
}
.registro .login-social-link a.facebook {
    background: #5193ea;
    margin-right: 9px;
    box-shadow: 0 4px #2775e2;
    float: left;
}
.registro .login-social-link a.twitter {
    background: #44ccfe;
    box-shadow: 0 4px #2bb4e8;
    margin-right: 9px;
    float: left;
}
.registro .login-social-link a.google {
    background: #fd6d63;
    box-shadow: 0 4px #d45e56;
    float: left;
}
.registro .login-social-link .google.special {
    margin: -91px 0 0 291px;
}

.registro .showregister {
    margin: 20px 0 22px 0;
}
.registro ::-webkit-input-placeholder {
    font-size: 20px;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
}
.registro :-moz-placeholder {
    /* Firefox 18- */
    font-size: 20px;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
}
.registro ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 20px;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
}
.registro :-ms-input-placeholder {
    font-size: 20px;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
}

.nuevo_reg .form-signin h2.form-signin-heading {
    padding-bottom: 32px;
}

.nuevo_reg .form-signin .btn-login {
    margin-top: 32px;
}

/*** OFERTAS ***/
.oferta h2 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 25px;
}
.oferta p {
    font-size: 31px;
    line-height: normal;
    padding-bottom: 25px;
}
.oferta #tabs-1 p {
    padding-bottom: 0;
}
.oferta #tabs-1 input {
    margin-top: 60px;
}
.oferta #tabs-2 p {
    font-size: 31px;
    line-height: 76px;
}
.oferta #tabs-2 .cal {
    width: 30%;
    float: right;
    color: grey;
}
.oferta #tabs-2 input {
    color: grey;
}
.oferta #tabs-3, .oferta #tabs-4 {
    margin-bottom: -50px;
}
.oferta #tabs-3 h2, .oferta #tabs-4 h2 {
    margin-bottom: 40px;
}
.oferta #tabs-3 p, .oferta #tabs-4 p {
    clear: both;
    padding-bottom: 57px;
    line-height: 73px;
}
.oferta #tabs-3 input, .oferta #tabs-4 input {
    width: 19%;
    float: right;
    margin-bottom: 0;
}
.oferta #tabs-5 .hoteles {
    margin-bottom: -20px;
}
.oferta #tabs-5 .hoteles li {
    font-size: 31px;
    clear: both;
}
.oferta #tabs-5 .hoteles li label {
    display: inline-block;
    font-size: 31px;
    height: 65px;
}
.oferta .separadortabs {
    margin-bottom: 60px;
}

.resumenOferta {
    border-top: 2px solid #f3f3f3;
    padding-top: 50px;
    margin-top: 20px;
}
.resumenOferta h3 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    background: #262626;
    padding: 18px 0 18px 48px;
    border-radius: 4px 4px 0 0;
}
.resumenOferta .caja {
    background: #efefef;
    padding: 48px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 31px;
    line-height: normal;
}
.resumenOferta input {
    max-width: 294px;
    margin-top: 24px;
}
.resumenOferta .btn_oferta {
    width: auto;
    background-color: #a80c59;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e72f82), to(#a80c59));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e72f82, #a80c59);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e72f82, #a80c59);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e72f82, #a80c59);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e72f82, #a80c59);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e72f82, #a80c59);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font-size: 31px;
    color: white;
    font-weight: bold;
    padding: 30px 0 30px 155px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin-top: 48px;
}
.resumenOferta .btn_oferta .decoration {
    position: absolute;
    background: url("../img/mv/icon-oferta.png") no-repeat;
    top: 33px;
    right: 119px;
    width: 38px;
    height: 30px;
}
.resumenOferta .acepto1 label, .resumenOferta .acepto2 label {
    width: 482px;
    float: right;
    cursor: pointer;
    line-height: 40px;
    font-size: 25px;
}
.resumenOferta .icheckbox_minimal {
    margin: 4px 15px 0 0;
}

/*** OFERTA REALIZADA ***/
.content_ofertaenv h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: normal;
}
.content_ofertaenv p {
    font-size: 31px;
    color: #262626;
    line-height: normal;
    margin: 10px 0;
}
.content_ofertaenv .m-es {
    margin: 46px 0 20px 0;
}
.content_ofertaenv .bq_verde {
    background: url("../img/mv/bgr_avion.png") center 598px no-repeat #f1fdd0;
    padding: 1px 40px 380px 40px;
}
.content_ofertaenv .bq_verde .tit {
    background: url("../img/mv/icon_ok.png") 0px 9px no-repeat #f1fdd0;
    font-size: 48px;
    font-weight: bold;
    color: #849b27;
    padding: 0 162px 0 60px;
    line-height: 47px;
}
.content_ofertaenv .bq_verde p {
    color: #849b27;
    margin-top: 50px;
}
.content_ofertaenv .bq_verde p span {
    font-weight: bold;
}

/*** CONFIRMACIÓN DE COMPRA ***/
.content_conf h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: normal;
}
.content_conf p {
    font-size: 31px;
    color: #262626;
    line-height: normal;
    margin: 10px 0;
}
.content_conf .m-es {
    margin: 46px 0 20px 0;
}
.content_conf .m-es2 {
    margin: 46px 0 -32px 0;
}
.content_conf .bq_verde {
    padding: 1px 40px 40px 40px;
    background-color: #f1fdd0;
}
.content_conf .bq_verde .tit {
    background: url("../img/mv/icon_ok.png") 0px 9px no-repeat #f1fdd0;
    font-size: 48px;
    font-weight: bold;
    color: #849b27;
    padding: 0 162px 0 60px;
    line-height: 51px;
}
.content_conf .bq_verde p {
    color: #849b27;
    margin-top: 50px;
}
.content_conf .bq_verde p span {
    font-weight: bold;
}
.content_conf .bq_red {
    padding: 1px 40px 40px 40px;
    background-color: #fee6e8;
}
.content_conf .bq_red .tit {
    background: url("../img/mv/icon_ko.png") 0px 9px no-repeat #fee6e8;
    font-size: 48px;
    font-weight: bold;
    color: #dc3c47;
    padding: 0 162px 0 60px;
    line-height: 51px;
}
.content_conf .bq_red p {
    color: #dc3c47;
    margin-top: 50px;
}
.content_conf .bq_red p span {
    font-weight: bold;
}
.content_conf .bq {
    width: 100%;
    background-color: #efefef;
    box-sizing: border-box;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    position: relative;
    margin-top: 44px;
}
.content_conf .bq .tit {
    background-color: #262626;
    color: #fff;
    font-weight: 700;
    font-size: 31px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 15px 24px;
}
.content_conf .bq .cont {
    padding: 15px 24px 24px 24px;
}
.content_conf .bq .cont .name {
    color: #2b2b2b;
    font-size: 31px;
    font-weight: 700;
}
.content_conf .bq .cont img.stars {
    margin-top: 20px;
}
.content_conf .bq .cont img.hotel {
    max-width: 585px;
    margin-top: 40px;
}
.content_conf .bq .cont .datos li {
    margin-bottom: 40px;
}
.content_conf .bq .cont .datos li p {
    line-height: 30px;
}
.content_conf .bq .cont .datos li p span {
    font-weight: 700;
}
.content_conf .bq .cont .btn {
    background: -webkit-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -moz-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -o-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -ms-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background-color: linear-gradient(0deg, #a80c59 0%, #e72f82 100%);
    color: #ffffff;
    font-size: 31px;
    /* Approximation due to font substitution */
    font-weight: 700;
    display: block;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    padding: 15px 20px;
    width: auto;
    text-decoration: none;
}
.content_conf .bq .cont .btn img {
    margin-left: 14px;
}

/*** BANEO ***/
.baneo {
    text-align: center;
    background: url(../img/mv/bgr_baneo.png) center 64px no-repeat;
    padding: 382px 0 25px 0;
    border-top: 2px solid #f3f3f3;
    color: #2b2b2b;
    margin-top: 31px;
}
.baneo p {
    margin-bottom: 49px;
    font-size: 31px;
    line-height: auto;
}
.baneo .txt1 {
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    padding: 0 50px;
}
.baneo .txt_pink {
    color: #e72781;
    text-decoration: none;
}

/*** CONTACTO ***/
.contacto h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    padding-bottom: 25px;
}
.contacto p {
    font-size: 31px;
    line-height: normal;
    padding-bottom: 25px;
}
.contacto .txt_pink {
    color: #e72f82;
}
.contacto .txt_pink .tfn1 {
    font-size: 61px;
    font-weight: bold;
    text-decoration: none;
    color: #e72f82;
}
.contacto .tfn2 {
    text-decoration: none;
    color: #e72f82;
}
.contacto .legal {
    color: #7d7d7d;
    font-size: 25px;
}
.contacto .legal a {
    color: #7d7d7d;
    text-decoration: none;
}
.contacto textarea {
    margin-bottom: 40px;
}
.contacto input[type="submit"] {
    width: 100%;
    margin-top: 40px;
    padding: 30px 0;
    font-size: 31px;
    font-family: 'PT Sans', sans-serif;
}
.contacto ::-webkit-input-placeholder {
    font-size: 31px;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
}
.contacto :-moz-placeholder {
    /* Firefox 18- */
    font-size: 31px;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
}
.contacto ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 31px;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
}
.contacto :-ms-input-placeholder {
    font-size: 31px;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
}

/*** COOKIE ***/
#cookie-bar {
    width: 700px;
    position: fixed;
    background-color: rgba(43, 43, 43, 0.8);
    color: #fff;
    z-index: 9999;
    font-size: 13px;
    box-sizing: border-box;
    left: 50%;
    margin-left: -350px;
}

#cookie-bar .mensaje {
    max-width: 550px;
    margin: 0 auto;
}

#cookie-bar p {
    max-width: 600px;
    float: left;
    margin-top: 1px;
    padding: 20px 0 10px 0;
}

#cookie-bar p a {
    color: #e72f82;
}

#cookie-bar .cb-enable {
    display: inline-block;
    float: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #fff;
    padding: 5px 12px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 18px;
}

#cookie-bar .cb-enable:hover {
    color: #000;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

/* style jQuery UI
/* ----------------------------------*/
/* ----------------------------------*/
/* ----------------------------------*/
.buscador-icon {
    background: url(../img/mv/nav-op1.png) no-repeat;
    height: 43px;
    width: 44px;
}

.star-icon {
    background: url(../img/mv/nav-op2.png) no-repeat;
    height: 43px;
    width: 42px;
}

.servicios-icon {
    background: url(../img/mv/nav-op3.png) no-repeat;
    height: 43px;
    width: 75px;
}

.listado-icon {
    background: url(../img/mv/nav-op4.png) no-repeat;
    height: 43px;
    width: 50px;
}

.precio-icon {
    background: url(../img/mv/precio-icon.png) no-repeat;
    height: 44px;
    width: 44px;
}

.noches-icon {
    background: url(../img/mv/noches-icon.png) no-repeat;
    height: 44px;
    width: 40px;
}

.huespedes-icon {
    background: url(../img/mv/huespedes-icon.png) no-repeat;
    height: 44px;
    width: 40px;
}

.habitaciones-icon {
    background: url(../img/mv/habitaciones-icon.png) no-repeat;
    height: 44px;
    width: 40px;
}

.seleccionados-icon {
    background: url(../img/mv/seleccionados-icon.png) no-repeat;
    height: 44px;
    width: 40px;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0;
    /* support: IE7 */
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
    /* support: IE8 */
}

.ui-front {
    z-index: 100;
}

.ui-tabs {
    position: relative;
    /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    padding: 0;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
    margin: 20px 20px 20px 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0;
    text-decoration: none;
    background-color: #d3d3d3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: pointer;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 0;
    background: none;
}

.style-tabs {
    margin: 36px 0;
}

.style-tabs,
.style-tabs .ui-tabs-nav li a,
.style-tabs .ui-tabs-nav {
    padding: 0;
}

.style-tabs .ui-tabs-panel {
    padding: 30px 0 0 0;
}

.style-tabs .ui-widget-header {
    border: none;
    height: 74px;
    width: 100%;
}

.style-tabs .ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.style-tabs .ui-tabs-nav li {
    position: relative;
    height: 100%;
    cursor: pointer;
    margin: 10px 12px 10px 0;
    top: 0;
}

.style-tabs .ui-tabs-nav li.last {
    margin-right: 0;
}

.style-tabs .ui-widget-header .ui-state-default {
    background: none;
    border: none;
}

.style-tabs .ui-tabs-nav li .icon {
    background-position: center 11px;
    padding-top: 25px;
    width: 151px;
}

.oferta .style-tabs .ui-tabs-nav li .icon {
    width: 116px;
}

.style-tabs .ui-tabs-nav li.ui-tabs-active .icon,
.style-tabs .ui-tabs-nav li:hover .icon {
    color: #414141;
}

.style-tabs .ui-tabs-nav li a {
    outline: none;
}

.style-tabs .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}

.style-tabs .ui-tabs-nav li a {
    position: relative;
}

.triangle_active {
    width: 0;
    height: 0;
    border-top: 20px solid #d3d3d3;
    border-right: 20px solid transparent;
    position: absolute;
    left: 0;
    bottom: -18px;
    display: none;
}

.style-tabs .ui-tabs-nav li.ui-tabs-active .triangle_active {
    display: block;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.fecha_picker_pdd {
    padding-bottom: 431px;
}

.fecha_picker input {
    width: 48%;
    background: url("../img/mv/calendar.png") 257px 14px no-repeat !important;
    color: grey;
}

input#fromDate {
    margin-right: 19px;
}

.myspanclass {
    display: inline-block;
}

.ll-skin-santiago {
    font-size: 250%;
}

.ll-skin-santiago .ui-widget {
    font-family: 'PT Sans', sans-serif;
}

.ll-skin-santiago .ui-datepicker {
    padding: 0;
}

.ll-skin-santiago .ui-widget-content {
    border: none;
    background: #fff;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
}

.ll-skin-santiago .ui-datepicker-header {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    padding: 0;
    border-top: 1px solid #b42b0c;
    border-bottom: none;
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    background-color: #a80c59;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e72f82), to(#a80c59));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e72f82, #a80c59);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e72f82, #a80c59);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e72f82, #a80c59);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e72f82, #a80c59);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e72f82, #a80c59);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}

.ll-skin-santiago .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-title {
    line-height: 2.2em;
    font-weight: normal;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev,
.ll-skin-santiago .ui-datepicker .ui-datepicker-next {
    top: -1px;
    background-color: #a80c59;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e72f82), to(#a80c59));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e72f82, #a80c59);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e72f82, #a80c59);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e72f82, #a80c59);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e72f82, #a80c59);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e72f82, #a80c59);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
    border-radius: 0;
    font-weight: normal;
    border: none;
    height: 2.2em;
    width: 1.4em;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ll-skin-santiago .ui-datepicker .ui-datepicker-next.ui-state-hover {
    background: #e72f82;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev {
    left: 0;
    border-right: 1px solid #a80c59;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-next {
    right: 0;
    border-left: 1px solid #a80c59;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev span,
.ll-skin-santiago .ui-datepicker .ui-datepicker-next span {
    margin-top: -4px;
    top: 40%;
}

.ll-skin-santiago .ui-icon-circle-triangle-e {
    background-position: -32px 0;
}

.ll-skin-santiago .ui-icon-circle-triangle-w {
    background-position: -96px 0;
}

.ll-skin-santiago .ui-datepicker table {
    margin: 0;
}

.ll-skin-santiago .ui-datepicker th {
    padding: .6em 0 .4em;
    text-transform: uppercase;
    color: #bbb;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: .8em;
    border-top: 1px solid #e6e6e6;
}

.ll-skin-santiago .ui-datepicker td {
    border: none;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 0;
}

.ll-skin-santiago td:last-child {
    border-right: 0;
}

.ll-skin-santiago td .ui-state-default {
    background: transparent;
    border: none;
    color: #2b2b2b;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    text-align: center;
}

.ll-skin-santiago .ui-datepicker-calendar .ui-state-hover {
    background: #e72f82;
    color: #fff;
}

.ll-skin-santiago td a.ui-state-active,
.ll-skin-santiago td a.ui-state-active.ui-state-hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
    background-color: #a80c59;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e72f82), to(#a80c59));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e72f82, #a80c59);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e72f82, #a80c59);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e72f82, #a80c59);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e72f82, #a80c59);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e72f82, #a80c59);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}
#modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}
#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}