
.modalregister {
    display: none;
    position: absolute;
    height: 3000px;
    width: 700px;
    margin: 0 auto;
    top: 0;
    left: 50%;
    margin-left: -350px;
    z-index: 4;
    background: rgba(59, 59, 59, 0.8);
    padding: 0 30px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.modalregister .header {
    width: 100%;
    height: 50px;
    padding: 5px 0 0 0; 
}
.modalregister .header .close {
    float: right;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.modalregister .body{
    width: 100%;
    height: 550px;
}
.modalregister .bodyregister, .modalregister .bodyregisterextra {
    width: 100%;
    height: 550px;
}            
.modalregister .bodyregister .left, .modalregister .bodyregister .right {
    height:  100%;
    width:  44%;
    padding: 0 0 0 40px;

}
.hide{
    display: none;
}
input[type=password] {
    .radius;
    height: 31px;
    float: left;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 0 2px rgba(235, 235, 235, 0.9) !important;
    color: #474747;
    font-size: 15px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0 9px;
}