{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear newsletter'|trans}}
{% endblock %}

{% block body %}


<div class="row">
	<div class="col-lg-6">
	  <section class="panel"> 
	      <header class="panel-heading">
	          {{'Crear newsletter'|trans}}
	      </header>
	      <div class="panel-body">
	          <form role="form" action="{{ path('admin_newsletter_create') }}" method="post" {{ form_enctype(form) }}>
	            {#{{ form_widget(form) }}#}
	            <div class="form-group {{ error(form_errors(form.id)) }}">
	                <label for="exampleInputEmail1">{{'Id'|trans}}</label>
	                <div class="">
	                {{ form_widget(form.id, { 'attr': {'class': 'form-control'} }) }}                        
	                </div>
	            </div>
	            <div class="form-group {{ error(form_errors(form.usuario)) }}">
	                <label for="exampleInputEmail1">{{'Nombre de usuario'|trans}}</label>
	                <div class="">
	                {{ form_widget(form.usuario, { 'attr': {'class': 'form-control'} }) }}                        
	                </div>
	            </div>
	            <div class="form-group {{ error(form_errors(form.fecha)) }}">
	                <label for="exampleInputEmail1">{{'Fecha'|trans}}</label>
	                <div class="">
	                {{ form_widget(form.fecha, { 'attr': {'class': 'form-control'} }) }}                        
	                </div>
	            </div>
	            <div class="form-group {{ error(form_errors(form.activo)) }}">
	                <label for="exampleInputEmail1">{{'Activo'|trans}}</label>
	                <div class="">
	                {{ form_widget(form.activo, { 'attr': {'class': 'form-control'} }) }}                        
	                </div>
	            </div>
	            <div class="form-group {{ error(form_errors(form.fechadisabled)) }}">
	                <label for="exampleInputEmail1">{{'Fecha disoponible'|trans}}</label>
	                <div class="">
	                {{ form_widget(form.fechadisabled, { 'attr': {'class': 'form-control'} }) }}                        
	                </div>
	            </div>

	            {{ form_rest(form) }}
	      </div>
	  </section>

	  <!-- btns -->
	  <section class="panel">
	        <div class="panel-body">
	              <button type="submit" class="btn btn-info">{{'Crear'}}</button>   
	          </form><!-- / form edit -->
	             <a href="{{ path('admin_newsletter') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
	        </div>
	  </section>
	  <!-- /btns -->
	</div><!-- /col -->
</div><!-- /row -->



{% endblock %}
