{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar empresa'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">

            <!--tab nav start-->
            <section class="panel">
                <header class="panel-heading">
                    {{'Editar empresa'|trans}}
                </header>
                <header class="panel-heading tab-bg-dark-navy-blue ">
                    <ul class="nav nav-tabs">
                        <li class="active {{ errorgroup([form_errors(edit_form.email), form_errors(edit_form.nombreempresa), form_errors(edit_form.cif), form_errors(edit_form.direccionfacturacion), form_errors(edit_form.telefono), form_errors(edit_form.numerocuenta)]) }}">
                            <a data-toggle="tab" href="#general">{{'Datos de la empresa'|trans}}</a>
                        </li>
                        <li class="{{ errorgroup([form_errors(edit_form.nombrepersonacontacto), form_errors(edit_form.apellidospersonacontacto), form_errors(edit_form.emailpersonacontacto), form_errors(edit_form.telefonopersonacontacto), form_errors(edit_form.cargopersonacontacto)]) }}">
                            <a data-toggle="tab" href="#api">{{'Datos de la persona de contacto'|trans}}</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="">
                                <a data-toggle="tab" href="#com">{{'Comisiones'|trans}}</a>
                            </li>
                        {% endif %}
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="general" class="tab-pane active">
                            <form action="{{ path('admin_empresa_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                                {#{ form_widget(form) }#}
                                <div class="form-group  {{ error(form_errors(edit_form.email)) }}">
                                    <label for="exampleInputEmail1">{{'Email'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(edit_form.email) }}
                                        {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(edit_form.email)) }}">
                                    <label for="exampleInputEmail1">{{'Recibir aquí todos los emails'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(edit_form.receive_mails) }}
                                        {{ form_widget(edit_form.receive_mails, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(edit_form.nombreempresa)) }}">
                                    <label for="exampleInputEmail1">{{'Nombre de la empresa'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(edit_form.nombreempresa) }}
                                        {{ form_widget(edit_form.nombreempresa, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(edit_form.cif)) }}">
                                    <label for="exampleInputEmail1">{{'CIF'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(edit_form.cif) }}
                                        {{ form_widget(edit_form.cif, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(edit_form.direccionfacturacion)) }}">
                                    <label for="exampleInputEmail1">{{'Dirección de facturación'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(edit_form.direccionfacturacion) }}
                                        {{ form_widget(edit_form.direccionfacturacion, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(edit_form.telefono)) }}">
                                    <label for="exampleInputEmail1">{{'Teléfono'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(edit_form.telefono) }}
                                        {{ form_widget(edit_form.telefono, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(edit_form.numerocuenta)) }}">
                                    <label for="exampleInputEmail1">{{'Número de cuenta'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(edit_form.numerocuenta) }}
                                        {{ form_widget(edit_form.numerocuenta, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                        </div>
                        <div id="api" class="tab-pane">
                            <div class="form-group {{ error(form_errors(edit_form.nombrepersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.nombrepersonacontacto) }}
                                    {{ form_widget(edit_form.nombrepersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.apellidospersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Apellidos de la persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.apellidospersonacontacto) }}
                                    {{ form_widget(edit_form.apellidospersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.emailpersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Email de la persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.emailpersonacontacto) }}
                                    {{ form_widget(edit_form.emailpersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.telefonopersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Teléfono de la persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.telefonopersonacontacto) }}
                                    {{ form_widget(edit_form.telefonopersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.cargopersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Cargo de la persona contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.cargopersonacontacto) }}
                                    {{ form_widget(edit_form.cargopersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div id="com" class="tab-pane">                                
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{'Porcentaje de comisión (campo enteros) , (campo decimales).'|trans}}</label>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-2-dcnt {{ error(form_errors(edit_form.comisionempresaentero)) }}">
                                        {{ form_errors(edit_form.comisionempresaentero) }}
                                        {{ form_widget(edit_form.comisionempresaentero, { 'attr': {'class': 'form-control'} }) }}                     
                                    </div>
                                    <div class="comaclear" style="float:left"> , </div>
                                    <div class="col-sm-2-dcnt {{ error(form_errors(edit_form.comisionempresadecimal)) }}">  
                                        {{ form_errors(edit_form.comisionempresadecimal) }}
                                        {{ form_widget(edit_form.comisionempresadecimal, { 'attr': {'class': 'form-control'} }) }}                                  
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div id="tpv" class="tab-pane">tpv</div>
                        {% endif%}
                            {{ form_rest(edit_form)}}
                    </div>
                </div>
            </section>

            <section class="panel">
                <div class="panel-body">
                    <button type="submit" class="btn btn-info">{{'Guardar'|trans}}</button>   
                    </form><!-- / form edit -->
                    {% if entity.status is defined and entity.status == 1 %}
                        <form action="{{ path('admin_empresa_reactivate', { 'id': entity.id }) }}" method="post" class="btnDelete">
                            {{ form_widget(reactivate_form) }}
                            <button type="submit" class="btn btn-success" onclick="return confirm('¿Está seguro de re-activar esta empresa?');">{{'Reactivar empresa'|trans}}</button>
                        </form>
                    {% else %}
                        <form action="{{ path('admin_empresa_delete', { 'id': entity.id }) }}" method="post" class="btnDelete">
                            {{ form_widget(delete_form) }}
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro que quieres suspender esta empresa?\n' +
                                            'Realizar esta acción cancelará todas las ofertas activas sobre todos los hoteles de la empresa y los usuarios y no se podrán reactivar de ninguna forma.');">{{'Suspender'|trans}}</button>
                        </form>
                    {% endif %}
                    {#<a href="{{ path('admin_homeconfiguracion') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>#}

                </div>
            </section>
            <!-- /btns -->
        </div><!-- /col -->
    </div><!-- /row -->
{% endblock %}