{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de empresas'|trans}}
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{'Lista de empresas'|trans}}
                </header>
                <div class="panel-body">
                    <!--  buscador + rtdos -->
                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="editable-sample_length" class="dataTables_length">
                                    {% include 'HotelesBackendBundle:Extras:select.html.twig' %}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {#
                                <div class="dataTables_filter" id="editable-sample_filter">
                                    <label>{{'Buscar'|trans}}: <input type="text" aria-controls="editable-sample" class="form-control medium"></label>
                                </div>
                                #}
                            </div>
                        </div>
                        <!-- / buscador + rtdos -->
                        <!--  contentTabla -->
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover" id="hidden-table-info">

                            <thead>
                                <tr>
                                    <th>{{'Nombre de la empresa'|trans}}</th>                                    
                                    <th>{{'Email'|trans}}</th>
                                    <th>{{'Cif'|trans}}</th>
                                    <th>{{'Dirección de facturación'|trans}}</th>
                                    <th>{{'Teléfono'|trans}}</th>
                                    <th>{{'Persona de contacto'|trans}}</th>
                                    <th>{{'Email de la persona de contacto'|trans}}</th>
                                    <th>{{'Teléfono de la persona de contacto'|trans}}</th>
                                    <th>{{'Cargo de la persona contacto'|trans}}</th>
                                    <th>{{'Estado'|trans}}</th>
                                    <th>{{'Acciones'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in pagination %}


                                    <tr>
                                        <td>{{ entity.nombreempresa }}</td>                                    
                                        <td>{{ entity.email }}</td>
                                        <td>{{ entity.cif }}</td>
                                        <td>{{ entity.direccionfacturacion }}</td>
                                        <td>{{ entity.telefono }}</td>
                                        <td>{{ entity.nombrepersonacontacto }} {{ entity.apellidospersonacontacto }}</td>
                                        <td>{{ entity.emailpersonacontacto }}</td>
                                        <td>{{ entity.telefonopersonacontacto }}</td>
                                        <td>{{ entity.cargopersonacontacto }}</td>
                                        <td>
                                            {% include 'HotelesBackendBundle:Extras:empresaStatus.html.twig' with {'status': entity.status } %}
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_empresa_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--  /contentTabla -->

                    </div> <!-- /addtable -->
                </div><!-- /panelbody -->

            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <div class="span6">
                        {% if is_granted('ROLE_ADMIN')  %}
                            <a href="{{ path('admin_empresa_new') }}" class="btn btn-success">{{'Crear una nueva entrada'|trans}}</a>
                        {% endif %}
                    </div>
                    <div class="span6">
                        <div class="dataTables_paginate paging_bootstrap pagination withbuttons">
                            {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                        </div>
                    </div>                  
                </div>          
            </section>
            <!-- /btns -->

        </div><!-- /col -->

    </div><!-- /row -->

    {#
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nombreempresa</th>
                <th>Cif</th>
                <th>Direccionfacturacion</th>
                <th>Telefono</th>
                <th>Numerocuenta</th>
                <th>Nombrepersonacontacto</th>
                <th>Apellidospersonacontacto</th>
                <th>Emailpersonacontacto</th>
                <th>Telefonopersonacontacto</th>
                <th>Cargopersonacontacto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
        sadsdsda
            <tr>
                <td><a href="{{ path('admin_empresa_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.nombreempresa }}</td>
                <td>{{ entity.cif }}</td>
                <td>{{ entity.direccionfacturacion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.numerocuenta }}</td>
                <td>{{ entity.nombrepersonacontacto }}</td>
                <td>{{ entity.apellidospersonacontacto }}</td>
                <td>{{ entity.emailpersonacontacto }}</td>
                <td>{{ entity.telefonopersonacontacto }}</td>
                <td>{{ entity.cargopersonacontacto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_empresa_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_empresa_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
    
    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('admin_empresa_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endif %}
    #}
{% endblock %}