{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Empresa</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.Email }}</td>
        </tr>
        <tr>
            <th>Nombreempresa</th>
            <td>{{ entity.Nombreempresa }}</td>
        </tr>
        <tr>
            <th>Cif</th>
            <td>{{ entity.Cif }}</td>
        </tr>
        <tr>
            <th>Direccionfacturacion</th>
            <td>{{ entity.Direccionfacturacion }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.Telefono }}</td>
        </tr>
        <tr>
            <th>Numerocuenta</th>
            <td>{{ entity.Numerocuenta }}</td>
        </tr>
        <tr>
            <th>Nombrepersonacontacto</th>
            <td>{{ entity.Nombrepersonacontacto }}</td>
        </tr>
        <tr>
            <th>Apellidospersonacontacto</th>
            <td>{{ entity.Apellidospersonacontacto }}</td>
        </tr>
        <tr>
            <th>Emailpersonacontacto</th>
            <td>{{ entity.Emailpersonacontacto }}</td>
        </tr>
        <tr>
            <th>Telefonopersonacontacto</th>
            <td>{{ entity.Telefonopersonacontacto }}</td>
        </tr>
        <tr>
            <th>Cargopersonacontacto</th>
            <td>{{ entity.Cargopersonacontacto }}</td>
        </tr>
        <tr>
            <th>Comisión</th>
            <td>{{ entity.comisionComisionEmpresaEntero }}, {{ComisionEmpresaDecimal}}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_empresa') }}">
            {{'Volver a la lista'|trans}}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_empresa_edit', { 'id': entity.id }) }}">
            {{'Guardar'|trans}}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_empresa_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{'Suspender'|trans}}</button>
        </form>
    </li>
</ul>

{% endblock %}