{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear empresa'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">

            <!--tab nav start-->
            <section class="panel">
                <header class="panel-heading">
                    {{'Crear empresa'|trans}}
                </header>
                <header class="panel-heading tab-bg-dark-navy-blue ">
                    <ul class="nav nav-tabs">
                        <li class="active {{ errorgroup([form_errors(form.email), form_errors(form.nombreempresa), form_errors(form.cif), form_errors(form.direccionfacturacion), form_errors(form.telefono), form_errors(form.numerocuenta)]) }}">
                            <a data-toggle="tab" href="#general">{{'Datos de la empresa'|trans}}</a>
                        </li>
                        <li class="{{ errorgroup([form_errors(form.nombrepersonacontacto), form_errors(form.apellidospersonacontacto), form_errors(form.emailpersonacontacto), form_errors(form.telefonopersonacontacto), form_errors(form.cargopersonacontacto)]) }}">
                            <a data-toggle="tab" href="#api">{{'Datos de la persona de contacto'|trans}}</a>
                        </li>
                        <li class="{{ errorgroup([form_errors(form.comisionempresaentero), form_errors(form.comisionempresadecimal)]) }}">
                            <a data-toggle="tab" href="#comisiones">{{'Comisiones'|trans}}</a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="general" class="tab-pane active">
                            <form action="{{ path('admin_empresa_create') }}" method="post" {{ form_enctype(form) }}>
                                {#{ form_widget(form) }#}
                                <div class="form-group  {{ error(form_errors(form.email)) }}">
                                    <label for="exampleInputEmail1">{{'Email'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(form.email) }}
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.nombreempresa)) }}">
                                    <label for="exampleInputEmail1">{{'Nombre de la empresa'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(form.nombreempresa) }}
                                        {{ form_widget(form.nombreempresa, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.cif)) }}">
                                    <label for="exampleInputEmail1">{{'CIF'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(form.cif) }}
                                        {{ form_widget(form.cif, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.direccionfacturacion)) }}">
                                    <label for="exampleInputEmail1">{{'Dirección de facturación'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(form.direccionfacturacion) }}
                                        {{ form_widget(form.direccionfacturacion, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.telefono)) }}">
                                    <label for="exampleInputEmail1">{{'Teléfono'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(form.telefono) }}
                                        {{ form_widget(form.telefono, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.numerocuenta)) }}">
                                    <label for="exampleInputEmail1">{{'Número de cuenta'|trans}}</label>
                                    <div class="">
                                        {{ form_errors(form.numerocuenta) }}
                                        {{ form_widget(form.numerocuenta, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                        </div>
                        <div id="api" class="tab-pane">
                            <div class="form-group {{ error(form_errors(form.nombrepersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Nombre de la persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.nombrepersonacontacto) }}
                                    {{ form_widget(form.nombrepersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(form.apellidospersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Apellidos de la persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.apellidospersonacontacto) }}
                                    {{ form_widget(form.apellidospersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(form.emailpersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Email de la persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.emailpersonacontacto) }}
                                    {{ form_widget(form.emailpersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(form.telefonopersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Teléfono de la persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.telefonopersonacontacto) }}
                                    {{ form_widget(form.telefonopersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(form.cargopersonacontacto)) }}">
                                <label for="exampleInputEmail1">{{'Cargo de la persona de contacto'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.cargopersonacontacto) }}
                                    {{ form_widget(form.cargopersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                        </div>
                        <div id="comisiones" class="tab-pane">

                             <div class="form-group">
                                <label for="exampleInputEmail1">{{'Porcentaje de comisión (campo enteros) , (campo decimales).'|trans}}</label>
                                <div class="clearfix"></div>
                                <div class="col-sm-2-dcnt {{ error(form_errors(form.comisionempresaentero)) }}">
                                    {{ form_errors(form.comisionempresaentero) }}
                                    {{ form_widget(form.comisionempresaentero, { 'attr': {'class': 'form-control'} }) }}                     
                                </div>
                                <div class="comaclear" style="float:left"> , </div>
                                <div class="col-sm-2-dcnt {{ error(form_errors(form.comisionempresadecimal)) }}">  
                                    {{ form_errors(form.comisionempresadecimal) }}
                                    {{ form_widget(form.comisionempresadecimal, { 'attr': {'class': 'form-control'} }) }}                                  
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div id="tpv" class="tab-pane">{{'TPV'|trans}}</div>
                    </div>
                </div>
            </section>
            {{ form_rest(form) }}
            <section class="panel">
                <div class="panel-body">
                    <button type="submit" class="btn btn-success">{{'Crear'|trans}}</button>   
                    </form><!-- / form edit -->
                    {#x<a href="{{ path('admin_homeconfiguracion') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>#}
                </div>
            </section>

            <!-- /btns -->
        </div><!-- /col -->
    </div><!-- /row -->










    {#
    <form action="{{ path('admin_empresa_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_empresa') }}">
                Back to the list
            </a>
        </li>
    </ul>
    #}
{% endblock %}