{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Imágenes home'|trans}}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
       <section class="panel tasks-widget">
            <header class="panel-heading">
                {{'Imágenes home'|trans}}
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul id="sortable" class="task-list">
                      {% for entity in entities %}
                        <li class="list-primary" data-id="{{ entity.id }}">
                            <i class=" fa fa-ellipsis-v"></i>
                            <div class="task-title">
                                <img src="/uploads/home/{{entity.imagen}}" width="200">
                                <div class="pull-right hidden-phone">
                                      <a href="{{ path('admin_homeconfiguracion_edit', { 'id': entity.id }) }}" title="{{'Editar'|trans}}">
                                          <button class="btn btn-success btn-xs fa fa-pencil"></button>
                                      </a>
                                      {#
                                      <a href="{{ path('admin_homeconfiguracion_show', { 'id': entity.id }) }}" title="{{''}}'">
                                          <button class="btn btn-primary btn-xs fa fa-eye"></button>
                                      </a>
                                      #}
                                      <a href="{{ path('admin_homeconfiguracion_deleteget', { 'id': entity.id }) }}" title="{{'Borrar'|trans}}">
                                        <button class="btn btn-danger btn-xs fa fa-trash-o" title="{{'Borrar'|trans}}"></button>
                                      </a>
                                </div>
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                </div>     
            </div>
      </section>
      <!-- btns -->
      <section class="panel">
            <div class="panel-body">
                <div class="span6">
                    <a href="{{ path('admin_homeconfiguracion_new') }}" class="btn btn-success">{{'Crear una nueva entrada'|trans}}</a>
                    <a href="{{ path('HotelesFrontendBundle_homepage') }}" class="btn btn-warning " target="_blank">{{'Ver en la web'|trans}}</a>
                </div>
                <div class="span6">
                {#
                  <div class="dataTables_paginate paging_bootstrap pagination withbuttons">
                    {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                  </div>
                #}
                </div>                  
            </div>    

      </section>
      <!-- /btns -->

    </div><!-- /col -->

</div><!-- /row -->


{% endblock %}

{% block jsextras %}

    <script>
        jQuery(document).ready(function() {
            TaskList.initTaskWidget();
        });

        $(function() {
            $( "#sortable" ).sortable({
                stop: function( event, ui ) {
                    var nuevoOrden = ''
                    $('.list-primary').each(function(indice, elemento) {
                        nuevoOrden = nuevoOrden+'_'+$(elemento).attr('data-id')
                    });
                    //console.log(nuevoOrden)
                    $.get( Routing.generate('admin_ordenahome', { orden: nuevoOrden }) , function( data ) {
                        //console.log( 'resultado'+data );
                    });
                }
            });
            $( "#sortable" ).disableSelection();
        });
    </script>

{% endblock %}