{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear administrador'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">
            <section class="panel"> 
                <header class="panel-heading">
                    {{'Crear administrador'|trans}}
                </header>
                <div class="panel-body">
                    <form role="form" action="{{ path('admin_useradministrador_create') }}" method="post" id="formulariosubida" {{ form_enctype(form) }}>
                        {#{{ form_widget(form) }}#}
                        <div class="form-group {{ error(form_errors(form.email)) }}">
                            <label for="exampleInputEmail1">{{'Email'|trans}}</label>
                            <div class="">
                                {#{ form_errors(form.email) }#}
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        <div class="form-group {{ error(form_errors(form.username)) }}">
                            <label for="exampleInputEmail1">{{'Nombre de usuario'|trans}}</label>
                            <div class="">
                                {#{ form_errors(form.username) }#}
                                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        <div class="form-group {{ error(form_errors(form.username)) }}">
                            <label for="exampleInputEmail1">{{'Imagen de usuario'|trans}}</label>
                            <div class="">
                                <input type="file" name="archivo" id="inputsubida">
                            </div>
                            <br>
                            <input type="hidden" name="imagensubidanombre" id="imagensubidanombre">
                            {% if imagendevuelta != '' %}
                                <img src="/uploads/user/{{ imagendevuelta }}" widtH="200" height="200" id="imagenusuario">
                            {% else %}
                                <img src="" widtH="200" height="200" id="imagenusuario">
                            {% endif %}
                            <iframe src="{{path("admin_imageupload", {tiposubida: 'user'})}}" height="0" width="1300" style="border:0px;" name="inter"></iframe>
                        </div>	            
                        {{ form_rest(form) }}
                </div>
            </section>

            <a class="" data-toggle="modal" href="#myModal" id="clickmodal"></a>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 923px;margin: 36px auto;height: 508px!important;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{'Editar imagen'|trans}}</h4>
                        </div>

                        <div style="width:100%; height:auto; padding-top: 17px;" >
                            <img src="/bundles/hotelesbackend/img/logo2.png" id="target" width="200" alt="[Jcrop Example]" />
                        </div>

                        <div class="clearfix"></div>

                        <div class="modal-footer">
                            <button data-dismiss="modal" id="closeimage" class="btn btn-default" type="button">{{'Cerrar'|trans}}</button>
                            <button class="btn btn-success" id="successimage" data-id="" data-url="" data-img="" type="button">{{'Guardar cambios'|trans}}</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <button type="submit" class="btn btn-info">{{'Crear'|trans}}</button>   
                    </form><!-- / form edit -->
                    <a href="{{ path('admin_useradministrador') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
                </div>
            </section>
            <!-- /btns -->
        </div><!-- /col -->
    </div><!-- /row -->


{% endblock %}

{% block jsextras %}

    {% set urlcrea = path('admin_useradministrador_create') %}
    {% set urlsubidaimagen = path("admin_imageupload", {tiposubida: 'user'}) %}
    {% set tipo = 'user' %}
    {% set crop1 = '100' %}
    {% set crop2 = '100' %}
    {% set crop3 = '100' %}
    {% set crop4 = '100' %}
    {% set crop5 = '1' %}
    {% set crop6 = '1' %}

    {% include 'HotelesBackendBundle:Crop:crop.html.twig' with {'especifico': 'user' } %}

{% endblock %}