<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{%block title %}Roomastic{% endblock %}</title>

        <meta name="title" content="{% block seotitle %}{{ seo.seotitulo is defined ? seo.seotitulo : '' }}{% endblock %}">
        <meta name="description" content="{% block seodescripcion %}{{ seo.seodescripcion is defined ? seo.seodescripcion : '' }}{% endblock %}">
        <meta name="keywords" content="{% block seokeywords %}{{ seo.seokeywords is defined ? seo.seokeywords : '' }}{% endblock %}">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="/bundles/hotelesfrontend/img/favicon.ico" />
        <link rel="apple-touch-icon" href="/bundles/hotelesfrontend/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/bundles/hotelesfrontend/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/bundles/hotelesfrontend/img/apple-touch-icon-114x114.png">
        <!-- meta para mv -->
        <meta name="viewport" content="width=700, target-densityDpi=device-dpi">
        {%block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

            <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
            <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/daterangepicker-bs3.css">
            <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/selectize.default.css">
            <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/owl.carousel.css">
            <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/base.css"  />
            <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/jquery.fancybox.css">
            <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/sweet-alert.css">
            {% stylesheets 'bundles/hotelesfrontend/css/movil.css'  filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!--[if lt IE 9]>
            <script src="js/vendor/html5shiv/dist/html5shiv.min.js"></script>
        <![endif]-->

    </head> 
    {% set rrss = getRRSS() %}
    <script>
        if (typeof ROOMASTIC === 'undefined') {
            ROOMASTIC = {};
        }
        ROOMASTIC.version_mv = true;
    </script>
    <body class="portada">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- aviso cookie -->

        <!-- wrapper -->
        <div class="wrapper">
            <!-- aviso cookie -->
            <div id="cookie-bar" class="fixed"></div>
            <!-- aviso cookie -->
            <!-- header -->
            <div class="headerpg">
                <h1><a href="index">Roomastic</a></h1>
            </div>
            <div class="container">        
                {% block content %}
                {% endblock %}             
            </div><!-- container -->

            <!-- footer -->
            <div class="footer">
                <ul>
                    <li>
                        <a href="{{ path (app.request.attributes.get('_route'), getCurrentRouteParams()|merge( {'version': 'full'} )) }}" class="web">VERSIÓN COMPLETA WEB</a>
                    </li>
                    <li class="last"><a href="{{path('HotelesFrontendBundle_condicionesLegales')}}" class="legal">AVISO LEGAL Y CONDICIONES </a></li>
                    <div class="clearfix"></div>    
                </ul>
                <p>© Copyright. Todos los derechos reservados.</p>

            </div>
            <!-- /footer -->
        </div> 
        <!-- /wrapper -->
        {% block modal %}
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="/bundles/hotelesfrontend/js/vendor/jquery/dist/jquery.min.js"><\/script>')</script>

            <script src="/bundles/hotelesfrontend/js/plugins.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/jquery.backstretch.min.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/moment.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/daterangepicker.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/selectize.min.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/icheck.min.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/gmap3.min.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/owl.carousel.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
            <!-- slide fotos detalle hotel -->
            <script type="text/javascript" src="/bundles/hotelesfrontend/js/plugins/jquery.jcarousel.min.js"></script>
            <script type="text/javascript" src="/bundles/hotelesfrontend/js/plugins/jquery.pikachoose.js"></script>
            <!-- fancybox -->
            <script src="/bundles/hotelesfrontend/js/plugins/source/jquery.fancybox.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/source/jquery.fancybox.pack.js"></script>
            <!-- api maps -->
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
            <!-- cookies -->
            <script src="/bundles/hotelesfrontend/js/plugins/jquery.cookiebar.js"></script>
            <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
            <script type="text/javascript">
                {% if app.debug == 1 %}
                    var env = 'dev';
                {% else %}
                    var env = 'prod';
                {% endif %}
            </script>


            {% javascripts '@HotelesFrontendBundle/Resources/public/js/roomastic.js' %}
            <script src="{{asset_url}}"></script>
            {% endjavascripts %}

            <!-- script slide foto hotel detalle -->
            <script type="text/javascript">
                    jQuery(document).ready(function () {
                        var a = function (self) {
                            self.anchor.fancybox();
                        };
                        jQuery("#pikame").PikaChoose({buildFinished: a});
                    });
            </script> 


            <script>
                (function (b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l;
                    b[l] || (b[l] =
                            function () {
                                (b[l].q = b[l].q || []).push(arguments)
                            });
                    b[l].l = +new Date;
                    e = o.createElement(i);
                    r = o.getElementsByTagName(i)[0];
                    e.src = '//www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', 'UA-53266623-1');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
