{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar lugar'|trans}}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Editar lugar'|trans}}
        </header>
        <div class="panel-body">
            <form role="form" action="{{ path('admin_lugares_update', { 'id': entity.id }) }}"  method="post" {{ form_enctype(edit_form) }}>
              <div class="form-group {{ error(form_errors(edit_form.provincia)) }}">
                  <label for="exampleInputEmail1">{{'Provincia'|trans}}</label>
                  <div class="">
                  {{ form_errors(edit_form.provincia) }}
                  {{ form_widget(edit_form.provincia, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.municipio)) }}">
                  <label for="exampleInputEmail1">{{'Municipio'|trans}}</label>
                  <div class="">
                  {{ form_errors(edit_form.municipio) }}
                  {{ form_widget(edit_form.municipio, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.zona)) }}">
                  <label for="exampleInputEmail1">{{'Zona'|trans}}</label>
                  <div class="">
                  {{ form_errors(edit_form.zona) }}
                  {{ form_widget(edit_form.zona, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>              
               {{ form_rest(edit_form) }}
        </div>
    </section>
    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-info">{{'Guardar'|trans}}</button>   
            </form><!-- / form edit -->
               {# <a class="btn btn-warning" href="{{ path('HotelesFrontendBundle_quienesSomos') }}" target="_blank">{{'Ver en la web'|trans}}</a>#}
               <a href="{{ path('admin_lugares') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
              <form action="{{ path('admin_lugares_delete', { 'id': entity.id }) }}" method="post" class="btnDelete">
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de borrar?');">{{'Borrar'|trans}}</button>
            </form>
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->

{#
<form action="{{ path('admin_lugares_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_lugares') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_lugares_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
#}
{% endblock %}

{% block jsextras %}
    <script type="text/javascript">

        var id = $('#hoteles_backendbundle_lugartype_provincia option:selected').val()
        $('#hoteles_backendbundle_lugartype_municipio').load(Routing.generate('admin_lugaresfiltramunicipio', { idprovincia: id, obligatorio : 1 }));

        $('#hoteles_backendbundle_lugartype_provincia').change(function(event) {
            var id = $('#hoteles_backendbundle_lugartype_provincia option:selected').val()
            $('#hoteles_backendbundle_lugartype_municipio').load(Routing.generate('admin_lugaresfiltramunicipio', { idprovincia: id, obligatorio : 1 }));
            
        });
    </script>
{% endblock %}