{% extends "HotelesBackendBundle::layout.html.twig" %}

{%block javascripts %}
    {{parent()}}
    {% javascripts '@HotelesBackendBundle/Resources/public/js/dashboard/dashboard.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{%endblock %}
{% block body %}
    <!--main content start-->
    <script>
        if (typeof ROOMASTIC === 'undefined') {
            ROOMASTIC = {};
        }
        ROOMASTIC.dashboard = {};
        ROOMASTIC.dashboard.header = {};

        ROOMASTIC.dashboard.header.count_ofertas_recibidas = {{ofertas_recibidas_30_dias}};
                ROOMASTIC.dashboard.header.count_ofertas_aceptadas = {{ofertas_aceptadas_30_dias}};
                ROOMASTIC.dashboard.header.count_ofertas_pagadas = {{reservas_efectuadas_30_dias}};
                ROOMASTIC.dashboard.header.count_ofertas_minimas = {{ofertas_debajo_minimo}};</script>

    <section class="wrapper">
        <!--state overview start-->
        <div class="row state-overview">
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol terques">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="value">
                        <h1 id="count_ofertas_recibidas">
                            0
                        </h1>
                        <p>{{'Ofertas recibidas en los últimos 30 días'|trans}}</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol red">
                        <i class="fa fa-tags"></i>
                    </div>
                    <div class="value">
                        <h1 id="count_ofertas_aceptadas">
                            0
                        </h1>
                        <p>{{'Ofertas aceptadas en los últimos 30 días'|trans}}</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol yellow">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="value">
                        <h1 id="count_ofertas_pagadas">
                            0
                        </h1>
                        <p>{{'Reservas efectuadas en los últimos 30 días'|trans}}</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol blue">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="value">
                        <h1 id="count_ofertas_minimas">
                            0
                        </h1>
                        <p>{{'Ofertas por debajo del minimo en los últimos 30 días'|trans}}</p>
                    </div> 
                </section>
            </div>
        </div>
        <!--state overview end-->

        <div class="row">
            <div class="col-lg-8">
                <!--custom chart start-->
                <div class="border-head">
                    <h3>{{'Ofertas recibidas por mes en el último año'|trans}}</h3>
                </div>
                <div class="custom-bar-chart" id="custom-bar-chart" data-max-value="{{num_ofertas_anio_mes_max}}">
                    <ul class="y-axis">
                        {% for step in rango_y %}
                            <li>
                                <span>{{step}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    {% for ofertas_por_mes in num_ofertas_anio_mes %}
                        <div class="bar">
                            <div class="title">
                                {{nombre_meses[loop.index0]}}
                            </div>
                            <div class="value tooltips" data-original-title="ofertas_por_mes" data-toggle="tooltip" data-placement="top">
                                {{ofertas_por_mes}}
                            </div>
                        </div>
                        {% else %}
                            <script>
                                        console.log('error');
                            </script>
                            {% endfor %}

                            </div>
                            <!--custom chart end-->
                        </div>
                        <div class="col-lg-4">
                            <!--new earning start-->
                            <div class="panel terques-chart">
                                <div class="panel-body chart-texture">
                                    <div class="chart">
                                        <div class="heading">
                                            <span id="titulo-periodo" data-titulo-mes="{{'Total último mes'|trans}}" data-titulo-semana="{{'Total última semana'|trans}}">{{'Total último mes'|trans}}</span>
                                            <strong id="sum-ofertas-periodo">{{sum_ofertas_mes|number_format(2,',','.')}} €</strong>
                                        </div>
                                        <div class="sparkline grafico-facturacion" 
                                             data-type="line" 
                                             data-resize="true" 
                                             data-height="75" 
                                             data-width="90%" 
                                             data-line-width="1" 
                                             data-line-color="#fff" 
                                             data-spot-color="#fff" 
                                             data-fill-color="" 
                                             data-highlight-line-color="#fff" 
                                             data-spot-radius="4" 
                                             data-data-mes ="{{daily_sum_ofertas_mes}}"
                                             data-data-semana ="{{daily_sum_ofertas_semana}}"
                                             data-data="{{daily_sum_ofertas_mes}}"                                 
                                             data-sum-ofertas-mes ="{{sum_ofertas_mes|number_format(2,',','.')}}"
                                             data-sum-ofertas-semana="{{sum_ofertas_semana|number_format(2,',','.')}}"
                                             ></div>
                                    </div>
                                </div>
                                <div class="chart-tittle">
                                    <span class="title">{{'Total facturado por periodo'|trans}}</span>
                                    <span class="value">
                                        <a href="#" class="active facturacion-ultimo-mes">{{'Último mes'|trans}}</a>
                                        |
                                        <a href="#" class="facturacion-ultima-semana">{{'Última semana'|trans}}</a>
                                    </span>
                                </div>
                            </div>
                            <!--new earning end-->

                            <!--total earning start-->
                            <div class="panel green-chart">
                                <div class="panel-body">
                                    <div class="chart">
                                        <div id="barchart"
                                             data-data="{{monthly_ofertas_yearly}}"                          

                                             ></div>
                                    </div>
                                </div>
                                <div class="chart-tittle">
                                    <span class="title">{{'Facturación últimos 12 meses'|trans}}</span>
                                    <span class="value">{{sum_monthly_ofertas_yearly|number_format(2,',','.')}} €</span>
                                    {#
                                    - Admin ve el bruto general
                                    - Empresa ve suma de neto de sus hoteles
                                    - Hotel ve suma de neto de su hotel
                                    #}
                                </div>
                            </div>
                            <!--total earning end-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <!--user info table start-->
                            <section class="panel">
                                <div class="panel-body">
                                    <a href="#" class="task-thumb">
                                        <img  src="{{app.user.getAvatarImage()}}" style="width:90px;height:90px;" alt="">
                                    </a>
                                    <div class="task-thumb-details">
                                        <h1>
                                            <a href="#">{{app.user.getNombreCompleto}}</a>
                                        </h1>
                                        {% if is_granted('ROLE_HOTEL') %}
                                            <p>{{app.user.cargo|default('Sin especificar'|trans)}}</p>
                                        {%endif%}
                                    </div>
                                </div>
                                <table class="table table-hover personal-task">
                                    <tbody>
                                        {% if is_granted('ROLE_HOTEL') %}
                                            <tr>
                                                <td>
                                                    <i class=" fa fa-tasks"></i>
                                                </td>
                                                <td>{{'Numero de ofertas gestionadas'}}</td>
                                                <td>{{num_ofertas_gestionadas|default('0')}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-bell-o"></i>
                                                </td>
                                                <td>
                                                    <a  href="{{ path('admin_ofertas_filtradas',{filtro:'pendientes'}) }}">{{'Numero de ofertas pendientes'|trans}}</a>
                                                </td>
                                                <td>
                                                    <a  href="{{ path('admin_ofertas_filtradas',{filtro:'pendientes'}) }}">{{num_ofertas_pendientes|default('0')}}</a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>
                                                <i class="fa fa-exclamation"></i>
                                            </td>
                                            <td><a href="{{ path('admin_incidencia') }}">{{'Incidencias'|trans}}</a></td>
                                            <td><a href="{{ path('admin_incidencia') }}">{{incidencias|length}}</a></td>
                                        </tr>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <tr>
                                                <td>
                                                    <i class=" fa fa-envelope"></i>
                                                </td>
                                                <td>{{'Buzón de contacta'|trans}}</td>
                                                <td>{{ contactos|length }}</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </section>
                            <!--user info table end-->
                        </div>
                        <div class="col-lg-8">
                            <!--work progress start-->
                            {% if is_granted('ROLE_EMPRESA') or is_granted('ROLE_ADMIN') %}
                                <section class="panel">
                                    <div class="panel-body progress-panel">
                                        <div class="task-progress">
                                            <h1>{{'Ranking de hoteles'|trans}}</h1>
                                        </div>                           
                                    </div>
                                    <table class="table table-hover personal-task">
                                        <tbody>
                                            {% for nombre_hotel,porcentaje in ranking %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td>{{nombre_hotel}}</td>
                                                    <td>
                                                        {% include 'HotelesBackendBundle:Landing:porcentaje-de-ofertas-atendidas.html.twig' with {porcentaje: porcentaje}%}
                                                    </td>
                                                </tr>
                                            {% endfor %}                              

                                        </tbody>
                                    </table>
                                </section>
                            {% endif %}
                            <!--work progress end-->
                        </div>
                    </div>                   
                </section>

                {% endblock %}