{% if app.user.username is defined %}   
    <script>window.location.href = '{{path('admin_landing')}}'</script>
{% endif %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mosaddek">
        <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
        <link rel="shortcut icon" href="img/favicon.png">

        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

        <title></title>

        <!-- Bootstrap core CSS -->
        <link href="/bundles/hotelesbackend/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bundles/hotelesbackend/css/bootstrap-reset.css" rel="stylesheet">
        <!--external css-->
        <link href="/bundles/hotelesbackend/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="/bundles/hotelesbackend/css/style.css" rel="stylesheet">
        <link href="/bundles/hotelesbackend/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>


    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}

    <body class="login-body">

        <div class="container">

            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                <h2 class="form-signin-heading">{{'Accede a tu cuenta'|trans}}</h2>
                <div class="login-wrap">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <input type="text" class="form-control" placeholder="{{'Usuario'|trans}}" name="_username" value="{{ last_username }}" autofocus>
                    <input type="password" class="form-control" placeholder="{{'Contraseña'|trans}}" name="_password">
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> {{'Recordarme en este equipo'|trans}}
                    </label>
                    <button class="btn btn-lg btn-login btn-block" type="submit">{{'Acceder'|trans}}</button>
                    <p class="forgor_ps">
                        <a href="{{path('fos_user_resetting_request')}}"> {{'¿Has olvidado tu contraseña?'|trans}}</a>
                    </p>
                </div>
            </form>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{'¿Has olvidado la contraseña?'|trans}}</h4>
                        </div>                            
                        <form method="POST" action="{{path('fos_user_resetting_send_email')}}" >
                            <div class="modal-body">
                                <p>{{'Escribe tu email y te reenviaremos una nueva contraseña'|trans}}</p>
                                <input type="text" name="username" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix"/>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">{{'Cancelar'|trans}}</button>
                                <button class="btn btn-success" type="button">{{'Enviar'|trans}}</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- modal -->


        </div>



        <!-- js placed at the end of the document so the pages load faster -->
        <script src="/bundles/hotelesbackend/js/jquery.js"></script>
        <script src="/bundles/hotelesbackend/js/bootstrap.min.js"></script>


    </body>
</html>