<h1>Imagenhotel list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imagen</th>
            <th>Hotel</th>
            <th>Orden</th>
            <th>Alt</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_imagenhotel_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.imagen }}</td>
            <td>{{ entity.hotel }}</td>
            <td>{{ entity.orden }}</td>
            <td>{{ entity.alt }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_imagenhotel_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_imagenhotel_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_imagenhotel_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
