<h1>Imagenhotel</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Imagen</th>
            <td>{{ entity.imagen }}</td>
        </tr>
        <tr>
            <th>Hotel</th>
            <td>{{ entity.hotel }}</td>
        </tr>
        <tr>
            <th>Orden</th>
            <td>{{ entity.orden }}</td>
        </tr>
        <tr>
            <th>Alt</th>
            <td>{{ entity.alt }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_imagenhotel') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_imagenhotel_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_imagenhotel_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
