{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

	<form class="form-signin">
        <h2 class="form-signin-heading no-icon">{{'Aviso'|trans}}</h2>
        <div class="login-wrap">
            <p>{{ 'El cambio de password ya ha sido solicitado'|trans({}, 'FOSUserBundle') }}</p>
        </div>
    </form>
    
{% endblock fos_user_content %}
