
{% block fos_user_content -%}
    {% if invalid_username is defined %}
        <div class="alert alert-danger fade in alert-width">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Error</strong><br> {{ 'Credenciales no válidas'|trans({'%username%': invalid_username}) }}
        </div>
    {% endif %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-signin">
        <h2 class="form-signin-heading no-icon">{{'¿Has olvidado tu contraseña?'|trans}}</h2>
        <div class="login-wrap">
            <p>{{'Introduce tu usuario:'|trans}}</p>
            <input class="form-control" id="username" name="username" required="required" type="text" />
            <button class="btn btn-lg btn-login btn-block" type="submit">{{'Enviar'|trans}}</button>
        </div>
    </form>
{% endblock %}

