{% form_theme form theme %}
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-signin">
    {# ladybug_dump(form)  #}
    {% if invalid_username is defined %}
        <div class="alert alert-danger fade in alert-width">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Error</strong><br> {{ 'Credenciales no válidas'|trans({'%username%': invalid_username}) }}
        </div>
    {% endif %}
    <h2 class="form-signin-heading no-icon">{{'Introduce tu contraseña'|trans}}</h2>
    <div class="login-wrap">
        <p>{{'Introduce tu contraseña: (que sea facil de recordar)'|trans}}</p>
        {# {{ form_errors(form.password.first) }}#}
        {{ form_widget(form.new.first, { 'attr': {'class': 'form-control'} }) }}            
        <p>{{'Repite tu contraseña:'|trans}}</p>
        {{ form_widget(form.new.second, { 'attr': {'class': 'form-control'} }) }}         
        {{ form_rest(form)}}
        <button class="btn btn-lg btn-login btn-block" type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}">{{'Enviar'|trans}}</button>
    </div>    
</form>


