{% extends "HotelesFrontendBundle:TPV:pago-terminado.html.twig" %}
{% block resultado_venta %}
    <h2>{{'Confirmación de compra'|trans}}</h2>
    <p>{{'A continuación te presentamos un resumen de la reserva que acabas de realizar.'|trans}}</p>
    <p>{{'Si tienes alguna duda, puedes ponerte en contacto con nosotros.'|trans}}</p>
    <div class="separador"></div>
    <div class="tpv_ok">
        <div class="txt1 left">
            <p><span>¡Enhorabuena!</span></p>
            <p>Tu compra se ha realizado correctamente.</p>	
        </div>
        <div class="txt2 left">
            <p>Te acabamos de enviar un email a tu correo con la confirmación de tu reserva. Te recomendamos imprimir esta página como resguardo de tu compra.</p>
        </div>
        <a href="#" class="left" onclick="window.print();" ><img src="/bundles/hotelesfrontend/img/icon_print.png" alt=""></a>

        <div class="clearfix"></div>
    </div>    
{% endblock %}



