{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}
    <div class="contenedor-contenedor-iframe">
        <div class="contenedor-iframe">
            <iframe name="iframe" src="{{url('hoteles_frontend_tpv_processpayment', {'firma':firma})}}" frameborder="0" style="overflow:hidden;height: 100%;
                    width:100%" height="123%" width="100%"></iframe>
        </div>
    </div>
{% endblock %}
