{% extends "HotelesFrontendBundle:TPV:layoutTPV.html.twig" %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@HotelesFrontendBundle/Resources/public/js/pago/pago-inicial.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block content %}
    <div class="set-height-container">

        <div class="contenido confirmaciontpv">

            <h2>{{'Confirma tus datos y realiza el pago'|trans}}</h2>
            <p>{{'El hotel ha aceptado tu oferta. A continuación te presentamos un resumen de la reserva que vas a realizar.'|trans}}</p>
            <p>{{'Revisa cuidadosamente los datos y realiza tu pago.'|trans}}</p>
            <div class="separador"></div>
            <div class="bq">
                <div class="tit">{{'El hotel'|trans}}</div>
                <div class="cont clearfix">
                    <p class="name">{{hotel.nombrehotel}}</p>
                    <p>{{hotel.ubicacion}}</p>
                    <div class="estrellas">
                        <img src="/bundles/hotelesfrontend/img/{{hotel.calificacion}}stars.png">
                    </div>
                    <div class="left">
                        <img src="{{hotel.getImagePath ~ '/' ~ hotel.getOrderedImagenesDelHotel[0].imagen }}" class="imgppal">
                    </div>
                    <div class="right">
                        <ul class="servicios">

                            {% if hotel.piscina == 1 %}
                                <li class="piscina">
                                    <label for="piscina">{{'Piscina'|trans}}</label>
                                </li>
                            {% endif %}

                            {% if hotel.spa == 1 %}
                                <li class="spa">
                                    <label for="Spa">{{'Spa'|trans}}</label>
                                </li>
                            {% endif %}

                            {% if hotel.wiFi == 1 %}
                                <li class="wi-fi">
                                    <label for="Bar">{{'Wi-Fi'|trans}}</label>
                                </li>	
                            {% endif %}

                            {% if hotel.accesoAdaptado == 1 %}
                                <li class="acceso-adaptado">
                                    <label for="Acceso-Adaptado">{{'Acceso adaptado'|trans}}</label>
                                </li>
                            {% endif %}

                            {% if hotel.aceptanPerros == 1 %}
                                <li class="perros">
                                    <label for="perros">{{'Aceptan perros'|trans}}</label>
                                </li>
                            {% endif %}

                            {% if hotel.aparcamiento == 1 %}
                                <li class="parking">
                                    <label for="parking">{{'Aparcamiento/Parking'|trans}}</label>
                                </li>
                            {% endif %}

                            {% if hotel.businessCenter == 1 %}
                                <li class="business-center">
                                    <label for="business-center">{{'Business center'|trans}}</label>
                                </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>

            </div>
            <div class="bq">
                <div class="tit">{{'Datos de la reserva'|trans}}</div>
                <div class="cont">
                    <ul class="datos">
                        <li class="left">
                            <p>{{'Fecha de entrada'|trans}}</p>
                            <p><span>{{oferta.fechain|date('d/m/Y')}}</span></p>
                        </li>
                        <li class="left">
                            <p>{{'Número de adultos'|trans}}</p>
                            <p><span>{{oferta.numadultos}}</span></p>
                        </li>
                        <li class="left">
                            <p>{{'Número de noches'|trans}}</p>
                            <p><span>{{oferta.numnoches}}</span></p>
                        </li>
                        {% if oferta.numninos != 0 %}
                            <li class="left">
                                <p>{{'Número de niños'|trans}}</p>
                                <p><span>oferta.numninos</span></p>
                            </li>
                        {% endif %}

                        <li class="left">
                            <p>{{'Nombre y apellidos'|trans}}</p>
                            <p><span>{{oferta.usuario.getNombreCompleto}}</span></p>
                        </li>
                        <li class="left">
                            <p>{{'Código de tu operación'|trans}}</p>
                            <p><span>{{sale.firma}}</span></p>
                        </li>
                        <li>
                            <p>{{'DNI'|trans}}</p>
                            <p><span>{{oferta.usuario.dni}}</span></p>
                        </li>
                        <li>
                            <p>{{'Importe total de la reserva'|trans}}</p>
                            <p><span>{{sale.amount|number_format(2,',','.') ~ '€'|trans}}</span></p>
                        </li>
                    </ul>
                    <a href="#" class="btn boton-pago">{{'pagar con tarjeta'|trans}} <img src="/bundles/hotelesfrontend/img/icon_tarjeta.png" alt=""></a>
                    <div>
                        <iframe id="iframe" name="iframe" style="width:100%;height:650px;border:0;margin-top:30px;"></iframe>
                    </div>
                    <form target="iframe" class="formulario-pago-inicial"name="compra" action="{{ payment.entorno }}" method="post" > 
                        <input type="hidden" name="Ds_Merchant_Amount" value='{{ payment.importe  }}'>
                        <input type="hidden" name="Ds_Merchant_Currency" value='{{ payment.moneda  }}'>
                        <input type="hidden" name="Ds_Merchant_Order"  value='{{ payment.pedido  }}'>
                        <input type="hidden" name="Ds_Merchant_MerchantCode" value='{{ payment.codigoFuc  }}'>
                        <input type="hidden" name="Ds_Merchant_Terminal" value='{{ payment.terminal  }}'>
                        <input type="hidden" name="Ds_Merchant_TransactionType" value='{{ payment.transactionType  }}'>
                        <input type="hidden" name="Ds_Merchant_MerchantURL" value='{{ payment.urlNotificacion  }}'>

                        <input type="hidden" name="Ds_Merchant_MerchantSignature" value='{{ payment.getFirma  }}'>
                        <input type="hidden" name="Ds_Merchant_UrlOK" value='{{ payment.urlOK  }}'>
                        <input type="hidden" name="Ds_Merchant_UrlKO" value='{{ payment.urlKO  }}'>
                        <input type="hidden" name="Ds_Merchant_MerchantName" value='{{ payment.nombreComercio  }}'>
                        <input type="hidden" name="Ds_Merchant_PayMethods" value='{{ payment.metodo  }}'>
                        <input type="hidden" name="Ds_Merchant_ProductDescription" value='{{ payment.descripcion  }}'>
                        <input type="hidden" id="send" />
                    </form>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="separador"></div>

        </div><!-- contenido -->
    </div>
{% endblock %}
