{% extends "HotelesFrontendBundle:TPV:pago-terminado.html.twig" %}
{% block resultado_venta %}
    <div class="tpv_ko">
        <p><span>Ha habido algún problema</span></p>
        <p>Tu pago no ha podido realizarse correctamente. Inténtalo de nuevo pasados unos minutos o con otra tarjeta. Si el problema persiste, llámanos.</p>
    </div>    
{% endblock %}



