<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mosaddek">
        <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
        <link rel="shortcut icon" href="/bundles/hotelesfrontend/img/favicon.ico">

        <title>{% block titulo %}Roomastic Backend - {% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/bundles/hotelesbackend/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bundles/hotelesbackend/css/bootstrap-reset.css" rel="stylesheet">
        <!--external css-->
        <link href="/bundles/hotelesbackend/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/bundles/hotelesbackend/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
        <link rel="stylesheet" href="/bundles/hotelesbackend/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="/bundles/hotelesbackend/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
        <!-- Custom styles for this template -->
        <link href="/bundles/hotelesbackend/css/style.css" rel="stylesheet">
        <link href="/bundles/hotelesbackend/css/style-responsive.css" rel="stylesheet" />

        <link href="/bundles/hotelesbackend/assets/dropzone/css/dropzone.css" rel="stylesheet"/>

        <link href="/bundles/hotelesbackend/css/tasks.css" rel="stylesheet">

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <link rel="stylesheet" href="/bundles/hotelesbackend/css/jquery.Jcrop.css" type="text/css" />

        <link rel="stylesheet" type="text/css" href="/bundles/hotelesbackend/assets/bootstrap-fileupload/bootstrap-fileupload.css" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="/bundles/hotelesbackend/js/html5shiv.js"></script>
          <script src="/bundles/hotelesbackend/js/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">
            .withbuttons {
                margin-top: -47px!important;
                margin-bottom: -15px!important;
            }  
            .withoutbuttons {
                margin-top: -15px!important;
                margin-bottom: -15px!important;
            }
            .errortab a{
                color: #a94442!important;
            } 
            .disabled span{
                padding: 0 10px;
                height: 28px;
            }     
        </style>

        <style type="text/css">

            /* Apply these styles only when #preview-pane has
               been placed within the Jcrop widget */
            .jcrop-holder #preview-pane {
                display: block;
                position: absolute;
                z-index: 2000;
                top: 10px;
                right: -280px;
                padding: 6px;
                border: 1px rgba(0,0,0,.4) solid;
                background-color: white;

                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;

                -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            }

            /* The Javascript code will set the aspect ratio of the crop
               area based on the size of the thumbnail preview,
               specified here */
            #preview-pane .preview-container {
                width: 250px;
                height: 170px;
                overflow: hidden;
            }

            .jcrop-holder{
                margin: 0 auto!important;
            }

            .jcrop-keymgr{
                display: none!important;
            }

        </style>

    </head>

    <body>

        <section id="container" >
            <!--header start-->
            <header class="header white-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>
                <!--logo start-->
                <a href="{{ path('admin_landing') }}" class="logo"><img src="/bundles/hotelesbackend/img/logo2.png"></a>
                <!--logo end-->
                <div class="nav notify-row" id="top_menu">
                    <!--  notification start -->
                    <ul class="nav top-menu">
                        {% set incidencias = incidencias_backend(app.user) %}
                        <!-- inbox dropdown start-->
                        <li id="header_inbox_bar" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="fa fa-exclamation"></i>
                                {% if incidencias|length > 0 %}
                                    <span class="badge bg-important">{{ incidencias|length }}</span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu extended inbox">
                                <div class="notify-arrow notify-arrow-red"></div>
                                <li>
                                    <p class="red"> {{'Tienes'|trans}} {{ incidencias|length }} {{'nuevos mensajes internos'|trans}}</p>
                                </li>
                                {% for incidencia in incidencias %}
                                    {% include 'HotelesBackendBundle:NotificacionesHeader:incidencia.html.twig' with {'incidencia': incidencia} %}                            
                                {% endfor %}
                                <li>
                                    <a href="{{ path('admin_incidencia') }}">{{'Ver todos los mensajes'|trans}}</a>
                                </li>                       
                            </ul>
                        </li>
                        <!-- inbox dropdown end -->

                        {% if is_granted('ROLE_ADMIN') %}

                            {% set contactos = contactos_backend() %}

                            <!-- notification dropdown start-->
                            <li id="header_notification_bar" class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="fa fa-envelope-o"></i>
                                    {% if contactos|length > 0 %}
                                        <span class="badge bg-warning">{{ contactos|length }}</span>
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu extended inbox">
                                    <div class="notify-arrow notify-arrow-red"></div>
                                    <li>
                                        <p class="red"> {{'Tienes'|trans}} {{ contactos|length }} {{'nuevos mensajes externos'|trans}}</p>
                                    </li>
                                    {% for contacto in contactos %}
                                        {% include 'HotelesBackendBundle:NotificacionesHeader:contacto.html.twig' with {'contacto': contacto} %}       
                                                                    
                                    {% endfor %}
                                    <li>
                                        <a href="{{ path('admin_incidencia') }}">{{'Ver todos los mensajes'|trans}}</a>
                                    </li>                       
                                </ul>

                            </li>
                            <!-- notification dropdown end -->

                        {% endif %}

                        {% if is_granted('ROLE_HOTEL') and app.user.hotel.notificaciones is null == false %}
                            <!-- inbox notificaciones start-->
                            {% set notificaciones = app.user.hotel.notificaciones %}
                            <li id="header_inbox_bar" class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle medalla_notificaciones" href="#">
                                    <i class="fa fa-bell-o"></i>
                                    {% if notificaciones.getNumNotificaciones > 0 %}
                                        <span class="badge bg-important">{{ notificaciones.getNumNotificaciones }}</span>
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu extended notification">
                                    <div class="notify-arrow notify-arrow-red"></div>
                                    <li>
                                        <p class="red">{{'Tienes'|trans}} <span class="total_notificaciones">{{ notificaciones.getNumNotificaciones }}</span> {{'notificaciones nuevas'|trans}}</p>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_ofertas_filtradas',{filtro:'no-pagadas'}) }}">
                                            <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                            <strong><span class="ofertas_no_pagadas">{{notificaciones.getOfertasNoPagadas}}</span></strong> {{'Ofertas no pagadas'|trans}}
                                                {% if  notificaciones.getOfertasNoPagadas != 0 %}
                                                <span class="small italic">{{notificaciones.getFechaUltimaOfertaNoPagada|time_ago_in_words}}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_ofertas_filtradas',{filtro:'pendientes'}) }}">
                                            <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                            <strong><span class="ofertas_pendientes">{{notificaciones.getOfertasPendientes}}</span></strong> {{'Ofertas pendientes'|trans}}
                                                {% if notificaciones.getOfertasPendientes != 0 %}
                                                <span class="small italic">{{notificaciones.getFechaUltimaOfertaPendiente|time_ago_in_words}}</span>
                                            {% endif %}

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_ofertas_filtradas',{filtro:'pagadas'}) }}">
                                            <span class="label label-success"><i class="fa fa-plus"></i></span>
                                            <strong><span class="ofertas_pagadas"> {{notificaciones.getOfertasPagadas}}</span></strong> {{'Ofertas pagadas'|trans}}
                                            {% if notificaciones.getOfertasPagadas != 0 %}
                                                <span class="small italic">{{notificaciones.getFechaUltimaOfertaPagada|time_ago_in_words}}</span>
                                            {% endif %}

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_ofertas_filtradas',{filtro:'todos'}) }}">
                                            <span class="label label-info"><i class="fa fa-bullhorn"></i></span>
                                            <strong><span class="contraofertas_perdidas">{{notificaciones.getContraofertasPerdidas}}</span></strong> {{'Contraofertas perdidas'|trans}}
                                                {% if notificaciones.getContraofertasPerdidas != 0 %}
                                                <span class="small italic">{{notificaciones.getFechaUltimaContraofertaPerdida|time_ago_in_words}}</span>
                                            {% endif %}

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_ofertas') }}">{{'Ver todas las ofertas'|trans}}</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- inbox notificaciones end -->
                        {% endif %}

                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li>
                                <a href="{{ path('admin_landing', {'_want_to_be_this_user': '_exit' }) }}"><i class="fa fa-power-off"></i></a>
                            </li>
                        {% endif %} 

                        {#}

                        {% if is_granted('ROLE_ADMIN') %}
                            &nbsp;&nbsp;&nbsp;<span>ROLE_ADMIN</span>
                        {% elseif is_granted('ROLE_EMPRESA') %}
                            &nbsp;&nbsp;&nbsp;<span>ROLE_EMPRESA</span>
                        {% elseif is_granted('ROLE_HOTEL') %}
                            &nbsp;&nbsp;&nbsp;<span>ROLE_HOTEL</span>
                        {% endif %}

                        #}

                    </ul>
                    <!--  notification end -->
                </div>
                <div class="top-nav ">
                    <!--search & user info start-->
                    <ul class="nav pull-right top-menu">
                        {#
                        <li>
                            <input type="text" class="form-control search" placeholder="Search">
                        </li>
                        #}
                        <!-- user login dropdown start-->
                        <li class="dropdown">

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                {% if app.user.imagen is defined and app.user.imagen != '' %}
                                    <img width="29" height="29" alt="" src="/uploads/user/{{ app.user.imagen }}">
                                {% else %}
                                    <img width="29" height="29" alt="" src="/bundles/hotelesbackend/img/avatar.jpg">
                                {% endif %}
                                <span class="username">{{ app.user.getPublicUsername }}</span>
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-key"></i>{{'Salir'|trans}}</a>
                                </li>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li>
                                        <a href="{{ path('admin_landing', {'_want_to_be_this_user': '_exit'}) }}"><i class="fa fa-power-off"></i>{{'Dejar suplantación'|trans}}</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                    <!--search & user info end-->
                </div>
            </header>
            <!--header end-->
            <!--sidebar start-->
            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu" id="nav-accordion">

                        <li>
                            <a class="{{ active_menu( app.request.get('_route'), 'admin_landing', 'single') }}" href="{{ path('admin_landing') }}">
                                <i class="fa fa-dashboard"></i>
                                <span>{{'Dashboard'|trans}}</span>
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}

                            <li>
                                <a class="{{ active_menu( app.request.get('_route'), 'admin_usuario', 'complex') }}" href="{{ path('admin_usuario') }}">
                                    <i class="fa fa-user"></i>
                                    <span>{{'Usuarios'|trans}}</span>
                                </a>
                            </li>

                        {% endif %}

                        <li>
                            <a class="{{ active_menu( app.request.get('_route'), 'admin_incidencia', 'complex') }}" href="{{ path('admin_incidencia') }}">
                                <i class="fa fa-exclamation"></i>
                                <span>{{'Incidencias'|trans}}</span>
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_HOTEL') or is_granted('ROLE_EMPRESA')%}
                            <li class="sub-menu">
                                <a class="{{ active_menu( app.request.get('_route'), 'admin_ofertas', 'complex') }}" href="{{ path('admin_ofertas') }}">
                                    <i class="fa fa-eur"></i>
                                    <span>{{'Ofertas'|trans}}</span>

                                </a>
                                <ul class="sub">
                                    <li class="{{getRouteParam('filtro') == 'contraofertas' ? 'active': ''}}" >
                                        <a  href="{{ path('admin_ofertas_filtradas',{filtro:'contraofertas'}) }}">{{'Contraofertas'|trans}}</a>
                                    </li>
                                    <li class="{{getRouteParam('filtro') == 'pendientes' ? 'active': ''}}" >
                                        <a  href="{{ path('admin_ofertas_filtradas',{filtro:'pendientes'}) }}">{{'Pendientes'|trans}}</a>
                                    </li>
                                    <li class="{{getRouteParam('filtro') == 'aceptadas' ? 'active': ''}}" >
                                        <a  href="{{ path('admin_ofertas_filtradas',{filtro:'aceptadas'}) }}">{{'Aceptadas'|trans}}</a>
                                    </li>     
                                    <li class="{{getRouteParam('filtro') == 'rechazadas' ? 'active': ''}}" >
                                        <a  href="{{ path('admin_ofertas_filtradas',{filtro:'rechazadas'}) }}">{{'Rechazadas'|trans}}</a>
                                    </li>     
                                    <li class="{{getRouteParam('filtro') == 'pagadas' ? 'active': ''}}" >
                                        <a  href="{{ path('admin_ofertas_filtradas',{filtro:'pagadas'}) }}">{{'Pagadas'|trans}}</a>
                                    </li>  
                                    <li class="{{getRouteParam('filtro') == 'no-pagadas' ? 'active': ''}}" >
                                        <a  href="{{ path('admin_ofertas_filtradas',{filtro:'no-pagadas'}) }}">{{'No pagadas'|trans}}</a>
                                    </li>  
                                    <li class="{{getRouteParam('filtro') == 'todos' ? 'active': ''}}" >
                                        <a  href="{{ path('admin_ofertas_filtradas',{filtro:'todos'}) }}">{{'Todos'|trans}}</a>
                                    </li>  

                                </ul>    
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN')%}

                            <li class="sub-menu">
                                <a href="javascript:;" class="{{ active_menu( app.request.get('_route'), 'admin_useradministrador', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_lugares', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_contactoweb', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_configuracion', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_newsletter', 'complex') }}  dcjq-parent">
                                    <i class="fa fa-cogs"></i>
                                    <span>{{'Administración'|trans}}</span>
                                </a>
                                <ul class="sub">
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_useradministrador', 'complex') }}" >
                                        <a  href="{{ path('admin_useradministrador') }}">{{'Usuarios'|trans}}</a>
                                    </li>
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_lugares', 'complex') }}" >
                                        <a  href="{{ path('admin_lugares') }}">{{'Lugares'|trans}}</a>
                                    </li>
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_contactoweb', 'complex') }}" >
                                        <a  href="{{ path('admin_contactoweb') }}">{{'Contacto'|trans}}</a>
                                    </li>     
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_configuracion', 'complex') }}" >
                                        <a  href="{{ path('admin_configuracion') }}">{{'Configuración'|trans}}</a>
                                    </li>     
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_newsletter', 'complex') }}" >
                                        <a  href="{{ path('admin_newsletter') }}">{{'Newsletter'|trans}}</a>
                                    </li>
                                </ul>
                            </li>

                        {% endif %}
                        {# Administracion de Empresa #}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPRESA') %}

                            <li class="sub-menu">
                                <a href="javascript:;" class="{{ active_menu( app.request.get('_route'), 'admin_empresa', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_userempresa', 'complex') }} dcjq-parent">
                                    <i class="fa fa-sitemap"></i>
                                    <span>{{'Empresa'|trans}}</span>
                                </a>
                                <ul class="sub">
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_empresa', 'complex') }}" >
                                        <a  href="{{ path('admin_empresa') }}">{{'Administración'|trans}}</a>
                                    </li>
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_userempresa', 'complex') }}" >
                                        <a  href="{{ path('admin_userempresa') }}">{{'Usuarios'|trans}}</a>
                                    </li>
                                </ul>
                            </li>                            
                        {% endif %}
                        {# Administracion de Hotel #}
                        <li class="sub-menu">
                            <a href="javascript:;" class="{{ active_menu( app.request.get('_route'), 'admin_hotel', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_userhotel', 'complex') }} dcjq-parent">
                                <i class="fa fa-suitcase"></i>
                                <span>{{'Hotel'|trans}}</span>
                            </a>
                            <ul class="sub">
                                {% if (is_granted('ROLE_HOTEL') and app.user.isAdmin) or is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPRESA') %}
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_hotel', 'complex') }}" >
                                        <a  href="{{ path('admin_hotel') }}">{{'Administración'|trans}}</a>
                                    </li>
                                {% endif %}
                                <li class="{{ active_menu( app.request.get('_route'), 'admin_userhotel', 'complex') }}" >
                                    <a  href="{{ path('admin_userhotel') }}">{{'Usuarios'|trans}}</a>
                                </li>
                            </ul>
                        </li>


                        {% if is_granted('ROLE_ADMIN')%}

                            <li class="sub-menu">
                                <a href="javascript:;" class="{{ active_menu( app.request.get('_route'), 'admin_condicioneslegales', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_privacidad', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_cookies', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_faqs', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_quienessomos', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_seo', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_homeconfiguracion', 'complex') }} {{ active_menu( app.request.get('_route'), 'admin_publicatuhotel', 'complex') }} dcjq-parent">
                                    <i class="fa fa-desktop"></i>
                                    <span>{{'Web'|trans}}</span>
                                </a>
                                <ul class="sub">
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_homeconfiguracion', 'complex') }}" >
                                        <a  href="{{ path('admin_homeconfiguracion') }}">{{'Imágenes home'|trans}}</a>
                                    </li>                            
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_quienessomos', 'complex') }}" >
                                        <a  href="{{ path('admin_quienessomos') }}">{{'Quiénes somos'|trans}}</a>
                                    </li>                        
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_condicioneslegales', 'complex') }}" >
                                        <a  href="{{ path('admin_condicioneslegales') }}">{{'Condiciones legales'|trans}}</a>
                                    </li>
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_privacidad', 'complex') }}" >
                                        <a  href="{{ path('admin_privacidad') }}">{{'Privacidad'|trans}}</a>
                                    </li>
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_publicatuhotel', 'complex') }}" >
                                        <a  href="{{ path('admin_publicatuhotel') }}">{{'Publica tu hotel'|trans}}</a>
                                    </li>                            
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_cookies', 'complex') }}" >
                                        <a  href="{{ path('admin_cookies') }}">{{'Cookies'|trans}}</a>
                                    </li>
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_faqs', 'complex') }}" >
                                        <a  href="{{ path('admin_faqs') }}">{{'Preguntas frecuentes'|trans}}</a>
                                    </li>       
                                    <li class="{{ active_menu( app.request.get('_route'), 'admin_seo', 'complex') }}" >
                                        <a  href="{{ path('admin_seo') }}">{{'SEO'|trans}}</a>
                                    </li>  
                                </ul>
                            </li>

                        {% endif %}


                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>

            <!--sidebar end-->
            <section id="main-content">
                <section class="wrapper">

                    <div class="row">
                        {#
                        <div class="col-lg-12">
                        <!--breadcrumbs start -->
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                                <li><a href="#">Library</a></li>
                                <li class="active">Data</li>
                            </ul>
                        <!--breadcrumbs end -->
                        </div>
                        #}
                    </div>
                    <!-- avisos ok y ko -->
                    {% include 'HotelesBackendBundle:Avisos:success.html.twig' with {'cabecera': '¡Genial!' } %}
                    {% include 'HotelesBackendBundle:Avisos:error.html.twig' with {'cabecera': '¡Vaya!' } %}

                    {% block body %}
                    {% endblock %}
                </section>
            </section>

            <!--footer start-->
            <footer class="site-footer">
                <div class="text-center">
                    2014 &copy; Roomastic
                    <a href="#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </section>
        {% block javascripts %}
            

            <!-- js placed at the end of the document so the pages load faster -->
            <script src="/bundles/hotelesbackend/js/jquery.js"></script>
            <script src="/bundles/hotelesbackend/js/jquery-1.8.3.min.js"></script>
            <script src="/bundles/hotelesbackend/js/bootstrap.js"></script>
            <script class="include" type="text/javascript" src="/bundles/hotelesbackend/js/jquery.dcjqaccordion.2.7.js"></script>
            <script src="/bundles/hotelesbackend/js/jquery.scrollTo.min.js"></script>
            <script src="/bundles/hotelesbackend/js/jquery.nicescroll.js" type="text/javascript"></script>
            <script src="/bundles/hotelesbackend/js/jquery.sparkline.js" type="text/javascript"></script>
            <script src="/bundles/hotelesbackend/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
            <script src="/bundles/hotelesbackend/js/owl.carousel.js" ></script>
            <script src="/bundles/hotelesbackend/js/jquery.customSelect.min.js" ></script>
            <script src="/bundles/hotelesbackend/js/respond.min.js" ></script>

            <script type="text/javascript" src="/bundles/hotelesbackend/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/bootstrap-daterangepicker/moment.min.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/jquery-multi-select/js/jquery.multi-select.js"></script>
            <script type="text/javascript" src="/bundles/hotelesbackend/assets/jquery-multi-select/js/jquery.quicksearch.js"></script>

            <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

            <!--common script for all pages-->
            <script src="/bundles/hotelesbackend/js/common-scripts.js"></script>

            <!--script for this page-->
            <script src="/bundles/hotelesbackend/js/sparkline-chart.js"></script>

            <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
            <script src="/bundles/hotelesbackend/js/gmaps.js"></script>

            <script src="/bundles/hotelesbackend/js/tasks.js" type="text/javascript"></script>

            <script src="/bundles/hotelesbackend/js/advanced-form-components.js"></script>

            <script src="/bundles/hotelesbackend/js/bootstrap-switch.js"></script>

            <script src="/bundles/hotelesbackend/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>

            {#
            <script src="/bundles/hotelesbackend/js/jquery.min.js"></script>
            #}
            <script src="/bundles/hotelesbackend/js/jquery.Jcrop.js"></script>
            {% if app.debug == true %}
                <script>
                $.ajaxSetup ({
                    // Disable caching of AJAX responses
                    cache: false
                });
                </script>
            {% endif %}
            {% if is_granted('ROLE_HOTEL') %}
                {% javascripts '@HotelesBackendBundle/Resources/public/js/notificaciones/notificaciones.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
            <script type="text/javascript">
                jQuery('#numSelect').change(function(event) {
                {% if app.request.query.all|length == 0 %}
                        window.location.href = window.location.pathname + '?show=' + jQuery('#numSelect :selected').val()
                {% else %}
                        var url = '';
                    {% for k,v in app.request.query.all %}
                            console.log('{{ k }}');
                        {% if loop.index == 1 %}
                                url = url + '?'
                        {% else %}
                                url = url + '&'
                        {% endif %}
                        {% if k == 'show' %}
                                url = url + '{{k}}' + '=' + jQuery('#numSelect :selected').val()
                        {% else %}
                                url = url + '{{k}}' + '='
                                        +{{v}} ;
                        {% endif %}
                    {% endfor %}
                            window.location.href = window.location.pathname + url;
                {% endif %}
                    });
            </script>

            <script>

                //owl carousel
                $(document).ready(function() {
                    $("#owl-demo").owlCarousel({
                        navigation: true,
                        slideSpeed: 300,
                        paginationSpeed: 400,
                        singleItem: true,
                        autoPlay: true

                    });
                });

                //custom select box
                $(function() {
                    $('select.styled').customSelect();
                });

            </script>

            {% block jsextras %}
            {% endblock %}
        {% endblock %}

    </body>
</html>
