/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

body {
    background: #fff;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -116px;
    position: relative;
    &:after {
        content: "";
        display: block;
    }
}

#footer, .wrapper:after {
  /* .push must be the same height as footer */
  height: 116px; 
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    color: #fff;
    background: #e72f82;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #e72f82;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #f3f3f3;
    margin: 22px 0;
    padding: 0;
}

a {
    text-decoration: none;
}

strong, b {
    font-weight: 700;
}


// Esconder spinner inputs=number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**
 * Mixins
 */
.rosa {
    color: #e72f82;
}
.radius {
    border-radius: 4px;
}

.anchoweb {
    min-width: 1020px;
}

.degradado {
    background: -webkit-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -moz-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -o-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background: -ms-linear-gradient(90deg, #a80c59 0%, #e72f82 100%);
    background-color: linear-gradient(0deg, #a80c59 0%, #e72f82 100%);
}