/* ==========================================================================
   Grid 1020px
   ========================================================================== */

.container {
	margin: 0 auto;
	width: 1020px;
}

.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}
.beta {
	margin-left: 0;
	margin-right: 0;
}