{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de contacto'|trans}}
{% endblock %}


{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{'Lista de contacto'|trans}}
                </header>
                <div class="panel-body">
                    <!--  buscador + rtdos -->
                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="editable-sample_length" class="dataTables_length">
                                    {% include 'HotelesBackendBundle:Extras:select.html.twig' %}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="dataTables_filter" id="editable-sample_filter">
                                    <label>{{'Buscar'|trans}}: <input type="text" aria-controls="editable-sample" class="form-control medium"></label>
                                </div>
                            </div>
                        </div>
                        <!-- / buscador + rtdos -->
                        <!--  contentTabla -->
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover" id="hidden-table-info">

                            <thead>
                                <tr>
                                    <th>{{'Id'|trans}}</th>
                                    <th>{{'Nombre'|trans}}</th>
                                    <th>{{'Apellidos'|trans}}</th>
                                    <th>{{'Email'|trans}}</th>
                                    <th>{{'Texto'|trans}}</th>
                                    <th>{{'Fecha'|trans}}   </th>
                                    <th>{{'¿Atendido?'|trans}}</th>
                                    <th>{{'Acciones'|trans}}</th>   
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><a href="{{ path('admin_contactoweb_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                        <td>{{ entity.nombre }}</td>
                                        <td>{{ entity.apellidos }}</td>
                                        <td>{{ entity.email }}</td>
                                        <td>{{ entity.texto }}</td>
                                        <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{% include 'HotelesBackendBundle:Contacto:atendido.html.twig' with {'atendido': entity.atendido} %}</td>
                                        <td>
                                            {#
                                            <a href="{{ path('admin_contactoweb_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'Ver'|trans}}"><i class="fa fa-eye"></i></a>
                                            #}
                                            <a href="{{ path('admin_contactoweb_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                        <!--  /contentTabla -->

                    </div> <!-- /addtable -->
                </div><!-- /panelbody -->

            </section>


        </div><!-- /col -->

    </div><!-- /row -->



{% endblock %}