{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Oferta creation</h1>

<form action="{{ path('admin_ofertas_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_ofertas') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}