{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Oferta</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Usuario</th>
            <td>{{ entity.usuario }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Hotel</th>
            <td>{{ entity.hotel }}</td>
        </tr>
        <tr>
            <th>Preciohabitacion</th>
            <td>{{ entity.preciohabitacion }}</td>
        </tr>
        <tr>
            <th>Fechain</th>
            <td>{{ entity.fechain|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fechaout</th>
            <td>{{ entity.fechaout|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Numnoches</th>
            <td>{{ entity.numnoches }}</td>
        </tr>
        <tr>
            <th>Numadultos</th>
            <td>{{ entity.numadultos }}</td>
        </tr>
        <tr>
            <th>Numninos</th>
            <td>{{ entity.numninos }}</td>
        </tr>
        <tr>
            <th>Numhabitaciones</th>
            <td>{{ entity.numhabitaciones }}</td>
        </tr>
        <tr>
            <th>Preciototaloferta</th>
            <td>{{ entity.preciototaloferta|number_format(2, ',', '.') }}</td>
        </tr>
        <tr>
            <th>Idoferta</th>
            <td>{{ entity.idoferta }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_ofertas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_ofertas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_ofertas_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}