{# 
private $statusMessages = array(
         self::OFERTA_CONTRAOFERTA_CADUCADA => 'Contraoferta caducada',
        self::OFERTA_CONTRAOFERTA_PAGADA => 'Contraoferta pagada',
        self::OFERTA_CONTRAOFERTA_ANULADA => 'Contraoferta anulada'
        self::OFERTA_PAGADA => 'Oferta pagada',
        self::OFERTA_NO_PAGADA => 'Oferta no pagada',
        self::OFERTA_RECHAZADA => 'Oferta rechazada',
        self::OFERTA_CADUCADA => 'Oferta caducada',
        self::OFERTA_ACEPTADA => 'Oferta aceptada',
        self::OFERTA_HOTEL_ACEPTADA => 'Oferta aceptada por otro hotel',
        self::GRUPO_OFERTA_ESTADO_INICIAL => 'Oferta inicial',
        self::GRUPO_OFERTA_ESTADO_ACEPTADA => 'Oferta aceptada por un hotel',
        self::GRUPO_OFERTA_ESTADO_CADUCADO => 'Oferta caducada',
        self::GRUPO_OFERTA_ESTADO_INVALIDO => 'Oferta estado no valido', 
        self::GRUPO_OFERTA_CONTRAOFERTA_REALIZADA => 'Contraoferta realizada', 
        self::OFERTA_VALIDA => 'Oferta pendiente',
        self::OFERTA_SUPERIOR_PVP => 'Oferta superior al PVP',
        self::OFERTA_INFERIOR_MINIMO => 'Oferta inferior al mínimo',
        self::OFERTA_CONTRAOFERTA_REALIZADA => 'Contraoferta realizada',
        self::OFERTA_CONTRAOFERTA_RECHAZADA => 'Contraoferta rechazada',

    );
#}
{# empty Twig template #}
{% if status == '0' %}
    <span class="label label-primary">{{'Oferta pendiente'|trans}}</span>
{% elseif status == '1' %}
    <span class="label label-primary">{{'Oferta superior al PVP'|trans}}</span>
{% elseif status == '2' %}
    <span class="label label-primary">{{'Oferta inferior al minimo'|trans}}</span>
{% elseif status == '10' %}
    <span class="label label-primary">{{'Contraoferta realizada'|trans}}</span>
{% elseif status == '11' %}
    <span class="label label-primary">{{'Contraoferta rechazada'|trans}}</span>
{% elseif status == '12' %}
    <span class="label label-primary">{{'Contraoferta caducada'|trans}}</span>
{% elseif status == '13' %}
    <span class="label label-success">{{'Contraoferta pagada'|trans}}</span>
{% elseif status == '14' %}
    <span class="label label-primary">{{'Oferta aceptada por otro hotel'|trans}}</span>
{% elseif status == '20' %}
    <span class="label label-success">{{'Oferta pagada'|trans}}</span>
{% elseif status == '21' %}
    <span class="label label-primary">{{'Oferta NO pagada'|trans}}</span>
{% elseif status == '22' %}
    <span class="label label-primary">{{'Oferta rechazada'|trans}}</span>
{% elseif status == '23' %}
    <span class="label label-primary">{{'Oferta caducada'|trans}}</span>
{% elseif status == '24' %}
    <span class="label label-success ">{{'Oferta aceptada'|trans}}</span>
{% elseif status == '25' %}
    <span class="label label-success ">{{'Oferta aceptada por otro hotel' |trans}}</span>
{% else %}
    <span class="label label-info ">{{'Estado no reconocido'|trans}}</span>    
{% endif %}