{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar publica tu hotel'|trans}}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Editar publica tu hotel'|trans}}
        </header>
        <div class="panel-body {{ error(form_errors(edit_form.texto)) }}">
            <form role="form" action="{{ path('admin_publicatuhotel_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                <label for="exampleInputEmail1">{{'Texto'|trans}}</label>
                <!--wysihtml5 start-->
                {{ form_errors(edit_form.texto) }}
                {{ form_widget(edit_form.texto, { 'attr': {'class': 'wysihtml5 form-control', 'rows': '10'} }) }}       
                {{ form_rest(edit_form) }}
                <!--wysihtml5 end-->
        </div>
    </section>
    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-info">{{'Guardar'|trans}}</button>   
            </form><!-- / form edit -->
                <a class="btn btn-warning" href="{{ path('HotelesFrontendBundle_publicaTuHotel') }}" target="_blank">{{'Ver en la web'|trans}}</a>
               {#<a href="{{ path('admin_homeconfiguracion') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>#}
              <form action="{{ path('admin_publicatuhotel_delete', { 'id': entity.id }) }}" method="post" class="btnDelete">
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de borrar?');">{{'Borrar'|trans}}</button>
            </form>
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->

{#

<h1>Publicatuhotel edit</h1>

<form action="{{ path('admin_publicatuhotel_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
    <a class="btn btn-warning btn-sm pull-left" href="{{ path('HotelesFrontendBundle_publicaTuHotel') }}" target="_blank">Ver en la web</a>
</form>

<ul class="record_actions">
    <li>
        <form action="{{ path('admin_publicatuhotel_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
#}

{% endblock %}