{% if app.session.hasFlash('nosuccess') %}
    <!-- aviso error -->
    <div class="row">
      <div class="col-lg-6">
        <section class="panel">
          <div class="alert alert-block alert-danger fade in">
              <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="fa fa-times"></i>
              </button>
              <strong>{{'¡Vaya!'|trans}}</strong> {{ app.session.flash('nosuccess') }}
          </div>
        </section>
      </div>
    </div>
    <!-- / aviso error -->
{% endif %}