<li>
    <a href="{{ path('admin_contactoweb_edit', {'id': contacto.id})}}">
        <span class="photo"><img alt="avatar" src="/bundles/hotelesbackend/img/avatar.jpg"></span>
        <span class="subject">
            <span class="from">{{ contacto.getNombreCompleto }}</span>
            <span class="time">{{ contacto.fecha|time_ago_in_words }}</span>
        </span>
        <span class="message">
            {{ contacto.texto|length > 30 ? contacto.texto|slice(0, 30) ~ '...' : contacto.texto  }}
        </span>
    </a>
</li>