<script type="text/javascript">
    var jcrop_api;
    jQuery(document).ready(function ($) {

        $('#inputsubida').change(function (event) {
            var urlcrea = '{{ urlcrea }}';
            var urlsubidaimagen = '{{ urlsubidaimagen }}';
            $('#formulariosubida').attr('action', urlsubidaimagen);
            $('#formulariosubida').attr('enctype', 'multipart/form-data');
            $('#formulariosubida').attr('target', 'inter');
            $('#formulariosubida').submit();
            $('#formulariosubida').attr('action', urlcrea);
            $('#formulariosubida').removeAttr('target');
            event.preventDefault();
        });

        initJcrop();

        $('#successimage').click(function (event) {
            url = Routing.generate('admin_imagecrop', {
                posx: ROOMASTIC.image_crop.posx,
                posy: ROOMASTIC.image_crop.posy,
                width: ROOMASTIC.image_crop.width,
                height: ROOMASTIC.image_crop.height,
                imagen: ROOMASTIC.image_crop.imagen,
                carpeta: '{{ tipo }}'});
            $.get(url, function (respuesta) {
                $('#closeimage').click();
                var id = $('#successimage').attr('data-id');
                var nombreImagen = $('#successimage').attr('data-img');
    {% if especifico == 'user' %}
                    $('#imagenusuario').attr('src', '/uploads/{{ tipo }}/' + nombreImagen);
                    $('#imagensubidanombre').val(nombreImagen);
    {% elseif especifico == 'hoteles' %}
                    $('#imagenessubidasinputs').append('<input type="text" name="imageneshotel[]" class="borraelemento_' + id + '" value="' + id + '"><br>');
                    $('#sortable').append(' <li class="list-primary borraelemento_' + id + '" data-id="' + id + '"><i class=" fa fa-ellipsis-v"></i><div class="task-title"><img src="/uploads/hoteles/' + nombreImagen + '" width="200"><div class="pull-right hidden-phone"><a href="#"><button class="btn btn-success btn-xs fa fa-pencil"></button></a>&nbsp;<a href="#"><button class="btn btn-primary btn-xs fa fa-eye"></button></a>&nbsp;<a href="#" onClick="deleteElement(\'' + id + '\'); return false;"><button class="btn btn-danger btn-xs fa fa-trash-o"></button></a></div></div></li>');
    {% endif %}
                    $.get(Routing.generate('hoteles_backend_imageupload_deletetempfile', {imagen: ROOMASTIC.image_crop.imagen}));
                }).fail(function () {
                    alert('ha habido un error :S');
                });

            });

        });

        function initJcrop()
        {

            $('.requiresjcrop').hide();
            $('#target').Jcrop({
                //onRelease: releaseCheck
                onSelect: showCoords,
                bgColor: 'black',
                bgOpacity: .4,
                setSelect: [{{ crop1 }}, {{ crop2 }}, {{ crop3 }}, {{ crop4 }} ],
                aspectRatio: {{ crop5 }} / {{ crop6 }},
                        boxWidth: 800,
            }, function () {

                jcrop_api = this;
                jcrop_api.animateTo([100, 100, 400, 300]);

                $('#can_click,#can_move,#can_size').attr('checked', 'checked');
                $('#ar_lock,#size_lock,#bg_swap').attr('checked', false);
                $('.requiresjcrop').show();

            });

        }
        ;

        function replaceAll(text, busca, reemplaza) {
            while (text.toString().indexOf(busca) != - 1)
                text = text.toString().replace(busca, reemplaza);
            return text;
        }

        function showCoords(c)
        {
            imagen = replaceAll($('#successimage').attr('data-img'), ".", "___---___")
            if (typeof c.x !== "undefined") {
                var posx = Math.round(c.x)
                var posy = Math.round(c.y)
                var width = Math.round(c.w)
                var height = Math.round(c.h)
            }
            if (typeof ROOMASTIC === "undefined") {
                ROOMASTIC = {};
            }
            if (typeof ROOMASTIC.image_crop === "undefined") {
                ROOMASTIC.image_crop = {};
            }
            ROOMASTIC.image_crop.imagen = imagen;
            ROOMASTIC.image_crop.posx = posx;
            ROOMASTIC.image_crop.posy = posy;
            ROOMASTIC.image_crop.width = width;
            ROOMASTIC.image_crop.height = height;

            var url = '/' + imagen + '/' + posx + '/' + posy + '/' + width + '/' + height
            $('#successimage').attr('data-url', url);
        }
        ;

        function inserta(id, nombreImagen) {
            var mayor = 0;
            var dirImages = '/uploads/temporal/';
            $('#target').attr('src', dirImages + nombreImagen);
            $('.jcrop-preview').attr('src', dirImages + nombreImagen);
            $('#successimage').attr('data-id', id);
            $('#successimage').attr('data-img', nombreImagen);
            jcrop_api.setImage(dirImages + nombreImagen);
            $('#clickmodal').click();
        }

</script>