{% extends "HotelesFrontendBundle::layout.mv.twig" %}

{% block content %}

    <div class="contenido">

        <div class="contenido baneo">

            <p class="txt1">{{'Tu oferta no ha podido ser gestionada.'|trans}}<br>{{'Tu usuario está suspendido.'|trans}}</p>
            <p>{{'Puedes consultar los motivos en nuestras'|trans}} <a href="{{ path('HotelesFrontendBundle_condicionesLegales') }}" class="txt_pink">{{'condiciones del servicio'|trans}}</a>.</p>
            <p>{{'Si crees que se puede tratarse de un error, no dudes en'|trans}} <br>{{'ponerte en'|trans}} <a href="{{ path('HotelesFrontendBundle_contacto') }}" class="txt_pink">{{'contacto'|trans}}</a> {{'con nosotros'|trans}}.</p>

        </div><!-- contenido -->
    </div><!-- contenido -->    

{% endblock %}
