{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}

<div class="contenido confirmaciontpv">

	<h2>{{'Confirmación de compra'|trans}}</h2>
	<p>{{'A continuación te presentamos un resumen de la reserva que acabas de realizar.'|trans}}</p>
	<p>{{'Si tienes alguna duda, puedes ponerte en contacto con nosotros.'|trans}}</p>
	<div class="separador"></div>
	<!-- sms_ko -->
	<div class="tpv_ko" style="display:none;">
		<p><span>Ha habido algún problema</span></p>
		<p>Tu pago no ha podido realizarse correctamente. Inténtalo de nuevo pasados unos minutos o con otra tarjeta. Si el problema persiste, llámanos.</p>
	</div>
	<!-- /sms_ko -->
	<!-- sms_ko -->
	<div class="tpv_ok">
		<div class="txt1 left">
			<p><span>¡Enhorabuena!</span></p>
			<p>Tu compra se ha realizado correctamente.</p>	
		</div>
		<div class="txt2 left">
			<p>Te acabamos de enviar un email a tu correo con la confirmación de tu reserva. Te recomendamos imprimir esta página como resguardo de tu compra.</p>
		</div>
		<a href="#" class="left" ><img src="/bundles/hotelesfrontend/img/icon_print.png" alt=""></a>

		
		<div class="clearfix"></div>
	</div>
	<!-- /sms_ko -->
	<div class="separador"></div>

	<div class="bq">
		<div class="tit">{{'El hotel'|trans}}</div>
		<div class="cont clearfix">
			<p class="name">Hotel Diamante Suites Spa</p>
			<p>C/ Antonio Ruiz Álvarez 7 38400 Puerto de la Cruz. Tenerife.</p>
			<div class="estrellas">
				<img src="/bundles/hotelesfrontend/img/5stars_print.png">
				<!-- NOTA!! TENER EN CUENTA QUE LAS IMG "STARTS" DEBEN IR EN ESTA PARTE SEGUIDAS DE "_print" para LA VERSIÓN IMPRESA   -->
			</div>
			<div class="left">
				<img src="/bundles/hotelesfrontend/img/img_pruebaConfTpv.png" class="imgppal">
			</div>
			<div class="right">
				<ul class="servicios">
                    <li class="piscina">
                        <label for="piscina">{{'Piscina'|trans}}</label>
                    </li>
                    <li class="spa">
                        <label for="Spa">{{'Spa'|trans}}</label>
                    </li>
                    <li class="wi-fi">
                        <label for="Bar">{{'Wi-Fi'|trans}}</label>
                    </li>	
                    <li class="acceso-adaptado">
                        <label for="Acceso-Adaptado">{{'Acceso adaptado'|trans}}</label>
                    </li>
                    <li class="perros">
                        <label for="perros">{{'Aceptan perros'|trans}}</label>
                    </li>
                    <li class="parking">
                        <label for="parking">{{'Aparcamiento/Parking'|trans}}</label>
                    </li>
                    <li class="business-center">
                        <label for="business-center">{{'Business center'|trans}}</label>
                    </li>
                </ul>
				
			</div>
		</div>

	</div>
	<div class="bq">
		<div class="tit">{{'Datos de la reserva'|trans}}</div>
		<div class="cont">
			<ul class="datos">
				<li class="left">
					<p>{{'Fecha de entrada'|trans}}</p>
					<p><span>26 de Septiembre de 2014</span></p>
				</li>
				<li class="left">
					<p>{{'Número de adultos'|trans}}</p>
					<p><span>2</span></p>
				</li>
				<li class="left">
					<p>{{'Número de noches'|trans}}</p>
					<p><span>2</span></p>
				</li>
				<li class="left">
					<p>{{'Número de niños'|trans}}</p>
					<p><span>0</span></p>
				</li>
				<li class="left">
					<p>{{'Nombre y apellidos'|trans}}</p>
					<p><span>Alejandro López Sebastián</span></p>
				</li>
				<li class="left">
					<p>{{'Código de tu operación'|trans}}</p>
					<p><span>7845AH7L0AT8G</span></p>
				</li>
				<li>
					<p>{{'DNI'|trans}}</p>
					<p><span>578415874D</span></p>
				</li>
				<li>
					<p>{{'Importe total de la reserva'|trans}}</p>
					<p><span>156 €</span></p>
				</li>
			</ul>
		</div>

	</div>
	<div class="clearfix"></div>
	<div class="separador"></div>





</div><!-- contenido -->

{% endblock %}
