<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Portada - Roomastic</title>

        <meta name="title" content="{% block seotitle %}{{ seo.seotitulo is defined ? seo.seotitulo : '' }}{% endblock %}">
        <meta name="description" content="{% block seodescripcion %}{{ seo.seodescripcion is defined ? seo.seodescripcion : '' }}{% endblock %}">
        <meta name="keywords" content="{% block seokeywords %}{{ seo.seokeywords is defined ? seo.seokeywords : '' }}{% endblock %}">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

        <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        {% stylesheets "bundles/hotelesfrontend/css/plugins/selectize.default.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets  "bundles/hotelesfrontend/css/plugins/daterangepicker-bs3.css"
                        "bundles/hotelesfrontend/css/plugins/jquery.fancybox.css"
                        "bundles/hotelesfrontend/css/plugins/sweet-alert.css"
                     filter='cssrewrite'  %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets "bundles/hotelesfrontend/css/roomastic.css" filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {# <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/sweet-alert.css"> #}
        {# <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/jquery.fancybox.css"> #}
        <script src="/bundles/hotelesfrontend/js/vendor/modernizr/modernizr.js"></script>

        <link rel="icon" type="image/x-icon" href="/bundles/hotelesfrontend/img/favicon.ico" />
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <style type="text/css">

            .wrapper.wpregistro {
                min-height: 100%;
            }

            .modalregister {
                display: none;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 4;
                background: rgba(59, 59, 59, 0.8);

            }
            .modalregister .header {
                width: 100%;
                height: 50px;
                padding: 5px 0 0 0; 
            }
            .modalregister .header .close {
                float: right;
                margin-right: 10px;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
            }
            .modalregister .body{
                width: 100%;
                height: 550px;
            }
            .modalregister .bodyregister, .modalregister .bodyregisterextra {
                width: 100%;
                height: 550px;
            }            
            .modalregister .bodyregister .left, .modalregister .bodyregister .right {
                height:  100%;
                width:  44%;
                padding: 0 0 0 40px;

            }
            .hide{
                display: none;
            }
            input[type=password] {
                /*.radius;*/
                height: 31px;
                float: left;
                background-color: #fff;
                border: none;
                box-shadow: 0 0 0 2px rgba(235, 235, 235, 0.9) !important;
                color: #474747;
                font-size: 15px;
                font-weight: 700;
                box-sizing: border-box;
                padding: 0 9px;
            }            
        </style>
        

        {#
        <script src="//localhost:35730/livereload.js"></script>
        #}

        <!--[if lt IE 9]>
            <script src="js/vendor/html5shiv/dist/html5shiv.min.js"></script>
        <![endif]-->

    </head> 
    {% set rrss = getRRSS() %}

    <body class="portada">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- aviso cookie -->
        <div id="cookie-bar" class="fixed"></div>

        <!-- Registro en newsletter-->
          <div class="wpregistro">
            <div class="modalregister" style="display:block;">
                <div class="header">
                    <a href="#" class="close">X</a>
                </div>

                <div class="bodyregister" style="display:block;">
                    <form class="form-signin" action="{{ path('HotelesFrontendBundle_registronewsletterajax') }}" id="formregisternewsletter" method="post" {{ form_enctype(formRegister) }}>
                        <h2 class="form-signin-heading">{{'Suscríbete a las noticias de Roomastic'|trans}}</h2>
                        <div class="login-wrap">
                            <p class="tit">{{'Introduce tu dirección de correo electrónico'|trans}}</p>
                            <div class="input_newreg">
                                {{ form_widget(formRegister.email, { 'attr': {'class': 'form-control width3','placeholder': 'Email'|trans} }) }}
                                <div class="clearfix"></div>
                                <button type="submit" class="btn btn-lg btn-login btn-block w-es" >{{'Suscribirme'|trans}}</button>
                            </div>
                        </div>
                    </form>  
                </div>    

            </div>
        </div>
        
        
        
        <div class="wrapper">

            <!--<div class="degradado_portada"></div>-->

            <header id="header">
                <div class="lineatop"></div>

                <div class="container clearfix">
                    <a href="{{path('HotelesFrontendBundle_homepage')}}" title=""><h1 class="logo">Roomastic</h1></a>

                    <ul class="social">
                        <li><a href="{{rrss.twitter}}" target="_blank" title="twitter">twitter</a></li>
                        <li><a class="facebook" href="{{rrss.facebook}}" target="_blank" title="facebook">facebook</a></li>
                    </ul>
                    <ul class="menu">                      
                        <li><a href="{{path('HotelesFrontendBundle_homepage')}}" title="HOME">HOME</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_faqs') }}" title="FAQS">FAQS</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_contacto') }}" title="CONTACTO">CONTACTO</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_quienesSomos') }}" title="{{'¿Quiénes Somos'|trans}}">{{'¿Quiénes Somos?'|trans}}</a></li>
                    </ul>
                </div><!-- container -->

            </header><!-- /header -->

            <div class="container">

                <div class="cajabusqueda animated fadeInDown">
                    <div class="cajalema">
                        <h2 class="lema">Haz tu oferta, ahorra<br /> y disfruta de tu estancia</h2>
                        <span>Cada semana más y más hoteles</span>
                    </div>

                    <form class="form_portada clearfix" id="form-destino-fecha">

                        <select id="select-beast" class="selec_ciudad" placeholder="" name="ciudad">
                            <option value="">Destino</option>
                            {% for hotel in hoteles %}
                                {% if hotel.provincia != '' %}
                                    <option value="{{ hotel.provincia.nombre|replace({'/': '_'}) }}">{{ hotel.provincia.nombre }}</option>
                                {% endif %}
                                {% if hotel.municipio != '' %}
                                    <option value="{{ hotel.provincia.nombre|replace({'/': '_'}) }}/{{ hotel.municipio.nombre }}">{{ hotel.provincia.nombre }}/{{ hotel.municipio.nombre }}</option>
                                {% endif %}
                                {% if hotel.lugar != '' %}
                                    <option value="{{ hotel.lugar.provincia.nombre|replace({'/': '_'}) }}/{{ hotel.lugar.municipio.nombre }}/{{ hotel.lugar.zona }}">{{ hotel.lugar.provincia.nombre }}/{{ hotel.lugar.municipio.nombre }}/{{ hotel.lugar.zona }}</option>
                                {% endif %}                                                                
                            {% endfor %}                            
                        </select>
                        <div class="fecha_picker">
                            <input placeholder="Fechas" class="select_fecha" type="text" name="fecha" id="reservation" />
                        </div>
                        <div class="btn_enviar">
                            <input type="submit" id="buscar" name="buscar" value="Buscar">
                        </div>

                    </form>

                    <div class="comofunc">
                        <a href="#videohome" class="fancybox" id="fancyhome"> <strong>¿Quieres saber cómo funciona Roomastic?</strong> En este vídeo de 1 min. te lo explicamos </a>
                        <div id="videohome" style="display:none;">
                            <iframe width="660" height="415" src="https://www.youtube.com/embed/-03y5GizzKQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                </div><!-- cajabusqueda -->
            </div><!-- container -->

        </div><!-- wrapper -->

        <footer id="footer">

            <div class="footer1">
                <div class="container">
                    <ul class="menu_foot clearfix">    
                        <li><a href="{{ path('HotelesFrontendBundle_privacidad') }}" title="">{{'CONDICIONES PARTICULARES Y PRIVACIDAD'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_condicionesLegales') }}" title="">{{'CONDICIONES DEL SERVICIO'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_publicaTuHotel') }}" title="">{{'PUBLICA TU HOTEL'|trans}}</a></li>
                        <li><a class="v_movil" href="{{ path (app.request.attributes.get('_route'), getCurrentRouteParams()|merge( {'version': 'mobile'} )) }}" title="">{{'VERSIÓN MÓVIL'|trans}}</a></li>
                        <li><a class="a_hoteles" href="{{ path('fos_user_security_login') }}" title="">{{'ACCESO HOTELES'|trans}}</a></li>

                    </ul>
                    <div class="att_cliente">
                        ATENCIÓN AL CLIENTE <br /> <span>911 610 156</span>
                    </div>
                </div><!-- container -->
            </div><!-- footer1 -->
            <div class="footer2">
                <div class="container">
                    <span>© Copyright. Todos los derechos reservados.</span>
                </div><!-- container -->
            </div><!-- footer2 -->

        <!--div id="boxes">
            <div id="dialog" class="window">
                <iframe width="660" height="415" src="https://www.youtube.com/embed/-03y5GizzKQ" frameborder="0" allowfullscreen></iframe>
            <div id="mask"></div>
        </div-->
   
          
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/bundles/hotelesfrontend/js/vendor/jquery/dist/jquery.min.js"><\/script>')</script>
        <script>
            $(document).ready(function() {  

            var id = '#dialog';
                
            //Get the screen height and width
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();
                
            //Set heigth and width to mask to fill up the whole screen
            $('#mask').css({'width':maskWidth,'height':maskHeight});

            //transition effect
            $('#mask').fadeIn(500); 
            $('#mask').fadeTo("slow",0.9);  
                
            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();
                          
            //Set the popup window to center
            $(id).css('top',  winH/2-$(id).height()/2);
            $(id).css('left', winW/2-$(id).width()/2);
                
            //transition effect
            $(id).fadeIn(2000);     
                
            //if close button is clicked
            $('.window #mask').click(function (e) {
                //Cancel the link behavior
                e.preventDefault();

                $('#mask').hide();
                $('.window').hide();
                $('.window iframe').attr('src', 'http://www.youtube.com');
            });

            //if mask is clicked
            $('#mask').click(function () {
                $(this).hide();
                $('.window').hide();
            });
                
            });
        </script>

        <script>
      $('#formregisternewsletter').submit(function (evt) {
        evt.preventDefault();
        $.ajax({
            type: "POST",
            url: Routing.generate('HotelesFrontendBundle_registronewsletterajax'),
            data: $("#formregisternewsletter").serialize(),
            success: function (data) {
                hideRegLogModal()
            },
            error: function (data) {
                swal(data.responseJSON.Error);
                //hideRegLogModal();
            }
        });
    });
            function hideRegLogModal() {
                $('.modalregister').hide();
                $('.bodyregister').hide();
                $('.body').show();
                $('.clearForm').val('');
            }
            $('.close').click(function (evt) {
                evt.preventDefault();
                hideRegLogModal();
            });
            
            $(document).ready(function() {
                $(document).click(function(e){
                    if($(e.target).is("#formregisternewsletter") || $(e.target).closest("#formregisternewsletter").length || $(e.target).hasClass('confirm')){}
                    else hideRegLogModal();
                });
            })
        </script>
        <script src="/bundles/hotelesfrontend/js/plugins.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/jquery.backstretch.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/moment.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/daterangepicker.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/selectize.min.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/icheck.min.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/gmap3.min.js"></script>

        <!-- sweet-alert -->
        <script src="/bundles/hotelesfrontend/js/plugins/sweet-alert.js"></script>
        <!-- fancybox -->
        <script src="/bundles/hotelesfrontend/js/plugins/source/jquery.fancybox.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/source/jquery.fancybox.pack.js"></script>
        <!-- cookies -->
        <script src="/bundles/hotelesfrontend/js/plugins/jquery.cookiebar.js"></script>

        <script type="text/javascript">
            {% if app.debug == 1 %}
                var env = 'dev';
            {% else %}
                var env = 'prod';
            {% endif %}
        </script>

        {% javascripts '@HotelesFrontendBundle/Resources/public/js/roomastic.js'
        '@HotelesFrontendBundle/Resources/public/js/index.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <script>
            var imagenes = [{% for imagen in imageneshome %}"/uploads/home/{{imagen.imagen}}",{% endfor %} ]
            $.backstretch(imagenes, {duration: 7000, fade: 750});
        </script>   


        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function () {
                            (b[l].q = b[l].q || []).push(arguments)
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-53266623-1');
            ga('send', 'pageview');
        </script>
    </body>
</html>