<div>
    {% for objetohotel in hoteles %}
        <li class="hotel_li hotel-selected"  style="display: none;" id="hotel-checkbox-{{objetohotel.hotel.id}}" data-hotel-id="{{objetohotel.hotel.id}}">
            <input type="checkbox" class="checkbox-lateral" id="{{objetohotel.hotel.nombrehotel}}" checked>
            <label for="{{objetohotel.hotel.nombrehotel}}">{{objetohotel.hotel.nombrehotel}}</label>
        </li>
    {% endfor %}
</div>