<div>
    {% for objetohotel in hoteles %}
        <div class="single_hotel clearfix  stars-{{ objetohotel.hotel.calificacion }} {{objetohotel.hotel.filtroServicios}}" id="hotel-summary-{{objetohotel.hotel.id}}">

            <div class="clearfix">

                <div class="cont_img">
                    {% if objetohotel.imagenes|length > 0 %}
                        <a href="" title=""><img height="152" width="215" src="/uploads/hoteles/{{ objetohotel.imagenes[0].imagen }}" alt=""></a>
                        {% endif %}
                </div>
                <ul class="estrellas left">
                    {% for i in 1..objetohotel.hotel.calificacion %}
                        <li class="star">
                        </li>
                    {% endfor %}
                    <div class="clearfix"></div>
                </ul>

                <div class="dates left">

                    <h2 class="name tit_hotel"><a >{{ objetohotel.hotel.nombrehotel }}</a></h2>
                    <!-- servicios -->
                    <ul class="servicios">
                        {% if objetohotel.hotel.piscina == 1 %}
                            <li class="piscina">Piscina
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.spa == 1 %}
                            <li class="spa">Spa
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.wiFi == 1 %}
                            <li class="wi-fi">Wi-fi
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.accesoAdaptado == 1 %}
                            <li class="acceso-adaptado">Acceso adaptado
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.aceptanPerros == 1 %}
                            <li class="perros">Aceptan perros
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.aparcamiento == 1 %}
                            <li class="parking">Aparcamiento/Parking
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.businessCenter == 1 %}
                            <li class="business-center">Business center
                            </li>
                        {% endif %}
                        <div class="clearfix"></div>
                    </ul>
                    <!-- icheckbox_timbre -->
                    <input class="icheckbox_timbre timbre" name="hotel1" type="checkbox" data-hotel-id="{{objetohotel.hotel.id}}">
                </div> 
                <div class="clearfix"></div><!-- hotel_cont -->
            </div><!-- clearfix -->
        </div><!-- single_hotel -->
    {% endfor %}
</div>