{% extends "HotelesFrontendBundle::layout.mv.twig" %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@HotelesFrontendBundle/Resources/public/js/listado/listado.mv.js' 
        '@HotelesFrontendBundle/Resources/public/js/ajax-preload.js'   %}
    <script src="{{asset_url}}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    {% stylesheets 'bundles/hotelesfrontend/css/plugins/minimal.mv.css'  filter='cssrewrite'%}       
    <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}
{% endblock %}
{% block content %}
    <!-- nav-options -->
    <div class="opciones" style="display:none;" id="nav-options">
        <a class="btn_volver"> < VOLVER AL LISTADO</a>
        {% set lugarconstruido = '' %}
        {% for dato in lugar %}
            {% set lugarconstruido = lugarconstruido~dato %}
            {% if loop.index < lugar|length %}
                {% set lugarconstruido = lugarconstruido~'/' %}
            {% endif %}
        {% endfor %}
        {% set lugarconstruido = lugarconstruido|replace({'_': '/'}) %}
        {% set basic_url =  app.environment == 'dev' ? '/app_dev.php' : ''%}
        <div id="tabsWithStyle" class="style-tabs">
            <ul>
                <li>
                    <a href="#tabs-1">
                        <span class="triangle_active">
                        </span>
                        <div class="icon buscador-icon">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#tabs-2">
                        <span class="triangle_active"></span>
                        <div class="icon star-icon"></div>
                    </a>
                </li>
                <li>
                    <a href="#tabs-3">
                        <span class="triangle_active"></span>
                        <div class="icon servicios-icon"></div>
                    </a>
                </li>
                <li class="last">
                    <a href="#tabs-4">
                        <span class="triangle_active"></span>
                        <div class="icon listado-icon"></div>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
            <div id="tabs-1">


                <form class="form_portada clearfix" action="{{basic_url}}/listadoajax/{{ lugarconstruido~'/'~fechain~'/'~fechaout }}" method="post" id="formajax">

                    <select id="select-beast" class="selec_ciudad" placeholder="" name="ciudad">
                        <option value="">Destino</option>
                        {% for dato in arraydelugares %}
                            {% set seleccionado = select(lugarconstruido, dato) %}
                            <option value="{{ dato }}" {{ seleccionado }}>{{ dato }}</option>
                        {% endfor %}                            
                    </select>
                    <div class="fecha_picker">
                        <input type="text" id="fromDate" name="fromDate" class="input_mov ll-skin-lug"/>
                        <input type="text" id="toDate" name="toDate"/>
                        <script>
                            ROOMASTIC.fecha_in = '{{fechain}}';
                            ROOMASTIC.fecha_out = '{{fechaout}}';
                        </script>
                    </div>

                    <input type="submit" id="buscar" name="buscar" value="buscar hoteles">

                </form>
            </div>
            <div id="tabs-2">
                <ul class="estrellas">
                    <li class="star1">
                        <input type="checkbox" class="ajaxupdate left  checkbox-stars" name="star1" id="star1" checked data-stars="1" data-filter="stars-1">
                        <label for="star1">Hoteles de <span>1</span> estrella</label>
                    </li>
                    <li class="star2">
                        <input type="checkbox" class="ajaxupdate left checkbox-stars" name="star2" id="star2" checked data-stars="2" data-filter="stars-2">
                        <label for="star2">Hoteles de <span>2</span> estrellas</label>
                    </li>
                    <li class="star3">
                        <input type="checkbox" class="ajaxupdate left checkbox-stars" name="star3" id="star3" checked data-stars="3" data-filter="stars-3">
                        <label for="star3">Hoteles de <span>3</span> estrellas</label>
                    </li>
                    <li class="star4">
                        <input type="checkbox" class="ajaxupdate left checkbox-stars" name="star4" id="star4" checked data-stars="4" data-filter="stars-4">
                        <label for="star4">Hoteles de <span>4</span> estrellas</label>
                    </li>
                    <li class="star5">
                        <input type="checkbox" class="ajaxupdate left checkbox-stars" name="star5" id="star5" checked data-stars="5" data-filter="stars-5">
                        <label for="star5">Hoteles de <span>5</span> estrellas</label>
                    </li>
                </ul>
            </div>
            <div id="tabs-3">
                <ul class="checkboxes servicios_sel">
                    <li class="piscina">
                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios left" name="piscina" id="piscina" checked data-filter="servicio-piscina">
                        <label for="piscina">Piscina</label>
                    </li>
                    <li class="spa">
                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios left" name="spa" id="Spa" checked data-filter="servicio-spa">
                        <label for="Spa">Spa</label>
                    </li>
                    <li class="wi-fi">
                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios left" name="wiFi" id="Wi-fi" checked data-filter="servicio-wi-fi">
                        <label for="Bar">Wi-Fi</label>
                    </li>
                    <li class="acceso-adaptado">
                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios left" name="accesoAdaptado" id="Acceso-Adaptado" checked data-filter="servicio-acceso-adaptado">
                        <label for="Acceso-Adaptado">Acceso adaptado</label>
                    </li>
                    <li class="perros">
                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios left" name="aceptanPerros" id="perros" checked data-filter="servicio-aceptan-perros">
                        <label for="perros">Aceptan perros</label>
                    </li>
                    <li class="parking">
                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios left" name="aparcamiento" id="parking" checked data-filter="servicio-aparcamiento">
                        <label for="parking">Aparcamiento/Parking</label>
                    </li>
                    <li class="business-center">
                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios left" name="businessCenter" id="business-center" checked data-filter="servicio-business-center">
                        <label for="business-center">Business center</label>
                    </li>
                </ul>
            </div>
            <div id="tabs-4">
                <ul class="hoteles" id="listado-lateral-hoteles">
                    {% for objetohotel in hoteles %}
                        <li class="hotel_li hotel-selected"  style="display: none;" id="hotel-checkbox-{{objetohotel.hotel.id}}" data-hotel-id="{{objetohotel.hotel.id}}">
                            <input type="checkbox" class="checkbox-lateral" id="{{objetohotel.hotel.nombrehotel}}">
                            <label for="{{objetohotel.hotel.nombrehotel}}">{{objetohotel.hotel.nombrehotel}}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div><!-- /style-tabs -->

    </div>
    <!-- /nav-options -->

    <!-- content listado -->
    <div class="content_listado">
        <!-- btn hacer oferta -->
        <a class="hacer_oferta" href="{{ path('HotelesFrontendBundle_oferta') }}" title="" style="" id="hacer-oferta">hacer oferta <span class="decoration"></span></a>
        <!-- /btn hacer oferta -->

        <a href="#" class="btn_opciones" id="nav-options-open">ver opciones</a>

        <!-- hotel rtdo. -->
        {% for objetohotel in hoteles %}
            <div class="singlehotel stars-{{ objetohotel.hotel.calificacion }} {{objetohotel.hotel.filtroServicios}}">
                <div class="visual left">
                    <!-- img -->
                    {% if objetohotel.imagenes|length > 0 %}
                        <a href="{{ path('HotelesFrontendBundle_detallehotel', { 'nombrehotel': objetohotel.hotel.url }) }}" title="{{'Ver detalles del hotel'|trans}}" >
                            <img height="152" width="215" src="/uploads/hoteles/{{objetohotel.imagenes[0].imagen}}" alt="{{'Ver detalles del hotel'|trans}}">
                        </a>
                    {% endif %}
                    <!-- estrellas -->
                    <ul class="estrellas left">
                        {% for i in 1..objetohotel.hotel.calificacion %}
                            <li class="star">
                            </li>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </ul>
                </div> 
                <div class="dates left">

                    <h2 class="name tit_hotel"><a >{{ objetohotel.hotel.nombrehotel }}</a></h2>
                    <!-- servicios -->
                    <ul class="servicios">
                        {% if objetohotel.hotel.piscina == 1 %}
                            <li class="piscina">Piscina
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.spa == 1 %}
                            <li class="spa">Spa
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.wiFi == 1 %}
                            <li class="wi-fi">Wi-fi
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.accesoAdaptado == 1 %}
                            <li class="acceso-adaptado">Acceso adaptado
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.aceptanPerros == 1 %}
                            <li class="perros">Aceptan perros
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.aparcamiento == 1 %}
                            <li class="parking">Aparcamiento/Parking
                            </li>
                        {% endif %}
                        {% if objetohotel.hotel.businessCenter == 1 %}
                            <li class="business-center">Business center
                            </li>
                        {% endif %}
                        <div class="clearfix"></div>
                    </ul>
                    <!-- icheckbox_timbre -->
                    <input class="icheckbox_timbre timbre" name="hotel1" type="checkbox" data-hotel-id="{{objetohotel.hotel.id}}">
                </div> 
                <div class="clearfix"></div>
            </div>
        {% endfor %}
        {% include 'HotelesBackendBundle:Extras:preload.html.twig' %}

        {# Aqui guardo el numero de pagina que he cargado#}
        <div id="infinite-scroll-ajax" data-last-page="1"/>
        <!-- hotel rtdo. -->
    </div>
    <!-- /content_hotel -->
{% endblock %}