<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Listado - Roomastic</title>

        <meta name="description" content="">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

        <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        <!-- CSS plugins -->
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/daterangepicker-bs3.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/selectize.default.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/minimal.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/jquery.fancybox.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/sweet-alert.css">



        <!-- CSS Roomastic -->
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/roomastic.css">

        <link rel="icon" type="image/x-icon" href="/bundles/hotelesfrontend/img/favicon.ico" />

        <script src="/bundles/hotelesfrontend/js/vendor/modernizr/modernizr.js"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {#
        <script src="//localhost:35730/livereload.js"></script>
        #}

        <!--[if lt IE 9]>
            <script src="js/vendor/html5shiv/dist/html5shiv.min.js"></script>
        <![endif]-->

    </head> 
    {% set rrss = getRRSS() %}

    <body class="interna">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- aviso cookie -->
        <div id="cookie-bar" class="fixed"></div>

        <div class="wrapper">
            <div class="lineatop"></div>
            <div class="fnd_gris"></div>
            <div class="container clearfix">
                <div class="col_izq">
                    <a href="{{path('HotelesFrontendBundle_homepage')}}" title=""><h1 class="logo">Roomastic</h1></a>

                    <div class="tubusq">TU BÚSQUEDA</div>
                    <span class="rosa">Cada semana  <strong>más y más hoteles</strong></span>



                    <div class="formulario_int">

                        {% set lugarconstruido = '' %}
                        {% for dato in lugar %}
                            {% set lugarconstruido = lugarconstruido~dato %}
                            {% if loop.index < lugar|length %}
                                {% set lugarconstruido = lugarconstruido~'/' %}
                            {% endif %}
                        {% endfor %}
                        {% set lugarconstruido = lugarconstruido|replace({'_': '/'}) %}
                        {% set basic_url =  app.environment == 'dev' ? '/app_dev.php' : ''%}
                        <form action="{{basic_url}}/listadoajax/{{ lugarconstruido~'/'~fechain~'/'~fechaout }}" method="post" id="formajax">
                            <div class="blq clearfix">   
                                <h4 class="tit_form">Destino</h4>
                                <select id="select-beast" class="selec_ciudad ajaxupdate" placeholder="" name="ciudad">
                                    {% for dato in arraydelugares %}
                                        {% set seleccionado = select(lugarconstruido, dato) %}
                                        <option value="{{ dato }}" {{ seleccionado }}>{{ dato }}</option>
                                    {% endfor %}
                                </select>

                                <h4 class="tit_form">Fechas</h4>
                                <input placeholder="Fechas" class="select_fecha" type="text" name="fecha" id="reservation" value="{{ fecha }}"/>
                            </div><!-- blq -->

                            <div class="blq">
                                <h4 class="tit_form">Servicios</h4>

                                <ul class="checkboxes servicios">
                                    <li class="piscina">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios" name="piscina" id="piscina" data-filter="servicio-piscina">
                                        <label for="piscina">Piscina</label>
                                    </li>
                                    <li class="spa">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios" name="spa" id="Spa" data-filter="servicio-spa">
                                        <label for="Spa">Spa</label>
                                    </li>
                                    <li class="wi-fi">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios" name="wiFi" id="Wi-fi" data-filter="servicio-wi-fi">
                                        <label for="Bar">Wi-Fi</label>
                                    </li>
                                    <li class="acceso-adaptado">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios" name="accesoAdaptado" id="Acceso-Adaptado" data-filter="servicio-acceso-adaptado">
                                        <label for="Acceso-Adaptado">Acceso adaptado</label>
                                    </li>
                                    <li class="perros">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios" name="aceptanPerros" id="perros" data-filter="servicio-aceptan-perros">
                                        <label for="perros">Aceptan perros</label>
                                    </li>
                                    <li class="parking">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios" name="aparcamiento" id="parking" data-filter="servicio-aparcamiento">
                                        <label for="parking">Aparcamiento/Parking</label>
                                    </li>
                                    <li class="business-center">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-servicios" name="businessCenter" id="business-center" data-filter="servicio-business-center">
                                        <label for="business-center">Business center</label>
                                    </li>
                                </ul>
                            </div><!-- blq -->

                            <div class="blq">
                                <h4 class="tit_form">Estrella</h4>

                                <ul class="estrellas">
                                    <li class="star1">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-stars" name="star1" id="star1" checked data-stars="1" data-filter="stars-1">
                                        <label for="star1">Una estrella</label>
                                    </li>
                                    <li class="star2">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-stars" name="star2" id="star2" checked data-stars="2" data-filter="stars-2">
                                        <label for="star2">Dos estrellas</label>
                                    </li>
                                    <li class="star3">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-stars" name="star3" id="star3" checked data-stars="3" data-filter="stars-3">
                                        <label for="star3">tres estrellas</label>
                                    </li>
                                    <li class="star4">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-stars" name="star4" id="star4" checked data-stars="4" data-filter="stars-4">
                                        <label for="star4">Cuatro estrellas</label>
                                    </li>
                                    <li class="star5">
                                        <input type="checkbox" class="ajaxupdate checkbox-lateral checkbox-stars" name="star5" id="star5" checked data-stars="5" data-filter="stars-5">
                                        <label for="star5">Cinco estrellas</label>
                                    </li>
                                </ul>
                            </div><!-- blq -->

                            <div class="blq">
                                <h4 class="tit_form">Hoteles seleccionados</h4>

                                <ul class="hoteles" id="listado-lateral-hoteles">
                                    {% for objetohotel in hoteles %}
                                        <li class="hotel_li hotel-selected"  style="display: none;" id="hotel-checkbox-{{objetohotel.hotel.id}}" data-hotel-id="{{objetohotel.hotel.id}}">
                                            <input type="checkbox" class="checkbox-lateral" id="{{objetohotel.hotel.nombrehotel}}">
                                            <label for="Hotel Diamante Suites">{{objetohotel.hotel.nombrehotel}}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- blq -->

                    </div><!-- formulario_int -->
                    </form>

                </div><!-- col_izq -->
                <div class="col_der">

                    <div class="cabecera_int">
                        <div class="menu_int clearfix menu_desp">
                            <ul class="social">
                                <li><a href="{{rrss.twitter}}" target="_blank" title="twitter">twitter</a></li>
                                <li><a class="facebook" href="{{rrss.facebook}}" target="_blank" title="facebook">facebook</a></li>
                            </ul>
                            <ul class="menu">                      
                                <li><a href="{{path('HotelesFrontendBundle_homepage')}}" title="HOME">HOME</a></li>
                                <li><a href="{{ path('HotelesFrontendBundle_faqs') }}" title="FAQS">FAQS</a></li>
                                <!--<li><a href="#" title="AYUDA">AYUDA</a></li>-->
                                <li><a href="{{ path('HotelesFrontendBundle_contacto') }}" title="CONTACTO">CONTACTO</a></li>
                                <li><a href="{{ path('HotelesFrontendBundle_quienesSomos') }}" title="{{'¿Quiénes Somos?'|trans}}">{{'¿Quiénes Somos?'|trans}}</a></li>
                            </ul>
                        </div><!-- menu_int --> 
                        <a class="hacer_oferta" id="hacer-oferta" title="" style="">hacer oferta</a>
                    </div><!-- cabecera_int -->

                    <div class="wrapper_hoteles">


                        {% for objetohotel in hoteles %}
                            <div class="single_hotel clearfix  stars-{{ objetohotel.hotel.calificacion }} {{objetohotel.hotel.filtroServicios}}" id="hotel-summary-{{objetohotel.hotel.id}}">

                                <div class="clearfix">

                                    <img class="estrellas_hotel" src="/bundles/hotelesfrontend/img/{{ objetohotel.hotel.calificacion }}stars.png" alt="{{ objetohotel.hotel.calificacion }} estrellas">

                                    <div class="cont_img">
                                        <div class="slideFotosList">
                                            <div class="pikachoose">
                                                <ul class="pikame_listado" id="pikame-{{loop.index0}}">

                                                    {% if objetohotel.imagenes|length > 0 %}
                                                        {% for imagen in objetohotel.imagenes %}
                                                            <li>
                                                                <a  href="/uploads/hoteles/{{imagen.imagen}}" title="" >
                                                                    <img height="152" width="215" src="/uploads/hoteles/{{imagen.imagen}}" alt=""></a>
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>          
                                        </div> 
                                    </div>

                                    <div class="hotel_cont clearfix">
                                        <h2 class="tit_hotel">{{ objetohotel.hotel.nombrehotel }}</h2>

                                        <ul class="servicios clearfix">
                                            {% if objetohotel.hotel.piscina == 1 %}
                                                <li class="piscina">Piscina
                                                </li>
                                            {% endif %}
                                            {% if objetohotel.hotel.spa == 1 %}
                                                <li class="spa">Spa
                                                </li>
                                            {% endif %}
                                            {% if objetohotel.hotel.wiFi == 1 %}
                                                <li class="wi-fi">Wi-fi
                                                </li>
                                            {% endif %}
                                            {% if objetohotel.hotel.accesoAdaptado == 1 %}
                                                <li class="acceso-adaptado">Acceso adaptado
                                                </li>
                                            {% endif %}
                                            {% if objetohotel.hotel.aceptanPerros == 1 %}
                                                <li class="perros">Aceptan perros
                                                </li>
                                            {% endif %}
                                            {% if objetohotel.hotel.aparcamiento == 1 %}
                                                <li class="parking">Aparcamiento/Parking
                                                </li>
                                            {% endif %}
                                            {% if objetohotel.hotel.businessCenter == 1 %}
                                                <li class="business-center">Business center
                                                </li>
                                            {% endif %}
                                        </ul>

                                        <div class="botones_hotel">
                                            <a class="detalle" href="#" title="">DETALLE</a>
                                            <a class="abrir_map" href="#" title="">mapa</a>
                                            <input class="timbre" name="hotel1" type="checkbox" data-hotel-id="{{objetohotel.hotel.id}}">
                                        </div><!-- botones_hotel -->

                                    </div><!-- hotel_cont -->

                                </div><!-- clearfix -->

                                <div class="desplegable clearfix">
                                    <ul class="galeria clearfix" style="height:150px;">
                                        {% set id_pikame = loop.index0 %}
                                        {% if objetohotel.imagenes|length > 0 %}
                                            {% for imagen in objetohotel.imagenes %}
                                                <li>
                                                    <a href="#" title="" class="thumbnail-pikachoose"   ><img height="48" width="70" src="/uploads/hoteles/{{imagen.imagen}}" alt="" data-pikame-id="pikame-{{id_pikame}}" data-photo-index="{{loop.index0}}"></a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}                                        


                                    </ul>
                                    <div class="hotel_desc">
                                        <p><b>{{'Descripción'|trans}}</b></p>
                                        <p>{{ objetohotel.hotel.descripcion }}</p>
                                        <p><b>{{'Características'|trans}}</b></p>
                                        <p>{{ objetohotel.hotel.caracteristicas }}</p>
                                        <a class="mas_dets rosa" href="{{ path('HotelesFrontendBundle_detallehotel', { 'nombrehotel': objetohotel.hotel.url }) }}" title="">Ver todos los detalles del hotel</a>
                                    </div>
                                </div><!-- desplegable -->

                                <div class="desplegable_mapa clearfix">

                                    <div class="mapa" style="height:150px;" data-hotel-id="{{objetohotel.hotel.id}}" data-longitud="{{objetohotel.hotel.longitud}}" data-latitud="{{objetohotel.hotel.latitud}}"></div>

                                </div><!-- desplegable -->

                            </div><!-- single_hotel -->

                        {% endfor %}
                    </div><!-- wrapper_hoteles -->
                    {% include 'HotelesBackendBundle:Extras:preload.html.twig' %}
                    
                    {# Aqui guardo el numero de pagina que he cargado#}
                    <div id="infinite-scroll-ajax" data-last-page="1"/>
                </div><!-- col_der -->
            </div><!-- container -->
        </div><!-- wrapper -->


        <footer id="footer" class="foot-h">

            <div class="footer1 footer-opaco">
                <div class="container">
                    <ul class="menu_foot clearfix">                                                 
                        <li><a href="{{ path('HotelesFrontendBundle_privacidad') }}" title="">{{'CONDICIONES PARTICULARES Y PRIVACIDAD'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_condicionesLegales') }}" title="">{{'CONDICIONES DEL SERVICIO'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_publicaTuHotel') }}" title="">{{'PUBLICA TU HOTEL'|trans}}</a></li>
                        <li><a class="v_movil" href="{{ path (app.request.attributes.get('_route'), getCurrentRouteParams()|merge( {'version': 'mobile'} )) }}" title="">{{'VERSIÓN MÓVIL'|trans}}</a></li>
                        <li><a class="a_hoteles" href="{{ path('fos_user_security_login') }}" title="">{{'ACCESO HOTELES'|trans}}</a></li>
                    </ul>
                    <div class="att_cliente">
                        ATENCIÓN AL CLIENTE <br /> <span>911 610 156</span>
                    </div>
                </div><!-- container -->
            </div><!-- footer1 -->
            <div class="footer2">
                <div class="container">
                    <span>© Copyright. Todos los derechos reservados. </span>
                </div><!-- container -->
            </div><!-- footer2 -->

        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/bundles/hotelesfrontend/js/vendor/jquery/dist/jquery.min.js"><\/script>')</script>

        <script src="/bundles/hotelesfrontend/js/plugins.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/jquery.backstretch.min.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/moment.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/daterangepicker.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/selectize.min.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/icheck.min.js"></script>        

        <!-- slide fotos detalle hotel -->
        <script type="text/javascript" src="/bundles/hotelesfrontend/js/plugins/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="/bundles/hotelesfrontend/js/plugins/jquery.pikachoose.js"></script>
        <!-- fancybox -->
        <script src="/bundles/hotelesfrontend/js/plugins/source/jquery.fancybox.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/source/jquery.fancybox.pack.js"></script>
        <!-- sweet-alert -->
        <script src="/bundles/hotelesfrontend/js/plugins/sweet-alert.js"></script>
        <!-- cookies -->
        <script src="/bundles/hotelesfrontend/js/plugins/jquery.cookiebar.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        {% javascripts '@HotelesFrontendBundle/Resources/public/js/listado/listado.js'  
         '@HotelesFrontendBundle/Resources/public/js/roomastic.js'
         '@HotelesFrontendBundle/Resources/public/js/ajax-preload.js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            (function(b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function() {
                            (b[l].q = b[l].q || []).push(arguments)
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-53266623-1');
            ga('send', 'pageview');
        </script>
    </body>
</html>
