{% extends "HotelesFrontendBundle::layout.mv.twig" %}

{% block content %}


    <div class="contenido oferta_ok content_ofertaenv">
        <div class="separador"></div>
        <h2>{{'Confirmación de oferta enviada'|trans}}</h2>
        <p>{{'Si tienes alguna duda, puedes ponerte en contacto con nosotros.'|trans}}</p>
        <p>{{'Muchas gracias por utilizar Roomastic.'|trans}}</p>
        <div class="separador m-es"></div>
        <div class="bq_verde">
            <p class="tit">Tu oferta ha sido enviada correctamente</p>
            <p>Los establecimientos que has seleccionado han recibido correctamente tu oferta.</p>
            <p>Permanece <span>atento al email que nos has facilitado</span>, ya que los hoteles se pondrán en contacto contigo mediante esta vía.</p>
        </div>      

    </div>



{% endblock %}
