<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Oferta - Roomastic</title>

        <meta name="description" content="">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

        <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/daterangepicker-bs3.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/selectize.default.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/minimal.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/sweet-alert.css">


        <link rel="icon" type="image/x-icon" href="/bundles/hotelesfrontend/img/favicon.ico" />

        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/roomastic.css">

        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/bundles/hotelesfrontend/js/vendor/modernizr/modernizr.js"></script>

        {#
        <script src="//localhost:35730/livereload.js"></script>
        #}

        <!--[if lt IE 9]>
            <script src="js/vendor/html5shiv/dist/html5shiv.min.js"></script>
        <![endif]-->
        <style type="text/css">

            .wrapper.wpregistro {
                min-height: 0;
            }

            .modalregister {
                display: none;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 4;
                background: rgba(59, 59, 59, 0.8);

            }
            .modalregister .header {
                width: 100%;
                height: 50px;
                padding: 5px 0 0 0; 
            }
            .modalregister .header .close {
                float: right;
                margin-right: 10px;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
            }
            .modalregister .body{
                width: 100%;
                height: 550px;
            }
            .modalregister .bodyregister, .modalregister .bodyregisterextra {
                width: 100%;
                height: 550px;
            }            
            .modalregister .bodyregister .left, .modalregister .bodyregister .right {
                height:  100%;
                width:  44%;
                padding: 0 0 0 40px;

            }
            .hide{
                display: none;
            }
            input[type=password] {
                /*.radius;*/
                height: 31px;
                float: left;
                background-color: #fff;
                border: none;
                box-shadow: 0 0 0 2px rgba(235, 235, 235, 0.9) !important;
                color: #474747;
                font-size: 15px;
                font-weight: 700;
                box-sizing: border-box;
                padding: 0 9px;
            }            
        </style>

    </head> 
    {% set rrss = getRRSS() %}

    <body class="interna">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- aviso cookie -->
        <div id="cookie-bar" class="fixed"></div>

        <div class="wrapper wpregistro">

            <div class="modalregister">


                <div class="header">
                    <a href="#" class="close">X</a>
                </div>

                <div class="body">

                    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post" id="formlogin" {{ form_enctype(form) }}>
                        <div class="errorlogin"></div>

                        <h2 class="form-signin-heading">{{'Debes estar registrado para hacer tu oferta'|trans}}</h2>

                        <div class="login-wrap left">
                            <p class="tit">{{'Acceso'|trans}}</p>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <input type="text" class="form-control" placeholder="{{'Usuario'|trans}}" name="_username" value="{% if last_username is defined %} {{last_username}} {% endif %}" autofocus>
                            <input type="password" class="form-control" placeholder="{{'Contraseña'|trans}}" name="_password">

                            <button class="btn btn-lg btn-login btn-block" type="submit">{{'Acceder'|trans}}</button>
                            <p class="forgor_ps">
                                <a href="{{path('fos_user_resetting_request')}}"> {{'¿Has olvidado tu contraseña?'|trans}}</a>
                            </p>

                            <p>{{'O accede con tus redes sociales:'|trans}}</p>

                            <div class="login-social-link">
                                <a href="#" class="facebook login-rrss">
                                    <i class="fa fa-facebook"></i>
                                    <!--Facebook-->
                                </a>
                                <a href="#" class="google login-rrss">
                                    <i class="fa fa-google-plus"></i>
                                    <!-- google + -->
                                </a>
                            </div>

                        </div><!-- /left -->

                        <div class="login-wrap right">
                            <p class="tit">{{'Registro'|trans}}</p>
                            <p>{{'Puedes registrarte directamente en nuestra web:'|trans}}</p>

                            <button class="btn btn-lg btn-login btn-block showregister" type="submit">{{'REGISTRO EN LA WEB'|trans}}</button>

                            <p>{{'O con tu cuenta de usuario en alguna de estas redes sociales:'|trans}}</p>

                            <div class="login-social-link">

                                <a href="#" class="facebook login-rrss">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <div id="fb-root"></div>
                                <script>
                                    if (typeof ROOMASTIC === 'undefined') {
                                        ROOMASTIC = {};
                                    }
                                    ROOMASTIC.facebookAppId = '{{ configuracion.fbappid }}';
                                    ROOMASTIC.state = '{{ csrf_token }}';
                                    (function () {
                                        var e = document.createElement('script');
                                        e.async = true;
                                        e.src = document.location.protocol +
                                                '//connect.facebook.net/en_US/all.js';
                                        document.getElementById('fb-root').appendChild(e);
                                    }());
                                </script>

                                <a href="#" class="google login-rrss">
                                    <i class="fa fa-google-plus"></i>
                                    <!-- google + -->
                                    <script type="text/javascript">
                                        (function () {
                                            var po = document.createElement('script');
                                            po.type = 'text/javascript';
                                            po.async = true;
                                            po.src = 'https://plus.google.com/js/client:plusone.js?onload=googleReady';
                                            var s = document.getElementsByTagName('script')[0];
                                            s.parentNode.insertBefore(po, s);
                                        })();


                                    </script>
                                </a>
                            </div>


                        </div><!-- /right -->
                        <div class="clearfix"></div>

                        <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display:none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">{{'¿Has olvidado la contraseña?'|trans}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{'Escribe tu email y te reenviaremos una nueva contraseña'|trans}}</p>
                                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">{{'Cancelar'|trans}}</button>
                                        <button class="btn btn-success" type="button">{{'Enviar'|trans}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal -->

                    </form><!-- form-signin -->


                </div>
                <!--/body -->


                <div class="bodyregister hide">

                    <form class="form-signin" action="{{ path('HotelesFrontendBundle_registroajax') }}" id="formregister" method="post" {{ form_enctype(formRegister) }}>

                        <h2 class="form-signin-heading">{{'Debes estar registrado para hacer tu oferta'|trans}}</h2>
                        <div class="login-wrap">
                            <p class="tit">{{'Acceso'|trans}}</p>
                            <div class="input_newreg">

                                {{ form_widget(formRegister.nombre, { 'attr': {'class': 'form-control width1','placeholder': 'Nombre'|trans} }) }}  

                                {{ form_widget(formRegister.apellidos, { 'attr': {'class': 'form-control width2','placeholder': 'Apellidos'|trans} }) }}   

                                {{ form_widget(formRegister.direccioncompleta, { 'attr': {'class': 'form-control width3','placeholder': 'Dirección completa (Campo no obligatorio)'|trans} }) }}    

                                {{ form_widget(formRegister.dni, { 'attr': {'class': 'form-control width3','placeholder': 'DNI (Para dar veracidad a tu oferta)'|trans} }) }}

                                {{ form_widget(formRegister.telefono, { 'attr': {'class': 'form-control width3','placeholder': 'Teléfono (Para contactarte en caso de cambios en la reserva)'|trans} }) }}    

                                {{ form_widget(formRegister.email, { 'attr': {'class': 'form-control width3','placeholder': 'Email'|trans} }) }}

                                {{ form_widget(formRegister.password.first, { 'attr': {'class': 'form-control width6','placeholder': 'Contraseña'|trans} }) }}

                                {{ form_widget(formRegister.password.second, { 'attr': {'class': 'form-control width7','placeholder': 'Repite contraseña'|trans} }) }}    


                                <div class="clearfix"></div>

                                <button type="submit" class="btn btn-lg btn-login btn-block w-es" >{{'Guardar datos y hacer oferta'|trans}}</button>
                                {{ form_rest(formRegister) }}
                            </div>
                        </div>
                    </form>  
                </div>

                <div class="bodyregisterextra hide">

                    <form class="form-signin" action="{{ path('HotelesFrontendBundle_registroextraajax') }}" id="formregisterextra" method="post"  {{ form_enctype(formRegisterextra) }}>
                        <h2 class="form-signin-heading">{{'Completa tu registro para hacer tu oferta'|trans}}</h2>
                        <div class="login-wrap">
                            <p class="tit">{{'Acceso'|trans}}</p>
                            <div class="input_newreg">

                                {{ form_widget(formRegisterextra.nombre, { 'attr': {'class': 'form-control width1 nombre','placeholder': 'Nombre'|trans} }) }}  

                                {{ form_widget(formRegisterextra.apellidos, { 'attr': {'class': 'form-control width2 apellidos','placeholder': 'Apellidos'|trans} }) }}   

                                {{ form_widget(formRegisterextra.direccioncompleta, { 'attr': {'class': 'form-control width3 direccion','placeholder': 'Dirección completa (Campo no obligatorio)'|trans} }) }}

                                {{ form_widget(formRegisterextra.dni, { 'attr': {'class': 'form-control width3 dni','placeholder ': 'DNI (Para dar veracidad a tu oferta)'|trans} }) }}

                                {{ form_widget(formRegisterextra.telefono, { 'attr': {'class': 'form-control width3 telefono','placeholder': 'Teléfono (Para contactarte en caso de cambios en la reserva)'|trans} }) }}    

                                {{ form_widget(formRegisterextra.email, { 'attr': {'class': 'form-control width3 email','placeholder': 'Email'|trans} }) }}

                                <div class="clearfix"></div>

                                <button type="submit" class="btn btn-lg btn-login btn-block w-es">{{'Guardar datos y hacer oferta'|trans}}</button>

                                <div class="clearfix"></div>

                            </div>
                        </div>
                        {{ form_rest(formRegisterextra) }}
                    </form>  
                </div><!--/bodyregisterextra -->

            </div>
            <header id="header" class="oferta">
                <div class="lineatop"></div>

                <div class="container clearfix">
                    <a class="logo" href="{{path('HotelesFrontendBundle_homepage')}}" title=""><h1>Roomastic</h1></a>

                    <div class="menu_int clearfix">
                        <ul class="social">
                            <li><a href="{{rrss.twitter}}" target="_blank" title="twitter">twitter</a></li>
                            <li><a class="facebook" href="{{rrss.facebook}}" target="_blank" title="facebook">facebook</a></li>
                        </ul>
                        <ul class="menu">                      
                            <li><a href="{{path('HotelesFrontendBundle_homepage')}}" title="HOME">HOME</a></li>
                            <li><a href="{{ path('HotelesFrontendBundle_faqs') }}" title="FAQS">FAQS</a></li>
                            <!--<li><a href="#" title="AYUDA">AYUDA</a></li>-->
                            <li><a href="{{ path('HotelesFrontendBundle_contacto') }}" title="CONTACTO">CONTACTO</a></li>
                            <li><a href="{{ path('HotelesFrontendBundle_quienesSomos') }}" title="{{'¿Quiénes Somos?'|trans}}">{{'¿Quiénes Somos?'|trans}}</a></li>
                        </ul>
                    </div><!-- menu_int --> 
                </div><!-- container -->

            </header><!-- /header -->

            <div class="container clearfix">

                <form action="" method="post" id="formoferta">
                    {{ form_widget(form._token_oferta) }}


                    <div class="col_1">

                        <h3 class="tit_int pagar">¿Cuánto estás <br />dispuesto a pagar?</h3>
                        <div class="c_pagar clearfix">
                            <p class="primero">El precio debe ser por noche, habitación doble y en régimen de alojamiento. (Algunos hoteles ofrecen desayuno o media pensión incluido)</p>
                            {#
                            <input type="number" name="precio" value="" placeholder="Precio">
                            #}
                            {{ form_widget(form.preciohabitacion, { 'attr': {'type': 'number','placeholder': 'Precio', 'tabindex':'0'} }) }}
                            <div class="clearfix"></div>
                            <p>Los precios oficiales de los hoteles que has seleccionado <br /><strong>rondan entre los {{precio_hotel_min}} € y los {{precio_hotel_max}}  €</strong></p>
                        </div><!-- c_pagar -->

                        <hr>

                        <div class="clearfix">
                            <h3 class="tit_int n_noches">Número <br />de noches</h3>

                            <div class="caja_fecha">
                                <span class="mtit_grey">Fechas</span>
                                {#
                                <input placeholder="Fechas" class="select_fecha" type="text" name="fecha" id="reservation" />
                                #}
                                {{ form_widget(form.fecha, { 'attr': {'value': fecha_inicio|date('d/m/y') ~ ' - ' ~ fecha_fin|date('d/m/y'), 'tabindex':'1', 'class': 'select_fecha', 'placeholder': 'Fechas'} }) }}
                            </div>

                            <div class="caja_noches">
                                <span class="mtit_grey">Noches</span>
                                {#
                                <input type="number" name="n_noches" value="1" placeholder="0" disabled>
                                #}
                                {{ form_widget(form.numnoches, { 'attr': {'value': num_noches,'placeholder': '3','readonly':''} }) }}
                            </div>
                        </div><!-- clearfix -->

                        <br>

                        <h3 class="tit_int n_gente">Selecciona el <br />número de huéspedes</h3>

                        <div class="clearfix">
                            <div class="caja_adultos">
                                <span class="mtit_grey">Adultos</span>
                                {#
                                <input placeholder="1" value="1" type="number" class="select_adultos" name="adultos" />
                                #}
                                {{ form_widget(form.numadultos, { 'attr': {'value':  '1' ,'placeholder': '1', 'tabindex':'2', 'class': 'select_adultos' } }) }}
                            </div>

                            <div class="caja_ninos">
                                <span class="mtit_grey">Niños hasta 3 años</span>
                                {#
                                <input placeholder="0" value="0" type="number" class="select_ninios" name="ninios" />
                                #}
                                {{ form_widget(form.numninos, { 'attr': {'value': '0','placeholder': '0', 'tabindex':'3', 'class': 'select_ninios' } }) }}
                            </div>
                        </div><!-- clearfix -->

                        <hr>

                        <h3 class="tit_int n_habs">Número de <br />habitaciones</h3>
                            {#
                            <input placeholder="1" value="1" type="number" class="select_habs" name="habs" />
                            #}
                            {{ form_widget(form.numhabitaciones, { 'attr': {'value': '1','placeholder': '1', 'tabindex':'4', 'class': 'select_habs' } }) }}

                    </div><!-- col_1 -->
                    <div class="col_2">
                        <h3 class="tit_int">Hoteles <br />seleccionados</h3>
                        <p>Estos son los hoteles que has seleccionado y a los que vas a enviar tu oferta:</p>
                        <hr>

                        <ul class="hoteles">
                            {% for hotel in hoteles %}
                                <li class="hotel_li">
                                    <input type="checkbox" class="checkbox-oferta" name="hoteles[id][]" id="{{ hotel.id }}" value="{{ hotel.id }}" checked>
                                    <label for="Hotel Diamante Suites">{{ hotel.nombrehotel }}</label>
                                </li>
                            {% endfor %}
                        </ul>

                    </div><!-- col_2 -->
                    <div class="col_3">
                        <h3>Precio total de tu oferta</h3>
                        <div class="caja">
                            <p>En base a la configuración que nos acabas de facilitar, este será el precio total que vas a ofertar a los hoteles seleccionados:</p>
                            {#
                            <input type="number" name="precio_total" value="" placeholder="0" disabled>
                            #}
                            {{ form_widget(form.preciototaloferta, { 'attr': {'value': '','placeholder': '0','readonly':''} }) }}
                            <div class="clearfix"></div>

                            <div class="acepto1 clearfix">
                                <input type="checkbox" id="acepto1" class="checkbox-oferta" name="acepto_condiciones" required>
                                <label for="acepto1">Acepto las condiciones de venta y de uso de esta web.</label>
                            </div>

                            <div class="acepto2 clearfix">
                                <input type="checkbox" id="acepto2" class="checkbox-oferta" name="acepto_suscribirme" >
                                <label for="acepto2">Acepto suscribirme al boletín de noticias RooMail</label>
                            </div>
                            <div class="validaoferta">
                                {% if app.user  %}
                                    {% set title = 'Ya puedes hacer tu oferta' %}
                                {% else %}
                                    {% set title = 'Todavia tienes que loguearte' %}

                                {% endif %}

                                {# <a type="submit" class="btn_oferta" id="submitoffer" title="Ya puedes hacer tu oferta">hacer oferta</a> #}
                                <a class="btn_oferta"  title="{{title}}" style="cursor: pointer;" >hacer oferta</a>
                            </div>

                            </form>
                        </div><!-- caja -->
                    </div><!-- col_3 -->
                    {% include 'HotelesBackendBundle:Extras:preload.html.twig' %}

            </div><!-- container -->

        </div><!-- wrapper -->

        {# {{ladybug_dump(app.user)}} #}

        <footer id="footer">

            <div class="footer1 footer-opaco">
                <div class="container">
                    <ul class="menu_foot clearfix">                                                 
                        <li><a href="{{ path('HotelesFrontendBundle_privacidad') }}" title="">{{'CONDICIONES PARTICULARES Y PRIVACIDAD'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_condicionesLegales') }}" title="">{{'CONDICIONES DEL SERVICIO'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_publicaTuHotel') }}" title="">{{'PUBLICA TU HOTEL'|trans}}</a></li>
                        <li><a class="v_movil" href="{{ path (app.request.attributes.get('_route'), getCurrentRouteParams()|merge( {'version': 'mobile'} )) }}" title="">{{'VERSIÓN MÓVIL'|trans}}</a></li>
                        <li><a class="a_hoteles" href="{{ path('fos_user_security_login') }}" title="">{{'ACCESO HOTELES'|trans}}</a></li>
                    </ul>
                    <div class="att_cliente">
                        ATENCIÓN AL CLIENTE <br /> <span>911 610 156</span>
                    </div>
                </div><!-- container -->
            </div><!-- footer1 -->
            <div class="footer2">
                <div class="container">
                    <span>© Copyright. Todos los derechos reservados.</span>
                </div><!-- container -->
            </div><!-- footer2 -->

        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/bundles/hotelesfrontend/js/vendor/jquery/dist/jquery.min.js"><\/script>')</script>
        <script>
            if (typeof ROOMASTIC === 'undefined') {
                ROOMASTIC = {};
            }
            ROOMASTIC.googleID = '{{configuracion.googAppId}}';
            ROOMASTIC.googleapikey = '{{configuracion.googApiKey}}';
            ROOMASTIC.version_mv = false;
        </script>
        <script src="/bundles/hotelesfrontend/js/plugins.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/jquery.backstretch.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/moment.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/daterangepicker.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/selectize.min.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/icheck.min.js"></script>
        <script src="/bundles/hotelesfrontend/js/plugins/gmap3.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts '@HotelesFrontendBundle/Resources/public/js/roomastic.js' 
        '@HotelesFrontendBundle/Resources/public/js/ajax-preload.js' 
        '@HotelesFrontendBundle/Resources/public/js/facebook_login.js' 
        '@HotelesFrontendBundle/Resources/public/js/google_login.js' 
        '@HotelesFrontendBundle/Resources/public/js/oferta.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
        <!-- 
        <script src="/bundles/hotelesfrontend/js/roomastic.js"></script>
        <script src="/bundles/hotelesfrontend/js/facebook_login.js"></script>
        <script src="/bundles/hotelesfrontend/js/google_login.js"></script>
        <script src="/bundles/hotelesfrontend/js/oferta.js"></script> 
        -->

        <!-- sweet-alert -->
        <script src="/bundles/hotelesfrontend/js/plugins/sweet-alert.js"></script>
        <!-- cookies -->
        <script src="/bundles/hotelesfrontend/js/plugins/jquery.cookiebar.js"></script>

        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function () {
                            (b[l].q = b[l].q || []).push(arguments)
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-53266623-1');
            ga('send', 'pageview');
        </script>
    </body>
</html>
