<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Roomastic</title>

        <meta name="description" content="">

        <link rel="icon" type="image/x-icon" href="/bundles/hotelesfrontend/img/favicon.ico" />

        <!-- modernizr -->
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/roomastic.css">
        <script src="/bundles/hotelesfrontend/js/vendor/modernizr/modernizr.js"></script>


        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
            improve your experience.</p>
        <![endif]-->

        <!-- general wrapper -> layout -> keep footer at the bottom -->
        <div style="margin:0px;padding:0px;overflow:hidden">
            <!-- / orange bar -->
            {% block content %}
            {% endblock %}
            <!-- / wrapper -->

            <!-- / partners -->
        </div>
        <!-- / footer -->

        <!-- jQuery -->
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

            {% javascripts '@HotelesFrontendBundle/Resources/public/js/pago/pago-inicial.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block carga %}
        {% endblock %}

        <!-- comentado de momento
            <script>
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
                Google Analytics -->
    </div>
    <!-- / general wrapper -> layout -> keep footer at the bottom -->
</body>
</html>