{% extends "HotelesFrontendBundle:TPV:layoutTPV.html.twig" %}

{% block content %}
    <div class="contenido confirmaciontpv">
        {% block resultado_venta %}
        {% endblock %}
        <div class="separador"></div>
        <div class="bq">
            <div class="tit">{{'El hotel'|trans}}</div>
            <div class="cont clearfix">
                <p class="name">{{hotel.nombrehotel}}</p>
                <p>{{hotel.ubicacion}}</p>
                <div class="estrellas">
                    <img src="/bundles/hotelesfrontend/img/{{hotel.calificacion}}stars.png">
                </div>
                <div class="left">
                    <img src="{{hotel.getImagePath ~ '/' ~ hotel.getOrderedImagenesDelHotel[0].imagen }}" class="imgppal">
                </div>
                <div class="right">
                    <ul class="servicios">
                        {% if hotel.piscina == 1 %}
                            <li class="piscina">
                                <label for="piscina">{{'Piscina'|trans}}</label>
                            </li>
                        {% endif %}

                        {% if hotel.spa == 1 %}
                            <li class="spa">
                                <label for="Spa">{{'Spa'|trans}}</label>
                            </li>
                        {% endif %}

                        {% if hotel.wiFi == 1 %}
                            <li class="wi-fi">
                                <label for="Bar">{{'Wi-Fi'|trans}}</label>
                            </li>	
                        {% endif %}

                        {% if hotel.accesoAdaptado == 1 %}
                            <li class="acceso-adaptado">
                                <label for="Acceso-Adaptado">{{'Acceso adaptado'|trans}}</label>
                            </li>
                        {% endif %}

                        {% if hotel.aceptanPerros == 1 %}
                            <li class="perros">
                                <label for="perros">{{'Aceptan perros'|trans}}</label>
                            </li>
                        {% endif %}

                        {% if hotel.aparcamiento == 1 %}
                            <li class="parking">
                                <label for="parking">{{'Aparcamiento/Parking'|trans}}</label>
                            </li>
                        {% endif %}

                        {% if hotel.businessCenter == 1 %}
                            <li class="business-center">
                                <label for="business-center">{{'Business center'|trans}}</label>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>

        </div>
        <div class="bq">
            <div class="tit">{{'Datos de la reserva'|trans}}</div>
            <div class="cont">
                <ul class="datos">
                    <li class="left">
                        <p>{{'Fecha de entrada'|trans}}</p>
                        <p><span>{{oferta.fechain|date('d/m/Y')}}</span></p>
                    </li>
                    <li class="left">
                        <p>{{'Número de adultos'|trans}}</p>
                        <p><span>{{oferta.numadultos}}</span></p>
                    </li>
                    <li class="left">
                        <p>{{'Número de noches'|trans}}</p>
                        <p><span>{{oferta.numnoches}}</span></p>
                    </li>
                    {% if oferta.numninos != 0 %}
                        <li class="left">
                            <p>{{'Número de niños'|trans}}</p>
                            <p><span>oferta.numninos</span></p>
                        </li>
                    {% endif %}

                    <li class="left">
                        <p>{{'Nombre y apellidos'|trans}}</p>
                        <p><span>{{oferta.usuario.getNombreCompleto}}</span></p>
                    </li>
                    <li class="left">
                        <p>{{'Código de tu operación'|trans}}</p>
                        <p><span>{{sale.firma}}</span></p>
                    </li>
                    <li>
                        <p>{{'DNI'|trans}}</p>
                        <p><span>{{oferta.usuario.dni}}</span></p>
                    </li>
                    <li>
                        <p>{{'Importe total de la reserva'|trans}}</p>
                        <p><span>{{sale.amount|number_format(2,',','.') ~ '€'|trans}}</span></p>
                    </li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="separador"></div>
    </div><!-- contenido -->

{% endblock %}
