{% extends "HotelesFrontendBundle::layout.html.twig" %}
{% block content %}
    <iframe src="{{ url('hoteles_frontend_tpv_processpayment', { 'firma': firma }) }}" style="width:100%;height:800px;" ></iframe>
{% endblock %}