{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear lugar'|trans}}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Crear lugar'|trans}}
        </header>
        <div class="panel-body">
            <form role="form" action="{{ path('admin_lugares_create') }}"  method="post" {{ form_enctype(form) }}>
              <div class="form-group {{ error(form_errors(form.provincia)) }}">
                  <label for="exampleInputEmail1">{{'Provincia'|trans}}</label>
                  <div class="">
                  {{ form_errors(form.provincia) }}
                  {{ form_widget(form.provincia, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(form.municipio)) }}">
                  <label for="exampleInputEmail1">{{'Municipio'|trans}}</label>
                  <div class="">
                  {{ form_errors(form.municipio) }}
                  {{ form_widget(form.municipio, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(form.zona)) }}">
                  <label for="exampleInputEmail1">{{'Zona'|trans}}</label>
                  <div class="">
                  {{ form_errors(form.zona) }}
                  {{ form_widget(form.zona, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>              
               {{ form_rest(form) }}
        </div>
    </section>
    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-success">{{'Crear'|trans}}</button>   
            </form><!-- / form edit -->
               <a href="{{ path('admin_lugares') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->

{#
<form action="{{ path('admin_lugares_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_lugares') }}">
            Back to the list
        </a>
    </li>
</ul>
#}

{% endblock %}

{% block jsextras %}
    <script type="text/javascript">
        var id = $('#hoteles_backendbundle_lugartype_provincia option:selected').val()
        $('#hoteles_backendbundle_lugartype_municipio').load(Routing.generate('admin_lugaresfiltramunicipio', { idprovincia: id, obligatorio : 1 }));
        $('#hoteles_backendbundle_lugartype_provincia').change(function(event) {
            var id = $('#hoteles_backendbundle_lugartype_provincia option:selected').val()
            $('#hoteles_backendbundle_lugartype_municipio').load(Routing.generate('admin_lugaresfiltramunicipio', { idprovincia: id, obligatorio : 1 }));         
        });
    </script>
{% endblock %}