{% if obligatorio == 0 %}
    <option>

    </option>
{% endif %}
{% for lugar in lugares %}
    <option value="{{ lugar.id }}">
        {{ lugar.zona }}
    </option>
{% else %}
    <option selected value="">
        {{'No hay lugares'|trans}}
    </option>
{% endfor %}