{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Lugar</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Provincia</th>
            <td>{{ entity.provincia }}</td>
        </tr>
        <tr>
            <th>Municipio</th>
            <td>{{ entity.municipio }}</td>
        </tr>
        <tr>
            <th>Zona</th>
            <td>{{ entity.zona }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_lugares') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_lugares_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_lugares_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}