{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Listado de usuarios empresa'|trans}}
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{'Lista de usuarios de empresa'|trans}}
                </header>
                <div class="panel-body">
                    <!--  buscador + rtdos -->
                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="editable-sample_length" class="dataTables_length">
                                    {% include 'HotelesBackendBundle:Extras:select.html.twig' %}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {#
                                <div class="dataTables_filter" id="editable-sample_filter">
                                    <label>{{'Buscar'|trans}}: <input type="text" aria-controls="editable-sample" class="form-control medium"></label>
                                </div>
                                #}
                            </div>
                        </div>
                        <!-- / buscador + rtdos -->
                        <!--  contentTabla -->
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{'Nombre de usuario'|trans}}</th>
                                    <th>{{'Email'|trans}}</th>
                                    <th>{{'Estado'|trans}}</th>
                                    <th>{{'Empresa'|trans}}</th>    
                                    <th>{{'Acciones'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for entity in pagination %}

                                    <tr>
                                        <td>
                                            {% include 'HotelesBackendBundle:Extras:thumbs.html.twig' with {'dato': entity.imagen } %}
                                        </td>
                                        <td><a href="{{ path('admin_userempresa_edit', { 'id': entity.id }) }}">{{ entity.getPublicUsername }}</a></td>
                                        <td>{{ entity.email }}</td>
                                        <td>
                                            {% include 'HotelesBackendBundle:Extras:checked.html.twig' with {'dato': entity.enabled } %}
                                        </td>
                                        <td>{{ entity.empresa }}</td>

                                        <td>

                                            <a class="btn btn-primary btn-xs" href="{{ path('admin_userempresa_edit', { 'id': entity.id }) }}" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></a>
                                                {#<a href="{{ path('admin_userempresa_show', { 'id': entity.id }) }}">show</a>#}
                                        </td>

                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <div class="span6">
                        <a href="{{ path('admin_userempresa_new') }}" class="btn btn-success">{{'Crear una nueva empresa'|trans}}</a>
                    </div>
                    <div class="span6">
                        <div class="dataTables_paginate paging_bootstrap pagination withbuttons">
                            {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                        </div>
                    </div>                  
                </div>          
            </section>
            <!-- /btns -->

        </div><!-- /col -->
    </div> <!-- /row -->

{% endblock %}