{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Cookies list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Texto</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_cookies_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.texto }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_cookies_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_cookies_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if entities|length == 0 %}
<ul>
    <li>
        <a href="{{ path('admin_cookies_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endif %}

{% endblock %}