<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Roomastic</title>

        <meta name="title" content="{% block seotitle %}{{ seo.seotitulo is defined ? seo.seotitulo : '' }}{% endblock %}">
        <meta name="description" content="{% block seodescripcion %}{{ seo.seodescripcion is defined ? seo.seodescripcion : '' }}{% endblock %}">
        <meta name="keywords" content="{% block seokeywords %}{{ seo.seokeywords is defined ? seo.seokeywords : '' }}{% endblock %}">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

        <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/daterangepicker-bs3.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/selectize.default.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/owl.carousel.css">
        <link type="text/css" href="/bundles/hotelesfrontend/css/plugins/base.css" rel="stylesheet" />
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/jquery.fancybox.css">
        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/plugins/sweet-alert.css">

        <link rel="stylesheet" href="/bundles/hotelesfrontend/css/roomastic.css">
        <script src="/bundles/hotelesfrontend/js/vendor/modernizr/modernizr.js"></script>

        <link rel="icon" type="image/x-icon" href="/bundles/hotelesfrontend/img/favicon.ico" />
        <link rel="apple-touch-icon" href="/bundles/hotelesfrontend/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/bundles/hotelesfrontend/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/bundles/hotelesfrontend/img/apple-touch-icon-114x114.png">

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {#
        <script src="//localhost:35730/livereload.js"></script>
        #}

        <!--[if lt IE 9]>
            <script src="js/vendor/html5shiv/dist/html5shiv.min.js"></script>
        <![endif]-->

    </head> 
    {% set rrss = getRRSS() %}
    <body class="portada">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- aviso cookie -->
        <div id="cookie-bar" class="fixed"></div>

        <div class="wrapper">

            <!--<div class="degradado_portada"></div>-->

            <header id="header">
                <div class="lineatop"></div>

                <div class="container clearfix">
                    <a href="{{path('HotelesFrontendBundle_homepage')}}" title=""><h1 class="logo">Roomastic</h1></a>

                    <ul class="social">
                        <li><a href="{{rrss.twitter}}" target="_blank" title="twitter">twitter</a></li>
                        <li><a class="facebook" href="{{rrss.facebook}}"  target="_blank" title="facebook">facebook</a></li>
                    </ul>
                    <ul class="menu">                      
                        <li><a href="{{path('HotelesFrontendBundle_homepage')}}" title="HOME">{{'HOME'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_faqs') }}" title="FAQS">{{'FAQS'|trans}}</a></li>
                        <!--<li><a href="#" title="AYUDA">{{'AYUDA'|trans}}</a></li>-->
                        <li><a href="{{ path('HotelesFrontendBundle_contacto') }}" title="CONTACTO">{{'CONTACTO'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_quienesSomos') }}" title="{{'¿Quiénes Somos?'|trans}}">{{'¿Quiénes Somos?'|trans}}</a></li>
                    </ul>
                </div><!-- container -->

            </header><!-- /header -->

            <div class="container">        
                {% block content %}
                {% endblock %}             
            </div><!-- container -->

        </div><!-- wrapper -->

        <footer id="footer">

            <div class="footer1 footer-opaco">
                <div class="container">
                    <ul class="menu_foot clearfix">                                                 
                        <li><a href="{{ path('HotelesFrontendBundle_privacidad') }}" title="">{{'CONDICIONES PARTICULARES Y PRIVACIDAD'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_condicionesLegales') }}" title="">{{'CONDICIONES DEL SERVICIO'|trans}}</a></li>
                        <li><a href="{{ path('HotelesFrontendBundle_publicaTuHotel') }}" title="">{{'PUBLICA TU HOTEL'|trans}}</a></li>
                        <li><a class="v_movil" href="{{ path (app.request.attributes.get('_route'), getCurrentRouteParams()|merge( {'version': 'mobile'} )) }}" title="">{{'VERSIÓN MÓVIL'|trans}}</a></li>
                        <li><a class="a_hoteles" href="{{ path('fos_user_security_login') }}" title="">{{'ACCESO HOTELES'|trans}}</a></li>


                    </ul>
                    <div class="att_cliente">
                        {{'ATENCIÓN AL CLIENTE'|trans}} <br /> <span>911 610 156</span>
                    </div>
                </div><!-- container -->
            </div><!-- footer1 -->
            <div class="footer2">
                <div class="container">
                    <span>{{'© Copyright. Todos los derechos reservados.'|trans}}</span>
                </div><!-- container -->
            </div><!-- footer2 -->

        </footer>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="/bundles/hotelesfrontend/js/vendor/jquery/dist/jquery.min.js"><\/script>')</script>

            <script src="/bundles/hotelesfrontend/js/plugins.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/jquery.backstretch.min.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/moment.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/daterangepicker.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/selectize.min.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/icheck.min.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/gmap3.min.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/owl.carousel.min.js"></script>
            <!-- slide fotos detalle hotel -->
            <script type="text/javascript" src="/bundles/hotelesfrontend/js/plugins/jquery.jcarousel.min.js"></script>
            <script type="text/javascript" src="/bundles/hotelesfrontend/js/plugins/jquery.pikachoose.js"></script>
            <!-- fancybox -->
            <script src="/bundles/hotelesfrontend/js/plugins/source/jquery.fancybox.js"></script>
            <script src="/bundles/hotelesfrontend/js/plugins/source/jquery.fancybox.pack.js"></script>
            <!-- api maps -->
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
            <!-- cookies -->
            <script src="/bundles/hotelesfrontend/js/plugins/jquery.cookiebar.js"></script>


            <script src="/bundles/hotelesfrontend/js/roomastic.js"></script>

            <!-- script slide foto hotel detalle -->
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var a = function(self) {
                        self.anchor.fancybox();
                    };
                    jQuery("#pikame").PikaChoose({buildFinished: a});
                });
            </script> 


            <script>
                (function(b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l;
                    b[l] || (b[l] =
                            function() {
                                (b[l].q = b[l].q || []).push(arguments)
                            });
                    b[l].l = +new Date;
                    e = o.createElement(i);
                    r = o.getElementsByTagName(i)[0];
                    e.src = '//www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', 'UA-53266623-1');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
