{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar usuarios del hotel'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">
            <section class="panel"> 
                <header class="panel-heading">
                    {{'Editar usuarios del hotel'|trans}}
                </header>
                <div class="panel-body">
                    <form action="{{ path('admin_userhotel_update', { 'id': entity.id }) }}" method="post"  id="formulariosubida"  {{ form_enctype(edit_form) }}>
                        <div class="form-group {{ error(form_errors(edit_form.hotel)) }}">
                            <label for="exampleInputEmail1">{{'Hotel'|trans}}</label>
                            <div class="">
                                {{ form_widget(edit_form.hotel, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        <div class="form-group {{ error(form_errors(edit_form.email)) }}">
                            <label for="exampleInputEmail1">{{'Email'|trans}}</label>
                            <div class="">
                                {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        <div class="form-group {{ error(form_errors(edit_form.nombrecompleto)) }}">
                            <label for="exampleInputEmail1">{{'Nombre completo'|trans}}</label>
                            <div class="">
                                {{ form_widget(edit_form.nombrecompleto, { 'attr': {'class': 'form-control'} }) }}                    
                            </div>
                        </div>
                        <div class="form-group {{ error(form_errors(edit_form.cargo)) }}">
                            <label for="exampleInputEmail1">{{'Cargo'|trans}}</label>
                            <div class="">
                                {{ form_widget(edit_form.cargo, { 'attr': {'class': 'form-control'} }) }}                    
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1">{{'Imagen de usuario'|trans}}</label>
                            <div class="">
                                <input type="file" name="archivo" id="inputsubida">
                            </div>
                            <br>
                            <input type="hidden" name="imagensubidanombre" id="imagensubidanombre" value="{{ entity.imagen }}">
                            {% if imagendevuelta is defined and imagendevuelta != '' %}
                                <img src="/uploads/user/{{ imagendevuelta }}" widtH="200" height="200" id="imagenusuario">
                            {% else %}
                                <img src="" widtH="200" height="200" id="imagenusuario">
                            {% endif %}
                            <iframe src="{{path("admin_imageupload", {tiposubida: 'user'})}}" height="0" width="1300" style="border:0px;" name="inter"></iframe>
                        </div>
                        {% if show_admin == true %}
                            <div class="form-group {{ error(form_errors(edit_form.administrador)) }}">
                                <label>
                                    {{'Marca esta casilla si quieres que este usuario administre la ficha del hotel'|trans}} 
                                    {{ form_widget(edit_form.administrador, { 'attr': {'class': ''} }) }}                 
                                </label>
                            </div>
                        {%endif%}
                        {{ form_rest(edit_form) }}
                </div>
            </section>
            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <button type="submit" class="btn btn-info">{{'Guardar'|trans}}</button>   
                    </form><!-- / form edit -->
                    <a href="{{ path('admin_userhotel') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if entity.isSuspended() %}
                            <form action="{{ path('admin_userhotel_reactivate', { 'id': entity.id }) }}" method="post" class="btnDelete">
                                {{ form_widget(reactivate_form) }}
                                <button type="submit" class="btn btn-success" onclick="return confirm('¿Está seguro de reactivar este usuario?');">{{'Reactivar '|trans}}</button>
                            </form>
                        {% else %}
                            <form action="{{ path('admin_userhotel_delete', { 'id': entity.id }) }}" method="post" class="btnDelete">
                                {{ form_widget(delete_form) }}
                                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de borrar?');">{{'Suspender'|trans}}</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </section>
            <!-- /btns -->
        </div><!-- /col -->
    </div><!-- /row -->

    {#################################################################################}
    {#################################################################################}
    {# helena esto es la ventana modal del crop #}
    {#################################################################################}
    {#################################################################################}

    <a class="" data-toggle="modal" href="#myModal" id="clickmodal"></a>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 923px;margin: 36px auto;height: 508px!important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{'Editar imagen'|trans}}</h4>
                </div>

                <div style="width:100%; height:auto; padding-top: 17px;" >
                    <img src="/bundles/hotelesbackend/img/logo2.png" id="target" width="200" alt="[Jcrop Example]" />
                </div>

                <div class="clearfix"></div>

                <div class="modal-footer">
                    <button data-dismiss="modal" id="closeimage" class="btn btn-default" type="button">{{'Cerrar'|trans}}</button>
                    <button class="btn btn-success" id="successimage" data-id="" data-url="" data-img="" type="button">{{'Guardar cambios'|trans}}</button>
                </div>
            </div>
        </div>
    </div>
    {#################################################################################}
    {#################################################################################}
    {#################################################################################}
    {#################################################################################}
    {#################################################################################}

{% endblock %}

{% block jsextras %}

    {% set urlcrea = path('admin_userhotel_update', { 'id': entity.id }) %}
    {% set urlsubidaimagen = path("admin_imageupload", {tiposubida: 'user'}) %}
    {% set tipo = 'user' %}
    {% set crop1 = '100' %}
    {% set crop2 = '100' %}
    {% set crop3 = '100' %}
    {% set crop4 = '100' %}
    {% set crop5 = '1' %}
    {% set crop6 = '1' %}

    {% include 'HotelesBackendBundle:Crop:crop.html.twig' with {'especifico': 'user' } %}

{% endblock %}