{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de usuarios del hotel'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{'Lista de usuarios del hotel'|trans}}
                </header>
                <div class="panel-body">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{'Nombre de usuario'|trans}}</th>
                                <th>{{'Email'|trans}}</th>
                                <th>{{'Estado'|trans}}</th>
                                <th>{{'Administrador'|trans}}</th>
                                <th>{{'Empresa'|trans}}</th>
                                <th>{{'Hotel'|trans}}</th>                                 
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for entity in pagination %}
                                <tr>
                                    <td>
                                        {% include 'HotelesBackendBundle:Extras:thumbs.html.twig' with {'dato': entity.imagen } %}
                                    </td>                                      
                                    <td><a href="{{ path('admin_userhotel_edit', { 'id': entity.id }) }}">{{ entity.getPublicUsername }}</a></td>
                                    <td>{{ entity.email }}</td>
                                    <td>
                                        {% include 'HotelesBackendBundle:Extras:checked.html.twig' with {'dato': entity.enabled } %}
                                    </td>
                                    <td>{% if entity.administrador %} {{'Si'|trans}}{% else %}{{'No'|trans}}{% endif %}</td>
                                    <td>{{ entity.hotel.empresa }}</td>
                                    <td>{{ entity.hotel }}</td>            
                                    <td>
                                        <a href="{{ path('admin_userhotel_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <div class="span6">
                        <a href="{{ path('admin_userhotel_new') }}" class="btn btn-success">
                            {{'Crear un nuevo usuario hotel'|trans}}
                        </a>
                    </div>
                    <div class="span6">
                        <div class="dataTables_paginate paging_bootstrap pagination withbuttons">
                            {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                        </div>
                    </div>                  
                </div>          
            </section>
        </div>
    </div>    

{% endblock %}