{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear publica tu hotel'|trans}}
{% endblock %}

{% block body %}


<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Crear publica tu hotel'|trans}}
        </header>
        <div class="panel-body {{ error(form_errors(form.texto)) }}">
            <form role="form" action="{{ path('admin_publicatuhotel_create') }}"  method="post" {{ form_enctype(form) }}>
                <label for="exampleInputEmail1">{{'Texto'|trans}}</label>
                <!--wysihtml5 start-->
                {{ form_errors(form.texto) }}
                {{ form_widget(form.texto, { 'attr': {'class': 'wysihtml5 form-control', 'rows': '10'} }) }}       
                {{ form_rest(form) }}
                <!--wysihtml5 end-->
        </div>
    </section>
    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-success">{{'Crear'|trans}}</button>   
            </form><!-- / form edit -->
               {#<a href="{{ path('admin_homeconfiguracion') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>#}
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->

{#

<h1>Publicatuhotel creation</h1>

<form action="{{ path('admin_publicatuhotel_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

#}


{% endblock %}