{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar configuración'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">


            <!--tab nav start-->
            <section class="panel">
                <header class="panel-heading">
                    {{'Editar configuración'|trans}}
                </header>
                <header class="panel-heading tab-bg-dark-navy-blue ">
                    <ul class="nav nav-tabs">
                        <li class="active  {{ errorgroup([form_errors(edit_form.descuentoentero), form_errors(edit_form.descuentodecimal), form_errors(edit_form.tiempohotel), form_errors(edit_form.tiempousuariosoferta), form_errors(edit_form.tiempousuarioscontraoferta)]) }}">
                            <a data-toggle="tab" href="#general">{{'General'|trans}}</a>
                        </li>
                        <li class="{{ errorgroup([form_errors(edit_form.fbappid), form_errors(edit_form.fbappsecret)]) }}">
                            <a data-toggle="tab" href="#rrss">{{'RRSS'|trans}}</a>
                        </li>
                        <li class="{{ errorgroup([form_errors(edit_form.fbappid), form_errors(edit_form.fbappsecret)]) }}">
                            <a data-toggle="tab" href="#api">{{'Claves de APIs'|trans}}</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tpv">{{'Tpv'|trans}}</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#entorno">{{'Entorno'|trans}}</a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="general" class="tab-pane active">
                            <form action="{{ path('admin_configuracion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{'Porcentaje de comisión (campo enteros) , (campo decimales).'|trans}}</label>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-2-dcnt {{ error(form_errors(edit_form.descuentoentero)) }}">
                                        {{ form_errors(edit_form.descuentoentero) }}
                                        {{ form_widget(edit_form.descuentoentero, { 'attr': {'class': 'form-control'} }) }}                     
                                    </div>
                                    <div class="comaclear" style="float:left"> , </div>
                                    <div class="col-sm-2-dcnt {{ error(form_errors(edit_form.descuentodecimal)) }}">
                                        {{ form_errors(edit_form.descuentodecimal) }}
                                        {{ form_widget(edit_form.descuentodecimal, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group clearfix  {{ error(form_errors(edit_form.tiempohotel)) }}">
                                    <label for="exampleInputEmail1">{{'Horas para que el hotel procese las ofertas'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(edit_form.tiempohotel) }}
                                        {{ form_widget(edit_form.tiempohotel, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  clearfix {{ error(form_errors(edit_form.tiempousuariosoferta)) }}">
                                    <label for="exampleInputEmail1">{{'Horas desde que un hotel acepta la oferta para que los usuarios paguen la oferta'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(edit_form.tiempousuariosoferta) }}
                                        {{ form_widget(edit_form.tiempousuariosoferta, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group clearfix {{ error(form_errors(edit_form.tiempousuarioscontraoferta)) }}">
                                    <label for="exampleInputEmail1">{{'Horas para que los usuarios acepten las contraofertas'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(edit_form.tiempousuarioscontraoferta) }}
                                        {{ form_widget(edit_form.tiempousuarioscontraoferta, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group clearfix {{ error(form_errors(edit_form.tiemporecordatoriopago)) }}">
                                    <label for="exampleInputEmail1">{{'Horas desde que un hotel acepta la oferta para que se envíe el primer recordatorio de pago'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(edit_form.tiemporecordatoriopago) }}
                                        {{ form_widget(edit_form.tiemporecordatoriopago, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group clearfix {{ error(form_errors(edit_form.tiempoalertapago)) }}">
                                    <label for="exampleInputEmail1">{{'Horas desde que un hotel acepta la oferta para que se envíe el segundo recordatorio de pago'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(edit_form.tiempoalertapago) }}
                                        {{ form_widget(edit_form.tiempoalertapago, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                        </div>
                        <div id="rrss" class="tab-pane">
                            <div class="form-group {{ error(form_errors(edit_form.nombre_facebook)) }}">
                                <label for="exampleInputEmail1">{{'Nombre en facebook'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.nombre_facebook) }}
                                    {{ form_widget(edit_form.nombre_facebook, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.nombre_twitter)) }}">
                                <label for="exampleInputEmail1">{{'Nombre en twitter'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.nombre_twitter) }}
                                    {{ form_widget(edit_form.nombre_twitter, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>                                        
                        </div>
                        <div id="api" class="tab-pane">
                            <div class="form-group {{ error(form_errors(edit_form.fbappid)) }}">
                                <label for="exampleInputEmail1">{{'Facebook app id'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.fbappid) }}
                                    {{ form_widget(edit_form.fbappid, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.fbappsecret)) }}">
                                <label for="exampleInputEmail1">{{'Facebook app secret'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.fbappsecret) }}
                                    {{ form_widget(edit_form.fbappsecret, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>         

                            <div class="form-group {{ error(form_errors(edit_form.googappid)) }}">
                                <label for="exampleInputEmail1">{{'Google app id'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.googappid) }}
                                    {{ form_widget(edit_form.googappid, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.googappsecret)) }}">
                                <label for="exampleInputEmail1">{{'Google app secret'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.googappsecret) }}
                                    {{ form_widget(edit_form.googappsecret, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.googapikey)) }}">
                                <label for="exampleInputEmail1">{{'Google api key'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.googapikey) }}
                                    {{ form_widget(edit_form.googapikey, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>

                            <div class="form-group {{ error(form_errors(edit_form.twitterappid)) }}">
                                <label for="exampleInputEmail1">{{'Twitter app id'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.twitterappid) }}
                                    {{ form_widget(edit_form.twitterappid, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(edit_form.twitterappsecret)) }}">
                                <label for="exampleInputEmail1">{{'Twitter app secret'|trans}}</label>
                                <div class="">
                                    {{ form_errors(edit_form.twitterappsecret) }}
                                    {{ form_widget(edit_form.twitterappsecret, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>                                        
                        </div>
                        <div id="tpv" class="tab-pane">{{'Tpv'|trans}}</div>
                        <div id="entorno" class="tab-pane">
                            <div class="form-group {{ error(form_errors(edit_form.entorno)) }}">
                                <label for="exampleInputEmail1">{{'Entorno (Demo, Producción)'|trans}}</label>
                                <div class="clearfix"></div>
                                <div class="col-sm-9 nomargleft">
                                    {{ form_errors(edit_form.entorno) }}
                                    <div class="col-sm-6">
                                        {{ form_label(edit_form.entorno.demo, 'Demo') }}
                                        {{ form_widget(edit_form.entorno.demo, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_label(edit_form.entorno.prod, 'Prod') }}
                                        {{ form_widget(edit_form.entorno.prod, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    {{ form_rest(edit_form) }}
                    <button type="submit" class="btn btn-info">{{'Guardar'|trans}}</button>   
                    </form><!-- / form edit -->

                </div>
            </section>
            <!-- /btns -->
        </div><!-- /col -->
    </div><!-- /row -->

    {#
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_configuracion') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('admin_configuracion_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
    #}

{% endblock %}