{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Configuracion list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descuentoentero</th>
            <th>Descuentodecimal</th>
            <th>Tiempohotel</th>
            <th>Tiempousuariosoferta</th>
            <th>Tiempousuarioscontraoferta</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_configuracion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.descuentoentero }}</td>
            <td>{{ entity.descuentodecimal }}</td>
            <td>{{ entity.tiempohotel }}</td>
            <td>{{ entity.tiempousuariosoferta }}</td>
            <td>{{ entity.tiempousuarioscontraoferta }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_configuracion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_configuracion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#
<ul>
    <li>
        <a href="{{ path('admin_configuracion_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
#}
{% endblock %}