{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Nueva configuración'|trans}}
{% endblock %}

{% block body %}



    <div class="row">
        <div class="col-lg-6">


            <!--tab nav start-->
            <section class="panel">
                <header class="panel-heading">
                    {{'Nueva configuración'|trans}}
                </header>
                <header class="panel-heading tab-bg-dark-navy-blue ">
                    <ul class="nav nav-tabs">
                        <li class="active {{ errorgroup([form_errors(form.descuentoentero), form_errors(form.descuentodecimal), form_errors(form.tiempohotel), form_errors(form.tiempousuariosoferta), form_errors(form.tiempousuarioscontraoferta)]) }}">
                            <a data-toggle="tab" href="#general">{{'General'|trans}}</a>
                        </li>                        
                        <li class="{{ errorgroup([form_errors(form.fbappid), form_errors(form.fbappsecret)]) }}">
                            <a data-toggle="tab" href="#rrss">{{'RRSS'|trans}}</a>
                        </li>
                        <li class="{{ errorgroup([form_errors(form.fbappid), form_errors(form.fbappsecret)]) }}">
                            <a data-toggle="tab" href="#api">{{'Claves de APIs'|trans}}</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tpv">{{'Tpv'|trans}}</a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="general" class="tab-pane active">
                            <form action="{{ path('admin_configuracion_create') }}" method="post" {{ form_enctype(form) }}>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{'Porcentaje de comisión (campo enteros) , (campo decimales).'|trans}}</label>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-2-dcnt {{ error(form_errors(form.descuentoentero)) }}">
                                        {{ form_errors(form.descuentoentero) }}
                                        {{ form_widget(form.descuentoentero, { 'attr': {'class': 'form-control'} }) }}                     
                                    </div>
                                    <div class="comaclear" style="float:left"> , </div>
                                    <div class="col-sm-2-dcnt {{ error(form_errors(form.descuentodecimal)) }}">
                                        {{ form_errors(form.descuentodecimal) }}
                                        {{ form_widget(form.descuentodecimal, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group clearfix  {{ error(form_errors(form.tiempohotel)) }}">
                                    <label for="exampleInputEmail1">{{'Tiempo hotel para procesar la oferta'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(form.tiempohotel) }}
                                        {{ form_widget(form.tiempohotel, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group clearfix {{ error(form_errors(form.tiempousuariosoferta)) }}">
                                    <label for="exampleInputEmail1">{{'Tiempo de los usuarios para aceptar la oferta'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(form.tiempousuariosoferta) }}
                                        {{ form_widget(form.tiempousuariosoferta, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group clearfix {{ error(form_errors(form.tiempousuarioscontraoferta)) }}">
                                    <label for="exampleInputEmail1">{{'Tiempo usuarios para aceptar la contraoferta'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(form.tiempousuarioscontraoferta) }}
                                        {{ form_widget(form.tiempousuarioscontraoferta, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group clearfix {{ error(form_errors(edit_form.tiempoRecordatorioPago)) }}">
                                    <label for="exampleInputEmail1">{{'Horas para que se envíe el primer recordatorio de pago'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(edit_form.tiempoRecordatorioPago) }}
                                        {{ form_widget(edit_form.tiempoRecordatorioPago, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group clearfix {{ error(form_errors(edit_form.tiempoAlertaPago)) }}">
                                    <label for="exampleInputEmail1">{{'Horas para que se envíe el segundo recordatorio de pago'|trans}}</label>
                                    <div class="col-sm-2-dcnt">
                                        {{ form_errors(edit_form.tiempoAlertaPago) }}
                                        {{ form_widget(edit_form.tiempoAlertaPago, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                        </div>
                        <div id="api" class="tab-pane">
                            <div class="form-group {{ error(form_errors(form.fbappid)) }}">
                                <label for="exampleInputEmail1">{{'Facebook app id'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.fbappid) }}
                                    {{ form_widget(form.fbappid, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(form.fbappsecret)) }}">
                                <label for="exampleInputEmail1">{{'Facebook app secret'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.fbappsecret) }}
                                    {{ form_widget(form.fbappsecret, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>                                        
                        </div>
                        <div id="rrss" class="tab-pane">
                            <div class="form-group {{ error(form_errors(form.nombre_facebook)) }}">
                                <label for="exampleInputEmail1">{{'Nombre en facebook'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.nombre_facebook) }}
                                    {{ form_widget(form.nombre_facebook, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>
                            <div class="form-group {{ error(form_errors(form.nombre_twitter)) }}">
                                <label for="exampleInputEmail1">{{'Nombre en twitter'|trans}}</label>
                                <div class="">
                                    {{ form_errors(form.nombre_twitter) }}
                                    {{ form_widget(form.nombre_twitter, { 'attr': {'class': 'form-control'} }) }}                        
                                </div>
                            </div>                                        
                        </div>
                        <div id="tpv" class="tab-pane">{{'tpv'|trans}}</div>
                    </div>
                </div>
            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-success">{{'Crear'|trans}}</button>   
                    </form><!-- / form edit -->
                    {#
         <a href="{{ path('admin_configuracion') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
         #}
                </div>
            </section>
            <!-- /btns -->
        </div><!-- /col -->
    </div><!-- /row -->



{% endblock %}