{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Configuracion</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Descuentoentero</th>
            <td>{{ entity.descuentoentero }}</td>
        </tr>
        <tr>
            <th>Descuentodecimal</th>
            <td>{{ entity.descuentodecimal }}</td>
        </tr>
        <tr>
            <th>Tiempohotel</th>
            <td>{{ entity.tiempohotel }}</td>
        </tr>
        <tr>
            <th>Tiempousuariosoferta</th>
            <td>{{ entity.tiempousuariosoferta }}</td>
        </tr>
        <tr>
            <th>Tiempousuarioscontraoferta</th>
            <td>{{ entity.tiempousuarioscontraoferta }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_configuracion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_configuracion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_configuracion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}