{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>UserEmpresa</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Usernamecanonical</th>
            <td>{{ entity.usernameCanonical }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Emailcanonical</th>
            <td>{{ entity.emailCanonical }}</td>
        </tr>
        <tr>
            <th>Enabled</th>
            <td>{{ entity.enabled }}</td>
        </tr>
        <tr>
            <th>Salt</th>
            <td>{{ entity.salt }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Lastlogin</th>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Locked</th>
            <td>{{ entity.locked }}</td>
        </tr>
        <tr>
            <th>Expired</th>
            <td>{{ entity.expired }}</td>
        </tr>
        <tr>
            <th>Confirmationtoken</th>
            <td>{{ entity.confirmationToken }}</td>
        </tr>
        <tr>
            <th>Passwordrequestedat</th>
            <td>{{ entity.passwordRequestedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Credentialsexpired</th>
            <td>{{ entity.credentialsExpired }}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_userempresa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_userempresa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_userempresa_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}