{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar newsletter'|trans}}
{% endblock %}

{% block body %}


<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Editar newsletter'|trans}}
        </header>
        <div class="panel-body">
            <form role="form" action="{{ path('admin_newsletter_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
              {#{{ form_widget(edit_form) }}#}
              <div class="form-group {{ error(form_errors(edit_form.id)) }}">
                  <label for="exampleInputEmail1">{{'Id'|trans}}</label>
                  <div class="">
                  {{ form_widget(edit_form.id, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.usuario)) }}">
                  <label for="exampleInputEmail1">{{'Usuario'|trans}}</label>
                  <div class="">
                  {{ form_widget(edit_form.usuario, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.fecha)) }}">
                  <label for="exampleInputEmail1">{{'Fecha'|trans}}</label>
                  <div class="">
                  {{ form_widget(edit_form.fecha, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.activo)) }}">
                  <label for="exampleInputEmail1">{{'Activo'|trans}}</label>
                  <div class="">
                  {{ form_widget(edit_form.activo, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.fechadisabled)) }}">
                  <label for="exampleInputEmail1">{{'Fecha disponible'|trans}}</label>
                  <div class="">
                  {{ form_widget(edit_form.fechadisabled, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              {{ form_rest(edit_form) }}
        </div>
    </section>

    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-info">{{'Editar'}}</button>   
            </form><!-- / form edit -->
               <a href="{{ path('admin_newsletter') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
               <form action="{{ path('admin_newsletter_delete', { 'id': entity.id }) }}" method="post" class="btnDelete">
                  {{ form_widget(delete_form) }}
                  <button type="submit" class="btn btn-danger" onclick="return confirm('{{'¿Está seguro de borrar?'|trans}}');">{{'Borrar'|trans}}</button>
               </form>
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->


{% endblock %}