{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de newsletter'|trans}}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@HotelesBackendBundle/Resources/public/js/newsletter/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{'Lista de newsletter'|trans}}
                </header>
                <div class="panel-body">
                    <!--  buscador + rtdos -->
                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="editable-sample_length" class="dataTables_length">
                                    {% include 'HotelesBackendBundle:Extras:select.html.twig' %}     
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="dataTables_filter" id="editable-sample_filter">
                                    <form action="" method="POST" id="form-buscar-newsletter">
                                        <label>{{'Buscar'|trans}}: <input type="text" name="email" aria-controls="editable-sample" class="form-control medium buscar"></label>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- / buscador + rtdos -->
                        <!--  contentTabla -->
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover" id="hidden-table-info">

                            <thead>
                                <tr>
                                    <th>{{'Id'|trans}}</th>   
                                    <th>{{'Usuario'|trans}}</th>
                                    <th>{{'E-mail'|trans}}</th>
                                    <th>{{'Fecha Alta'|trans}}</th>
                                    <th>{{'Activo'|trans}}</th>
                                    <th>{{'Fecha baja'|trans}}</th>
                                    <th>{{'Acciones'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for newsletter in entities %}

                                    <tr data-newsletter-id="{{ newsletter.id }}">
                                        <td>{{ loop.index}}</td>
                                        <td>{{ newsletter.usuario.getNombreCompleto }}</td>
                                        <td>{{ newsletter.usuario.email }}</td>
                                        <td>{% if newsletter.fecha %}{{ newsletter.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td class="status"> {% include 'HotelesBackendBundle:Newsletter:status.html.twig' with {'activo': newsletter.activo} %}</td>
                                        <td>{% if newsletter.fechadisabled %}{{ newsletter.fechadisabled|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>
                                            {% if newsletter.activo == 1 %}
                                                <a href="{{ path('admin_newsletter_delete', { 'id': newsletter.id }) }}" class="btn btn-primary btn-xs unsuscribe-newsletter" title="{{'Dar de baja'|trans}}">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            {% else %}
                                                <a href="{{ path('admin_newsletter_activate', { 'id': newsletter.id }) }}" class="btn btn-primary btn-xs suscribe-newsletter" title="{{'Dar de alta'|trans}}">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            {% endif %}
                                        </td>                                   
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--  /contentTabla -->

                    </div> <!-- /addtable -->
                </div><!-- /panelbody -->

            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <a href="{{ path('hoteles_backend_export_exportnewsletter') }}" class="btn btn-success">{{'Exportar'|trans}}</a>
                </div>
            </section>
            <!-- /btns -->

        </div><!-- /col -->

    </div><!-- /row -->



{% endblock %}