{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Newsletter</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Usuario</th>
            <td>{{ entity.usuario }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>{{ entity.activo }}</td>
        </tr>
        <tr>
            <th>Fechadisabled</th>
            <td>{{ entity.fechadisabled|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_newsletter') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_newsletter_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_newsletter_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}