{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Listado de hoteles'|trans}}
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{'Lista de hoteles'|trans}}
                </header>
                <div class="panel-body">
                    <!--  buscador + rtdos -->
                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="editable-sample_length" class="dataTables_length">
                                    {% include 'HotelesBackendBundle:Extras:select.html.twig' %}
                                </div>
                            </div>
                            <div class="col-lg-6">                                
                            </div>
                        </div>
                        <!-- / buscador + rtdos -->
                        <!--  contentTabla -->
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover" id="hidden-table-info">
                            <thead>
                                <tr>
                                    <th>{{'Nombre de hotel'|trans}}</th>            
                                    <th>{{'Empresa'|trans}}</th>
                                    <th>{{'Email de la persona de contacto'|trans}}</th>
                                    <th>{{'Pvp oficial'|trans}}</th>
                                    <th>{{'Cantidad mínima aceptada'|trans}}</th>
                                    <th>{{'Estado'|trans}}</th>
                                    <th>{{'Acciones'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td><a href="{{ path('admin_hotel_edit', { 'id': entity.id }) }}">{{ entity.nombrehotel }}</a></td >        
                                        <td>{{ entity.Empresa }}</td>
                                        <td>{{ entity.Emailpersonacontacto }}</td>
                                        <td>{{ entity.Pvpoficialenteros }},{{ entity.Pvpoficialdecimales }}</td>
                                        <td>{{ entity.Cantidadminimaaceptadaenteros }},{{ entity.Cantidadminimaaceptadadecimales }}</td>
                                        <td>
                                            {% include 'HotelesBackendBundle:Extras:hotelStatus.html.twig' with {'status': entity.status } %}
                                        </td>
                                        <td>
                                            {% if show_admin %}
                                            <a href="{{ path('admin_hotel_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--  /contentTabla -->

                    </div> <!-- /addtable -->
                </div><!-- /panelbody -->

            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <div class="span6">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPRESA') %}
                            <a href="{{ path('admin_hotel_new') }}" class="btn btn-success">{{'Crear un nuevo hotel'|trans}}</a>
                        {% endif %}
                    </div>
                    <div class="span6">
                        <div class="dataTables_paginate paging_bootstrap pagination withbuttons">
                            {{ knp_pagination_render(pagination, 'HotelesBackendBundle:Paginacion:paginacion.html.twig') }}
                        </div>
                    </div>                  
                </div>          
            </section>
            <!-- /btns -->

        </div><!-- /col -->

    </div><!-- /row -->

{% endblock %}