{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Nuevo hotel'|trans}}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@HotelesBackendBundle/Resources/public/js/hotel/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <form action="{{ path('admin_hotel_create') }}" method="post" class="tasi-form" id="formulariosubida" {{ form_enctype(form) }}>
        <div class="row">
            <div class="col-lg-6">
                <!--tab nav start-->
                <section class="panel">
                    <header class="panel-heading">
                        {{'Crear hotel'|trans}}
                    </header>
                    <header class="panel-heading tab-bg-dark-navy-blue ">
                        <ul class="nav nav-tabs">
                            <li class="active {{ errorgroup([form_errors(form.email),form_errors(form.nombreempresa),form_errors(form.cif),form_errors(form.direccionfacturacion),form_errors(form.telefono),form_errors(form.numerocuenta)]) }}">
                                <a data-toggle="tab" href="#datoshotel">{{'Datos del hotel'|trans}}</a>
                            </li>
                            <li class="{{ errorgroup([form_errors(form.nombrepersonacontacto),form_errors(form.apellidospersonacontacto),form_errors(form.cargopersonacontacto),form_errors(form.emailpersonacontacto),form_errors(form.telefonopersonacontacto)]) }}">
                                <a data-toggle="tab" href="#datospersona">{{'Datos de la persona de contacto'|trans}}</a>
                            </li>
                            <li class="{{ errorgroup([form_errors(form.nombrehotel),form_errors(form.url),form_errors(form.descripcion),form_errors(form.caracteristicas),form_errors(form.ubicacion),form_errors(form.pvpoficialenteros),form_errors(form.pvpoficialdecimales),form_errors(form.cantidadminimaaceptadaenteros),form_errors(form.cantidadminimaaceptadadecimales)]) }}">
                                <a data-toggle="tab" class="caracteristicashotel" href="#caracteristicashotel">{{'Ficha del hotel'|trans}}</a>
                            </li>
                            <li class="{{ errorgroup([form_errors(form.imagenes)]) }}">
                                <a data-toggle="tab" class="imageneshotel" href="#imageneshotel">{{'Imágenes del hotel'|trans}}</a>
                            </li>
                            <li class="{{ errorgroup([form_errors(form.seotitulo),form_errors(form.seodescripcion),form_errors(form.seokeywords)]) }}">
                                <a data-toggle="tab" href="#seo">{{'Seo'|trans}}</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="{{ errorgroup([form_errors(form.comisionhotelentero),form_errors(form.comisionhoteldecimal)]) }}">
                                    <a data-toggle="tab" href="#comisiones">{{'Comisiones'|trans}}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </header>



                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="datoshotel" class="tab-pane active">
                                <div class="form-group {{ error(form_errors(form.email)) }}">
                                    <label>{{'Email'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.email) }}
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>{{'Empresa'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.empresa) }}
                                        {{ form_widget(form.empresa, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>                
                                <div class="form-group  {{ error(form_errors(form.nombreempresa)) }}">
                                    <label>{{'Nombre de empresa'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.nombreempresa) }}
                                        {{ form_widget(form.nombreempresa, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group {{ error(form_errors(form.cif)) }}">
                                    <label>{{'Cif'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.cif) }}
                                        {{ form_widget(form.cif, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>   
                                <div class="form-group {{ error(form_errors(form.direccionfacturacion)) }}">
                                    <label>{{'Dirección de facturación'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.direccionfacturacion) }}
                                        {{ form_widget(form.direccionfacturacion, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>   
                                <div class="form-group {{ error(form_errors(form.telefono)) }}">
                                    <label>{{'Teléfono'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.telefono) }}
                                        {{ form_widget(form.telefono, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>   
                                <div class="form-group {{ error(form_errors(form.numerocuenta)) }}">
                                    <label>{{'Número de cuenta'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.numerocuenta) }}
                                        {{ form_widget(form.numerocuenta, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>  

                            </div>
                            <div id="datospersona" class="tab-pane">
                                <div class="form-group  {{ error(form_errors(form.nombrepersonacontacto)) }}">
                                    <label>{{'Nombre de la persona contacto'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.nombrepersonacontacto) }} 
                                        {{ form_widget(form.nombrepersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.apellidospersonacontacto)) }}">
                                    <label>{{'Apellidos de la persona de contacto'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.apellidospersonacontacto) }}
                                        {{ form_widget(form.apellidospersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.cargopersonacontacto)) }}">
                                    <label>{{'Cargo de la persona de contacto'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.cargopersonacontacto) }}
                                        {{ form_widget(form.cargopersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.emailpersonacontacto)) }}">
                                    <label>{{'Email de la persona de contacto'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.emailpersonacontacto) }}
                                        {{ form_widget(form.emailpersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>   
                                <div class="form-group  {{ error(form_errors(form.telefonopersonacontacto)) }}">
                                    <label>{{'Teléfono de la persona de contacto'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.telefonopersonacontacto) }}
                                        {{ form_widget(form.telefonopersonacontacto, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group checkbox">
                                    <label>
                                        {{'Marca esta casilla si quieres que este usuario administre la ficha del hotel'|trans}} 
                                        <input type="checkbox" name="administrador" value="1">
                                    </label>
                                </div>
                            </div>
                            <div id="caracteristicashotel" class="tab-pane">
                                <div class="form-group {{ error(form_errors(form.nombrehotel)) }}">
                                    <label>{{'Nombre del hotel'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.nombrehotel) }}
                                        {{ form_widget(form.nombrehotel, { 'attr': {'class': 'form-control nombre-hotel'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group {{ error(form_errors(form.url)) }}">
                                    <label>{{'Url'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.url) }}
                                        {{ form_widget(form.url, { 'attr': {'class': 'form-control url-hotel'} }) }}                        
                                    </div>
                                </div>                  
                                <div class="form-group">
                                    <label>{{'Selecciona el número de estrellas'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.calificacion) }}
                                        {{ form_widget(form.calificacion, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>  
                                <div class="form-group padgbott">
                                    <label class="col-sm-2">{{'Piscina'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.piscina) }}
                                        {{ form_widget(form.piscina, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>

                                    <label class="col-sm-2">{{'Spa'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.spa) }}
                                        {{ form_widget(form.spa, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>

                                    <label class="col-sm-2">{{'Wi-Fi'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.wi_fi) }}
                                        {{ form_widget(form.wi_fi, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group padgbott">
                                    <label class="col-sm-2">{{'Acceso adaptado'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.acceso_adaptado) }}
                                        {{ form_widget(form.acceso_adaptado, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>

                                    <label class="col-sm-2">{{'Aceptan perros'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.aceptan_perros) }}
                                        {{ form_widget(form.aceptan_perros, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>

                                    <label class="col-sm-2">{{'Aparcamiento'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.aparcamiento) }}
                                        {{ form_widget(form.aparcamiento, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>                                    
                                </div>    
                                <div class="form-group padgbott">
                                    <label class="col-sm-2">{{'Business-Center'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.business_center) }}
                                        {{ form_widget(form.business_center, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.descripcion)) }}" style="padding-top:20px;">
                                    <label>{{'Indica una descripción breve de aproximadamente 200 carácteres'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.descripcion) }}
                                        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.caracteristicas)) }}">
                                    <label>{{'Enumera las características del hotel de forma breve en aproximadamente 200 carácteres'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.caracteristicas) }}
                                        {{ form_widget(form.caracteristicas, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>  
                                <div class="form-group  {{ error(form_errors(form.ubicacion)) }}">
                                    <label>{{'Escribe el nombre de la calle y número acompañado de la localidad, de la ubicación del hotel'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.ubicacion) }}
                                        {{ form_widget(form.ubicacion, { 'attr': {'class': 'form-control direccionmapa'} }) }}                        
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label>{{'Mapa'|trans}}</label>
                                    <div>
                                        <div id="mapaiframe" style="width:500px!important;height:250px!important;">
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group padgbott">
                                    <label class="col-sm-1">{{'Provincia'|trans}}</label>
                                    <div class="col-sm-3">
                                        {{ form_errors(form.provincia) }}
                                        {{ form_widget(form.provincia, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>

                                    <label class="col-sm-1">{{'Municipio'|trans}}&nbsp</label>
                                    <div class="col-sm-3">
                                        {{ form_errors(form.municipio) }}
                                        {{ form_widget(form.municipio, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                    <label class="col-sm-1">{{'Zona'|trans}}</label>
                                    <div class="col-sm-3">
                                        {{ form_errors(form.lugar) }}
                                        {{ form_widget(form.lugar, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group  {{ error(form_errors(form.pvpoficialenteros)) }} {{ error(form_errors(form.pvpoficialdecimales)) }} padgbott">
                                    <label class="col-sm-6">{{'Indica el pvp oficial en habitación individual de uso doble'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.pvpoficialenteros) }}
                                        {{ form_widget(form.pvpoficialenteros, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.pvpoficialdecimales) }}
                                        {{ form_widget(form.pvpoficialdecimales, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>                    
                                </div>  
                                <div class="clearfix"></div>
                                <div class="form-group  {{ error(form_errors(form.cantidadminimaaceptadaenteros)) }} {{ error(form_errors(form.cantidadminimaaceptadadecimales)) }} padgbott">
                                    <label class="col-sm-6">{{'Indica la cantidad mínima en euros por la que estás dispuesto a recibir ofertas'|trans}}</label>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.cantidadminimaaceptadaenteros) }}
                                        {{ form_widget(form.cantidadminimaaceptadaenteros, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                    <div class="col-sm-2">
                                        {{ form_errors(form.cantidadminimaaceptadadecimales) }}
                                        {{ form_widget(form.cantidadminimaaceptadadecimales, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>                    
                                </div>  
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="col-sm-6">{{'Estado de publicación de la ficha del hotel'|trans}}</label>
                                    <div class="col-sm-3">
                                        {{ form_errors(form.status) }}
                                        {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>  

                            </div>
                            <div id="imageneshotel" class="tab-pane">     
                                <div style="height:0px; display:none;">
                                    {{ form_widget(form.imagenes, { 'attr': {'class': ''} }) }}   
                                </div>            
                                <div class="form-group {{ error(form_errors(form.imagenes)) }}">
                                    <label>{{ form_errors(form.imagenes) }}</label>
                                </div>  
                                <div id="imagenes" style="height:15px;width:100%;">
                                    <input type="file" name="archivo" id="inputsubida">
                                    {#
                                    <input type="submit" id="botonsubidaimagen">
                                    #}
                                </div>
                                <iframe a src="{{path("admin_imageupload", {tiposubida: 'hoteles'})}}" height="0" width="1300" style="border:0px;" name="inter"></iframe>
                                <div id="imagenessubidas" style="height:auto;width:100%;background-color:white;"> 
                                    <div class="row">
                                        <div class="col-md-12">
                                            <section class="panel tasks-widget">

                                                <div class="panel-body">
                                                    <div class="task-content">
                                                        <ul id="sortable" class="task-list" >
                                                            {% for imagen in imagenes %}
                                                                <li class="list-primary borraelemento_{{imagen.id}}" data-id="{{imagen.id}}"><i class=" fa fa-ellipsis-v"></i><div class="task-title"><img src="/uploads/hoteles/{{imagen.imagen}}" width="200"><div class="pull-right hidden-phone"><a href="#"><button class="btn btn-success btn-xs fa fa-pencil"></button></a>&nbsp;{#<a href="#"><button class="btn btn-primary btn-xs fa fa-eye"></button></a>#}&nbsp;<a href="#" onClick="deleteElement('{{imagen.id}}');
                                                                        return false;"><button class="btn btn-danger btn-xs fa fa-trash-o"></button></a></div></div></li>
                                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>                    
                                </div>
                                <div id="imagenessubidasinputs" style="display:none;height:0px;{#height:auto;#}width:100%;background-color:white;"> 
                                    {% for imagen in imagenes %}
                                        <input type="text" name="imageneshotel[]" class="borraelemento_{{imagen.id}}" value="{{imagen.id}}"><br>
                                    {% endfor %}
                                </div>

                                <a class="" data-toggle="modal" href="#myModal" id="clickmodal"></a>


                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="width: 923px;margin: 36px auto;height: 508px!important;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">{{'Editar imagen'|trans}}</h4>
                                            </div>

                                            <div style="width:100%; height:auto; padding-top: 17px;" >
                                                <img src="/bundles/hotelesbackend/img/logo2.png" id="target" width="200" alt="[Jcrop Example]" />
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="modal-footer">
                                                <button data-dismiss="modal" id="closeimage" class="btn btn-default" type="button">{{'Cerrar'|trans}}</button>
                                                <button class="btn btn-success" id="successimage" data-id="" data-url="" data-img="" type="button">{{'Guardar cambios'|trans}}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>          
                            <div id="seo" class="tab-pane">
                                <div class="form-group {{ error(form_errors(form.seotitulo)) }}">
                                    <label>{{'Título para SEO'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.seotitulo) }}
                                        {{ form_widget(form.seotitulo, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group {{ error(form_errors(form.seodescripcion)) }}">
                                    <label>{{'Descripción para SEO'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.seodescripcion) }}
                                        {{ form_widget(form.seodescripcion, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                                <div class="form-group {{ error(form_errors(form.seokeywords)) }}">
                                    <label>{{'Keywords para SEO'|trans}}</label>
                                    <div>
                                        {{ form_errors(form.seokeywords) }}
                                        {{ form_widget(form.seokeywords, { 'attr': {'class': 'form-control'} }) }}                        
                                    </div>
                                </div>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div id="comisiones" class="tab-pane">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">{{'Porcentaje de comisión (campo enteros) , (campo decimales).'|trans}}</label>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-2-dcnt {{ error(form_errors(form.comisionhotelentero)) }}">
                                            {{ form_errors(form.comisionhotelentero) }}
                                            {{ form_widget(form.comisionhotelentero, { 'attr': {'class': 'form-control'} }) }}                     
                                        </div>
                                        <div class="comaclear" style="float:left"> , </div>
                                        <div class="col-sm-2-dcnt {{ error(form_errors(form.comisionhoteldecimal)) }}">  
                                            {{ form_errors(form.comisionhoteldecimal) }}
                                            {{ form_widget(form.comisionhoteldecimal, { 'attr': {'class': 'form-control'} }) }}                                  
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </section>
                <!--tab nav start-->

                {{ form_rest(form) }}

                <section class="panel">

                    <div class="panel-body">


                        <button type="submit" class="btn btn-success">{{'Crear'|trans}}</button>

                        </form>



                        <a href="{{ path('admin_hotel') }}" class="btn btn-primary">
                            {{'Regresar a la lista'|trans}}
                        </a>
                    </div>
                </section>

            </div><!-- /col -->
        </div><!-- /row -->

    {% endblock %}

    {% block jsextras %}
        {% set urlcrea = path('admin_hotel_create') %}
        {% set urlsubidaimagen = path("admin_imageupload", {tiposubida: 'hoteles'}) %}
        {% set tipo = 'hoteles' %}
        {% set crop1 = '100' %}
        {% set crop2 = '100' %}
        {% set crop3 = '50' %}
        {% set crop4 = '50' %}
        {% set crop5 = '16' %}
        {% set crop6 = '9' %}

        {% include 'HotelesBackendBundle:Crop:crop.html.twig' with {'especifico': 'hoteles' } %}


        <script src="/bundles/hotelesbackend/assets/dropzone/dropzone.js"></script>
        <script src="/bundles/hotelesbackend/js/respond.min.js" ></script>

    {% endblock %}
