{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar SEO'|trans}}
{% endblock %}

{% block body %}


<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Editar SEO'|trans}}
        </header>
        <div class="panel-body">
            <form role="form" action="{{ path('admin_seo_update', { 'id': entity.id }) }}"  method="post" {{ form_enctype(edit_form) }}>
              <div class="form-group">
                  <label for="exampleInputEmail1">{{'Sección'|trans}}</label>
                  <div class="">  
                    <input type="text"  disabled="disabled" maxlength="255" class="form-control" value="{{ entity.seccion }}">               
                  </div>
              </div>                
              <div class="form-group {{ error(form_errors(edit_form.seotitulo)) }}">
                  <label for="exampleInputEmail1">{{'Título'|trans}}</label>
                  <div class="">
                  {{ form_errors(edit_form.seotitulo) }}
                  {{ form_widget(edit_form.seotitulo, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.seodescripcion)) }}">
                  <label for="exampleInputEmail1">{{'Descripción'|trans}}</label>
                  <div class="">
                  {{ form_errors(edit_form.seodescripcion) }}
                  {{ form_widget(edit_form.seodescripcion, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.seokeywords)) }}">
                  <label for="exampleInputEmail1">{{'Keywords'|trans}}</label>
                  <div class="">
                  {{ form_errors(edit_form.seokeywords) }}
                  {{ form_widget(edit_form.seokeywords, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>              
               {{ form_rest(edit_form) }}


        </div>
    </section>
    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-success">{{'Guardar'|trans}}</button>   
            </form><!-- / form edit -->
              
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->
{#
<form action="{{ path('admin_seo_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_seo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_seo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
#}
{% endblock %}