{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Lista de SEO'|trans}}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                {{'Lista de SEO'|trans}}
            </header>
            <div class="panel-body">
                <!--  buscador + rtdos -->
                <div class="adv-table">             
                    <!-- / buscador + rtdos -->
                    <!--  contentTabla -->
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <th>{{'Sección'|trans}}</th>
                            <th>{{'Título'|trans}}</th>
                            <th>{{'Descripción'|trans}}</th>
                            <th>{{'Keywords'|trans}}</th>
                            <th>{{'Acciones'|trans}}</th>
                        </tr>
                        </thead>
                        <tbody>

                          {% for entity in entities %}
                              <tr>
                                    <td>{{ entity.seccion }}</td>
                                    <td>{{ entity.seotitulo }}</td>
                                    <td>{{ entity.seodescripcion }}</td>
                                    <td>{{ entity.seokeywords }}</td>
                                  <td>
                                     <a href="{{ path('admin_seo_edit', { 'id': entity.id }) }}">
                                            <button class="btn btn-primary btn-xs" title="{{'Editar'|trans}}"><i class="fa fa-pencil"></i></button>
                                            </a>
                                  </td>
                              </tr>
                          {% endfor %}
                        </tbody>
                    </table>
              </div>

        </section>

     

    </div><!-- /col -->
</div> <!-- /row -->


{% endblock %}