{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar contacto'|trans}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">
            <section class="panel"> 
                <header class="panel-heading">
                    {{'Editar contacto'|trans}}
                </header>
                <div class="panel-body">
                    <form role="form" action="{{ path('admin_contactoweb_update', { 'id': contacto.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                        {#{{ form_widget(edit_form) }}#}
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{'Nombre'|trans}}</label>
                            <div class="">
                                {{ form_errors(edit_form.nombre) }}
                                {{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{'Apellidos'|trans}}</label>
                            <div class="">
                                {{ form_errors(edit_form.apellidos) }}
                                {{ form_widget(edit_form.apellidos, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{'Email'|trans}}</label>
                            <div class="">
                                {{ form_errors(edit_form.email) }}
                                {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{'Texto'|trans}}</label>
                            <div class="">
                                {{ form_errors(edit_form.texto) }}
                                {{ form_widget(edit_form.texto, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{'Fecha'|trans}}</label>
                            <div class="">
                                {{ form_errors(edit_form.fecha) }}
                                {{ form_widget(edit_form.fecha, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{'Atendido'|trans}}</label>
                            <div class="">
                                {{ form_errors(edit_form.atendido) }}
                                {{ form_widget(edit_form.atendido, { 'attr': {'class': 'form-control'} }) }}                        
                            </div>
                        </div>
                        {{ form_rest(edit_form) }}
                </div>
            </section>

            <!-- btns -->
            <section class="panel">
                <div class="panel-body">
                    <button type="submit" class="btn btn-info">{{'Guardar y marcar como atendido'}}</button>   
                    </form><!-- / form edit -->
                    <a href="{{ path('admin_contactoweb') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
               <form action="{{ path('admin_contactoweb_delete', { 'id': contacto.id }) }}" method="post" class="btnDelete">
                        {{ form_widget(delete_form) }}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('{{'¿Está seguro de borrar?'|trans}}');">{{'Borrar'|trans}}</button>
                    </form>
                </div>
            </section>
            <!-- /btns -->
        </div><!-- /col -->
    </div><!-- /row -->



    {#
    
    <h1>Contacto edit</h1>
    
    <form action="{{ path('admin_contactoweb_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_contactoweb') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('admin_contactoweb_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
    
    #}

{% endblock %}