{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear contacto'|trans}}
{% endblock %}

{% block body %}


<div class="row">
	<div class="col-lg-6">
	  <section class="panel"> 
	      <header class="panel-heading">
	          {{'Crear contacto'|trans}}
	      </header>
	      <div class="panel-body">
	          <form role="form" action="{{ path('admin_contactoweb_create') }}" method="post" {{ form_enctype(form) }}>
	            {#{{ form_widget(form) }}#}
	            <div class="form-group">
	                <label for="exampleInputEmail1">{{'Email'|trans}}</label>
	                <div class="">
	                {{ form_errors(form.email) }}
	                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}                        
	                </div>
	            </div>
	            <div class="form-group">
	                <label for="exampleInputEmail1">{{'Nombre de usuario'|trans}}</label>
	                <div class="">
	                {{ form_errors(form.username) }}
	                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}                        
	                </div>
	            </div>
	            {{ form_rest(form) }}
	      </div>
	  </section>

	  <!-- btns -->
	  <section class="panel">
	        <div class="panel-body">
	              <button type="submit" class="btn btn-info">{{'Crear'}}</button>   
	          </form><!-- / form edit -->
	             <a href="{{ path('admin_contactoweb') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
	        </div>
	  </section>
	  <!-- /btns -->
	</div><!-- /col -->
</div><!-- /row -->

{#

<h1>Contacto creation</h1>

<form action="{{ path('admin_contactoweb_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_contactoweb') }}">
            Back to the list
        </a>
    </li>
</ul>

#}

{% endblock %}