
{#% trans_default_domain 'FOSUserBundle' %#}
{% block subject %}
     {{'Oferta aceptada'|trans}}
    {#
    {% autoescape false %}
    {{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
    #}
{% endblock %}

{% block body_text %}
   
{% endblock %}

{% block body_html %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Roomastic</title>
</head>
<body>  
    <table width="812" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
        <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
            <!-- header -->
            <tr>
                <td height="54" width="100%">&nbsp;</td>
            </tr>   
            <tr>
                <td>
                    <img src="https://roomastic.com/bundles/hotelesfrontend/img/logo.png" width="146" height="45" border="0" style="display:block;" />
                </td>
            </tr>
            <tr>
                <td height="54" width="100%">&nbsp;</td>
            </tr><!-- / header -->
            
            <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                    <p style="font-weight:bold; font-size:29px; margin:0;">OFERTA ACEPTADA</p>
                    <p>Código de la oferta: {{sale.firma}}</p>
                    <br />
                    <p>El hotel {{hotel.nombrehotel}} HA ACEPTADO tu oferta. Recuerda que según la política de funcionamiento de Roomastic, tienes 12 horas desde el momento de la aceptación para realizar el pago.</p>
                    <p>No olvides que la no aceptación de la oferta puede ocasionar el bloqueo de tu cuenta.</p>
                    <p><a style="text-decoration:underline; color:#474747; cursor:pointer;" href="{{ url('hoteles_frontend_tpv_pay', { 'firma': sale.firma }) }}">Ir a pagar</a></p>
                    <p>¡No dejes escapar esta oportunidad!</p>
                    <p>El equipo de Roomastic.</p>
                </td>   
            </tr>
    
            <!-- footer -->
           <tr><td height="127">&nbsp;</td></tr>    
           <tr>
                <td style="border-top:2px solid #e9e9e9; text-align:center; font-family:Arial, Helvetica, sans-serif;">
                    <p style="height:10px;">&nbsp;</p>
                    <span style="color:#e52e81; font-weight:bold; font-size:16px;">Teléfono de atención al cliente</span><br />
                    <span style="color:#e52e81; font-weight:bold; font-size:27px;">911 610 156</span><br /><br />
                </td>
           </tr>    
           <tr>
                <td style="font-size:9px; color:#6c6c6c; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                     este email ha sido enviado de manera automática por <span style="text-decoration:none; color:#474747;">roomastic.com</span> © Copyright. Todos los derechos reservados. 
                </td>
           </tr>
            <!-- /footer -->
            
        </table><!-- table content -->
    </table><!-- table margen -->
</body>
</html>


{#

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>

        <p>AVISO</p>
        <p>OFERTA ACEPTADA</p>
        <p>código de la oferta: 25102920</p>

        <p>HOTEL “A” HA ACEPTADO tu oferta. Recuerda que según la política de funcionamiento de roomastic.com tienes 12 horas para realizar el pago desde la aceptación de tu oferta para evitar bloquear el perfil.</p>
        <p>Solo te quedan 6 horas para poder realizar el pago. Corre antes de que se agote el tiempo</p>

        <p><a href="{{ host }}{{ path('HotelesFrontendBundle_pago', { 'token': oferta.idofertaunico }) }}">{{ host }}{{ path('HotelesFrontendBundle_pago', { 'token': oferta.idofertaunico }) }}</a></p>

        <p>equipo de roomastic.com</p>

    </body>
</html>

#}

{% endblock %}