<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Roomastic</title>
    </head>
    <body>	
        {# TODO: INCLUIR DATOS DE VERDAD EN ESTE E-MAIL #}
        <table width="812" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
            <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                <!-- header -->
                <tr>
                    <td height="54" width="100%">&nbsp;</td>
                </tr>	
                <tr>
                    <td>
                        <img src="https://roomastic.com/bundles/hotelesfrontend/img/logo.png" width="146" height="45" border="0" style="display:block;" />
                    </td>
                </tr>
                <tr>
                    <td height="54" width="100%">&nbsp;</td>
                </tr><!-- / header -->

                <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                        <p style="font-weight:bold; font-size:29px; margin:0;">RESERVA EFECTUADA</p>
                        <p>Código de la oferta: {{sale.OrderNumber}}</p>
                        <br />
                        <p>El usuario ha efectuado el pago de la reserva.</p>
                        <p>Te adjuntamos los datos de la misma para que puedas bloquear la habitación.</p>
                    </td>	
                </tr>
                <!-- table dates -->
                <tr><td height="36">&nbsp;</td></tr>	
                <tr>
                    <td>
                        <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" style="border-top:2px solid #e9e9e9;">
                            <tr>
                                <td height="38" style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px; border-bottom:2px solid #e9e9e9;">FECHA DE ENTRADA</td>
                                <td height="38" style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px; font-weight:bold; text-align:right; border-bottom:2px solid #e9e9e9;">{{oferta.fechain|date('d/m/Y')}}</td>
                            </tr>
                            <tr>
                                <td height="38" style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px; border-bottom:2px solid #e9e9e9;">NÚMERO DE NOCHES </td>
                                <td height="38" style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px; font-weight:bold; text-align:right; border-bottom:2px solid #e9e9e9;">{{oferta.numnoches}}</td>
                            </tr>                        
                            <tr>
                                <td height="38" style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px; border-bottom:2px solid #e9e9e9;">NÚMERO DE HABITACIONES </td>
                                <td height="38" style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px; font-weight:bold; text-align:right; border-bottom:2px solid #e9e9e9;">{{oferta.numhabitaciones}}</td>
                            </tr>                        
                            <tr>
                                <td height="38" style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px; border-bottom:2px solid #e9e9e9;">IMPORTE</td>
                                <td height="38" style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px; font-weight:bold; text-align:right; border-bottom:2px solid #e9e9e9;">{{oferta.getNeto|number_format(2,',','.') ~ '€'|trans}}</td>
                            </tr>                        
                        </table>
                    </td>
                </tr>
                <tr><td height="20">&nbsp;</td></tr>
                <!-- /table dates -->
                <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                        <p>Puedes consultar los datos del cliente en tu zona de administración de roomastic.com</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                        <p>Recuerda que la reserva incluye SOLO ALOJAMIENTO, por lo que puedes ofrecer al cliente los extras y servicios del hotel que desees para que disfrute de una estancia perfecta.</p>
                        <p>Un saludo,</p>
                        <p>El equipo de Roomastic.</p>
                    </td>
                </tr>
                <!-- footer -->
                <tr><td height="127">&nbsp;</td></tr>	
                <tr>
                    <td style="border-top:2px solid #e9e9e9; text-align:center; font-family:Arial, Helvetica, sans-serif;">
                        <p style="height:10px;">&nbsp;</p>
                        <span style="color:#e52e81; font-weight:bold; font-size:16px;">Teléfono de atención al cliente</span><br />
                        <span style="color:#e52e81; font-weight:bold; font-size:27px;">911 610 156</span><br /><br />
                    </td>
                </tr>	
                <tr>
                    <td style="font-size:9px; color:#6c6c6c; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                        este email ha sido enviado de manera automática por <span style="text-decoration:none; color:#474747;">roomastic.com</span> © Copyright. Todos los derechos reservados.
                    </td>
                </tr>
                <!-- /footer -->

            </table><!-- table content -->
        </table><!-- table margen -->
    </body>
</html>



