{#% trans_default_domain 'FOSUserBundle' %#}
{% block subject %}
    {{'Bienvenido a Roomastic'|trans}}
    {#
    {% autoescape false %}
    {{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
    #}
{% endblock %}

{% block body_text %}

{% endblock %}

{% block body_html %}

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        </head>
        <body>
            {#admin#}
            {% if user.hasRole("ROLE_ADMIN") %}

                <table width="812" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                    <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                        <!-- header -->
                        <tr><td height="54" width="100%">&nbsp;</td></tr>   
                        <tr><td><img src="https://roomastic.com/bundles/hotelesfrontend/img/logo.png" width="146" height="45" border="0" style="display:block;" /></td></tr>
                        <tr><td height="54" width="100%">&nbsp;</td></tr>
                        <!-- / header -->
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                                <p style="font-weight:bold; font-size:29px; margin:0;">Estás a solo un paso.</p>
                                <p>Haz clic <a href="{{ confirmationUrl }}">aquí</a> para verificar tu perfil y elige tu contraseña para empezar a recibir ofertas y disfrutar de las ventajas de estar registrado</p>
                                <p>¡Bienvenido!</p>
                                <p>El equipo de Roomastic.</p>
                            </td>   
                        </tr>
                        <!-- footer -->
                        <tr><td height="127">&nbsp;</td></tr>    
                        <tr>
                            <td style="border-top:2px solid #e9e9e9; text-align:center; font-family:Arial, Helvetica, sans-serif;">
                                <p style="height:10px;">&nbsp;</p>
                                <span style="color:#e52e81; font-weight:bold; font-size:16px;">Teléfono de atención al cliente</span><br />
                                <span style="color:#e52e81; font-weight:bold; font-size:27px;">911 610 156</span><br /><br />
                            </td>
                        </tr>    
                        <tr>
                            <td style="font-size:9px; color:#6c6c6c; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                                este email ha sido enviado de manera automática por <span style="text-decoration:none; color:#474747;">roomastic.com</span> © Copyright. Todos los derechos reservados. 
                            </td>
                        </tr>
                        <!-- /footer -->
                    </table><!-- table content -->
                </table><!-- table margen -->
                {#empresa#}
            {% elseif user.hasRole("ROLE_EMPRESA") %}

                <table width="812" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                    <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                        <!-- header -->
                        <tr><td height="54" width="100%">&nbsp;</td></tr>   
                        <tr><td><img src="https://roomastic.com/bundles/hotelesfrontend/img/logo.png" width="146" height="45" border="0" style="display:block;" /></td></tr>
                        <tr><td height="54" width="100%">&nbsp;</td></tr>
                        <!-- / header -->
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                                <p style="font-weight:bold; font-size:29px; margin:0;">Estás a solo un paso.</p>
                                <p>Haz clic <a href="{{ confirmationUrl }}">aquí</a> para verificar tu perfil y elige tu contraseña para empezar a recibir ofertas y disfrutar de las ventajas de estar registrado</p>
                                <p>Bienvenido!</p>
                                <p>El equipo de Roomastic.</p>
                            </td>   
                        </tr>
                        <!-- footer -->
                        <tr><td height="127">&nbsp;</td></tr>    
                        <tr>
                            <td style="border-top:2px solid #e9e9e9; text-align:center; font-family:Arial, Helvetica, sans-serif;">
                                <p style="height:10px;">&nbsp;</p>
                                <span style="color:#e52e81; font-weight:bold; font-size:16px;">Teléfono de atención al cliente</span><br />
                                <span style="color:#e52e81; font-weight:bold; font-size:27px;">911 610 156</span><br /><br />
                            </td>
                        </tr>    
                        <tr>
                            <td style="font-size:9px; color:#6c6c6c; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                                este email ha sido enviado de manera automática por <span style="text-decoration:none; color:#474747;">roomastic.com</span> © Copyright. Todos los derechos reservados. 
                            </td>
                        </tr>
                        <!-- /footer -->
                    </table><!-- table content -->
                </table><!-- table margen -->

                {#hotel#}
            {% elseif user.hasRole("ROLE_HOTEL") %}

                <table width="812" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                    <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                        <!-- header -->
                        <tr><td height="54" width="100%">&nbsp;</td></tr>   
                        <tr><td><img src="https://roomastic.com/bundles/hotelesfrontend/img/logo.png" width="146" height="45" border="0" style="display:block;" /></td></tr>
                        <tr><td height="54" width="100%">&nbsp;</td></tr>
                        <!-- / header -->
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                                <p><span style="text-transform:uppercase; font-weight:bold;">{{ user.hotel.nombreempresa }}</span> te ha registrado en www.roomastic.com.</p>
                                <p>Haz clic <a href="{{ confirmationUrl }}">aquí</a> para verificar tu perfil y elige tu contraseña para empezar a recibir ofertas y disfrutar de las ventajas de estar registrado</p>
                                <p>¡Bienvenido!</p>
                                <p>El equipo de Roomastic.</p>  
                            </td>   
                        </tr>
                        <!-- footer -->
                        <tr><td height="127">&nbsp;</td></tr>    
                        <tr>
                            <td style="border-top:2px solid #e9e9e9; text-align:center; font-family:Arial, Helvetica, sans-serif;">
                                <p style="height:10px;">&nbsp;</p>
                                <span style="color:#e52e81; font-weight:bold; font-size:16px;">Teléfono de atención al cliente</span><br />
                                <span style="color:#e52e81; font-weight:bold; font-size:27px;">911 610 156</span><br /><br />
                            </td>
                        </tr>    
                        <tr>
                            <td style="font-size:9px; color:#6c6c6c; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                                este email ha sido enviado de manera automática por <span style="text-decoration:none; color:#474747;">roomastic.com</span> © Copyright. Todos los derechos reservados. 
                            </td>
                        </tr>
                        <!-- /footer -->
                    </table><!-- table content -->
                </table><!-- table margen -->

                <!-- REGISTER USER -->

            {% elseif user.hasRole("ROLE_WEB") %}

                <table width="812" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                    <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                        <!-- header -->
                        <tr><td height="54" width="100%">&nbsp;</td></tr>   
                        <tr><td><img src="https://roomastic.com/bundles/hotelesfrontend/img/logo.png" width="146" height="45" border="0" style="display:block;" /></td></tr>
                        <tr><td height="54" width="100%">&nbsp;</td></tr>
                        <!-- / header -->
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                                <p style="font-weight:bold; font-size:29px; margin:0;">Hola {{user.nombre}}!</p>
                                <p>Te damos la bienvenida a Roomastic, la primera plataforma donde podrás realizar ofertas a hoteles, y ahorrar mucho dinero en tus estancias favoritas.</p>
                                <p>En breve recibirás un correo electrónico con información del estado de la oferta que acabas de realizar.</p>
                                <p>Es muy importante que leas nuestras condiciones, para que saques el mayor partido a tus ofertas. Puedes hacerlo, pinchando aquí. <a href="#" style="color:#e52e81; text-decoration:none;">[http://www.roomastic.com/condiciones-legales]</a></p>
                                <p>Si tienes cualquier duda, recuerda que puedes ponerte en contacto con nosotros en el siguiente enlace <a href="#" style="color:#e52e81; text-decoration:none;">[http://www.roomastic.com/contacto]</a></p>
                                <p>Un saludo y gracias por confiar en Roomastic.</p>
                            </td>   
                        </tr>
                        <!-- footer -->
                        <tr><td height="127">&nbsp;</td></tr>    
                        <tr>
                            <td style="border-top:2px solid #e9e9e9; text-align:center; font-family:Arial, Helvetica, sans-serif;">
                                <p style="height:10px;">&nbsp;</p>
                                <span style="color:#e52e81; font-weight:bold; font-size:16px;">Teléfono de atención al cliente</span><br />
                                <span style="color:#e52e81; font-weight:bold; font-size:27px;">911 610 156</span><br /><br />
                            </td>
                        </tr>    
                        <tr>
                            <td style="font-size:9px; color:#6c6c6c; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                                este email ha sido enviado de manera automática por <span style="text-decoration:none; color:#474747;">roomastic.com</span> © Copyright. Todos los derechos reservados. 
                            </td>
                        </tr>
                        <!-- /footer -->
                    </table><!-- table content -->
                </table><!-- table margen -->


                <!-- /REGISTER USER -->
            {% else %}
                <table width="812" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                    <table width="709" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                        <!-- header -->
                        <tr><td height="54" width="100%">&nbsp;</td></tr>   
                        <tr><td><img src="https://roomastic.com/bundles/hotelesfrontend/img/logo.png" width="146" height="45" border="0" style="display:block;" /></td></tr>
                        <tr><td height="54" width="100%">&nbsp;</td></tr>
                        <!-- / header -->
                        <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#474747; font-size:15px;">
                                <p>Haz clic <a href="{{ confirmationUrl }}">aquí</a> para verificar tu perfil y elige tu contraseña para empezar a recibir ofertas y disfrutar de las ventajas de estar registrado</p>
                                <p>Bienvenido!</p> 
                                <p>El equipo de Roomastic.</p>  
                            </td>   
                        </tr>
                        <!-- footer -->
                        <tr><td height="127">&nbsp;</td></tr>    
                        <tr>
                            <td style="border-top:2px solid #e9e9e9; text-align:center; font-family:Arial, Helvetica, sans-serif;">
                                <p style="height:10px;">&nbsp;</p>
                                <span style="color:#e52e81; font-weight:bold; font-size:16px;">Teléfono de atención al cliente</span><br />
                                <span style="color:#e52e81; font-weight:bold; font-size:27px;">911 610 156</span><br /><br />
                            </td>
                        </tr>    
                        <tr>
                            <td style="font-size:9px; color:#6c6c6c; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center;">
                                este email ha sido enviado de manera automática por <span style="text-decoration:none; color:#474747;">roomastic.com</span> © Copyright. Todos los derechos reservados. 
                            </td>
                        </tr>
                        <!-- /footer -->
                    </table><!-- table content -->
                </table><!-- table margen -->


            {% endif %}


        </body>
    </html>


{% endblock %}







