{% extends "HotelesFrontendBundle::layout.html.twig" %}

{% block content %}

    <div class="contenido pagerror">
        <p class="txt1">{{'Lo sentimos, no hemos podido'|trans}}<br>{{'encontrar el contenido'|trans}}</p>
        <p class="txt2">{{'La página que estás buscando no ha sido encontrada.'|trans}}<br>
            {{'Este problema puede deberse a alguno de estos motivos:'|trans}}</p>
        <p>{{'La URL no está correctamente escrita o se ha producido un fallo al acceder a ella.'|trans}}</p>
        <p>{{'El hotel que buscas ya no está disponible.'|trans}}</p>
        <p>{{'Se ha producido un problema con nuestro servidor o con tu conexión a internet.'|trans}}</p>
        <div class="separador"></div>
        <a href="{{path('HotelesFrontendBundle_homepage')}}"><img src="/bundles/hotelesfrontend/img/icon_flecha.png"></a>
        <p><a href="{{path('HotelesFrontendBundle_homepage')}}" class="txt_pink">Vuelve a la home e inicia de nuevo tu búsqueda.</a></p>
        <p>Si después de realizar tu nueva búsqueda sigues con problemas, por favor, contacta con nosotros.</p>

    </div><!-- contenido -->

{% endblock %}