{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Editar preguntas frecuentes'|trans}}
{% endblock %}

{% block body %}


<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Editar preguntas frecuentes'|trans}}
        </header>
        <div class="panel-body">
            <form role="form" action="{{ path('admin_faqs_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
              
              <div class="form-group {{ error(form_errors(edit_form.pregunta)) }}">
                  <label for="exampleInputEmail1">{{'Pregunta'|trans}}</label>
                  <div class="">
                  {{ form_errors(edit_form.pregunta) }}
                  {{ form_widget(edit_form.pregunta, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(edit_form.respuesta)) }}">
                  <label for="exampleInputEmail1">{{'Respuesta'|trans}}</label>
                  <div class="">
                  {{ form_errors(edit_form.respuesta) }}
                  {{ form_widget(edit_form.respuesta, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
               {{ form_rest(edit_form) }}
        </div>
    </section>
    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-info">{{'Guardar'|trans}}</button>   
            </form><!-- / form edit -->
               {# <a class="btn btn-warning" href="{{ path('HotelesFrontendBundle_quienesSomos') }}" target="_blank">{{'Ver en la web'|trans}}</a>#}
               <a href="{{ path('admin_faqs') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
              <form action="{{ path('admin_faqs_delete', { 'id': entity.id }) }}" method="post" class="btnDelete">
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de borrar?');">{{'Borrar'|trans}}</button>
            </form>
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->


{#

<h1>Faqs edit</h1>

<form action="{{ path('admin_faqs_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_faqs') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_faqs_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

#}

{% endblock %}