{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear preguntas frecuentes'|trans}}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-6">
    <section class="panel"> 
        <header class="panel-heading">
            {{'Crear preguntas frecuentes'|trans}}
        </header>
        <div class="panel-body">
            <form role="form" action="{{ path('admin_faqs_create') }}"  method="post" {{ form_enctype(form) }}>
        	  <div class="form-group {{ error(form_errors(form.pregunta)) }}">
                  <label for="exampleInputEmail1">{{'Pregunta'|trans}}</label>
                  <div class="">
                  {{ form_errors(form.pregunta) }}
                  {{ form_widget(form.pregunta, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
              <div class="form-group {{ error(form_errors(form.respuesta)) }}">
                  <label for="exampleInputEmail1">{{'Respuesta'|trans}}</label>
                  <div class="">
                  {{ form_errors(form.respuesta) }}
                  {{ form_widget(form.respuesta, { 'attr': {'class': 'form-control'} }) }}                        
                  </div>
              </div>
               {{ form_rest(form) }}
        </div>
    </section>
    <!-- btns -->
    <section class="panel">
          <div class="panel-body">
                <button type="submit" class="btn btn-success">{{'Crear'|trans}}</button>   
            </form><!-- / form edit -->
               <a href="{{ path('admin_faqs') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
          </div>
    </section>
    <!-- /btns -->
  </div><!-- /col -->
</div><!-- /row -->

{#

<h1>Faqs creation</h1>

<form action="{{ path('admin_faqs_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_faqs') }}">
            Back to the list
        </a>
    </li>
</ul>

#}

{% endblock %}