{% if porcentaje < 20 %}
    <span class="badge bg-error">{{porcentaje|number_format(2,',','.')}}%</span>

{%elseif porcentaje < 40 %}
    <span class="badge bg-warning">{{porcentaje|number_format(2,',','.')}}%</span>

{%elseif porcentaje < 60 %}
    <span class="badge bg-warning">{{porcentaje|number_format(2,',','.')}}%</span>

{%elseif porcentaje < 80 %}
    <span class="badge bg-success">{{porcentaje|number_format(2,',','.')}}%</span>

{%elseif porcentaje <= 100 %}
    <span class="badge bg-success">{{porcentaje|number_format(2,',','.')}}%</span>
{%else%}
{%endif%}

