<li>
    <a href="{{path('admin_incidencia_edit', {'id':incidencia.id})}}">
        <span class="photo"><img alt="avatar" src="{{ incidencia.imagen }}"></span>
        <span class="subject">
            <span class="from">{{ incidencia.userfrom }}</span>
            <span class="time">{{ incidencia.fecha|date('H:i') }}</span>
        </span>
        <span class="message">
            {{ incidencia.asunto }}
        </span>
    </a>
</li>
