{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block body %}

<h1>Hotel</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.Email }}</td>
        </tr>
        <tr>
            <th>Empresa</th>
            <td>{{ entity.Empresa }}</td>
        </tr>
        <tr>
            <th>Nombreempresa</th>
            <td>{{ entity.Nombreempresa }}</td>
        </tr>
        <tr>
            <th>Cif</th>
            <td>{{ entity.Cif }}</td>
        </tr>
        <tr>
            <th>Direccionfacturacion</th>
            <td>{{ entity.Direccionfacturacion }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.Telefono }}</td>
        </tr>
        <tr>
            <th>Numerocuenta</th>
            <td>{{ entity.Numerocuenta }}</td>
        </tr>
        <tr>
            <th>Nombrepersonacontacto</th>
            <td>{{ entity.Nombrepersonacontacto }}</td>
        </tr>
        <tr>
            <th>Apellidospersonacontacto</th>
            <td>{{ entity.Apellidospersonacontacto }}</td>
        </tr>
        <tr>
            <th>Cargopersonacontacto</th>
            <td>{{ entity.Cargopersonacontacto }}</td>
        </tr>
        <tr>
            <th>Emailpersonacontacto</th>
            <td>{{ entity.Emailpersonacontacto }}</td>
        </tr>
        <tr>
            <th>Telefonopersonacontacto</th>
            <td>{{ entity.Telefonopersonacontacto }}</td>
        </tr>
        <tr>
            <th>Nombrehotel</th>
            <td>{{ entity.Nombrehotel }}</td>
        </tr>
        <tr>
            <th>Calificacion</th>
            <td>{{ entity.Calificacion }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ entity.Descripcion }}</td>
        </tr>
        <tr>
            <th>Caracteristicas</th>
            <td>{{ entity.Caracteristicas }}</td>
        </tr>
        <tr>
            <th>Ubicacion</th>
            <td>{{ entity.Ubicacion }}</td>
        </tr>
        <tr>
            <th>Pvpoficialenteros</th>
            <td>{{ entity.Pvpoficialenteros }}</td>
        </tr>
        <tr>
            <th>Pvpoficialdecimales</th>
            <td>{{ entity.Pvpoficialdecimales }}</td>
        </tr>
        <tr>
            <th>Cantidadminimaaceptadaenteros</th>
            <td>{{ entity.Cantidadminimaaceptadaenteros }}</td>
        </tr>
        <tr>
            <th>Cantidadminimaaceptadadecimales</th>
            <td>{{ entity.Cantidadminimaaceptadadecimales }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.Status }}</td>
        </tr>
        <tr>
            <th>Seotitulo</th>
            <td>{{ entity.Seotitulo }}</td>
        </tr>
        <tr>
            <th>Seodescripcion</th>
            <td>{{ entity.Seodescripcion }}</td>
        </tr>
        <tr>
            <th>Seokeywords</th>
            <td>{{ entity.Seokeywords }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_hotel') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_hotel_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_hotel_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}