{# 
Valores posibles (Mas documentacion en la clase Empresa):
    const EMPRESA_STATUS_OK = 0;
    const EMPRESA_STATUS_SUSPENDED = 1;
#}
{% if status == 0 %}
    <span class="fa-lg">
        <i class="fa fa-check"></i>
    </span>
{% elseif status == 1 %}
    <span class="fa-stack fa-lg">
        <i class="fa fa-user fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
{% else %}
    <span class="fa-lg">
        <i class="fa fa-question"></i>
    </span>
{% endif %}
