{# 
    Valores posibles (Mas documentacion en la clase Hotel):
    const HOTEL_STATUS_NOT_PUBLIC = 0;
    const HOTEL_STATUS_VISIBLE = 1;
    const HOTEL_STATUS_SUSPENDED = 2;
#}
{% if status == 0 %}
    <span class="fa-lg">
        <i class="fa fa-2x fa-eye-slash"></i>
    </span>
{% elseif status == 1 %}
    <span class="fa-lg">
        <i class="fa fa-check"></i>
    </span>
{% elseif status == 2 %}
    <span class="fa-stack fa-lg">
        <i class="fa fa-user fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
{% else %}
    <span class="fa-lg">
        <i class="fa fa-question"></i>
    </span>
{% endif %}