<div id="fade"></div>
<div id="modal">
    {% image '@HotelesFrontendBundle/Resources/public/img/loading.gif' %}
    <img id="loader" src="{{ asset_url }}" alt="Cargando..." />
    {% endimage %}  
</div>