{% extends "HotelesBackendBundle::layout.html.twig" %}

{% block titulo %}
    {{parent()}}
    {{'Crear imágenes home'|trans}}
{% endblock %}

{% block body %}


<div class="row">
	<div class="col-lg-6">
	  <section class="panel"> 
	      <header class="panel-heading">
	          {{'Crear imágenes home'|trans}}
	      </header>
	      <div class="panel-body">
	          <form role="form" action="{{ path('admin_homeconfiguracion_create') }}" method="post" {{ form_enctype(form) }}>
	            {#{{ form_widget(form) }}#}
	            <div class="form-group {{ error(form_errors(form.imagen)) }}">
	                <label for="exampleInputEmail1">{{'Imagen'|trans}}</label>
	                <div class="fileupload fileupload-new" data-provides="fileupload">
                          <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                              <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                          </div>
                          <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                          <div>
                           <span class="btn btn-white btn-file">
                           <span class="fileupload-new"><i class="fa fa-paper-clip"></i> {{'Seleccionar una imagen'|trans}}</span>
                           <span class="fileupload-exists"><i class="fa fa-undo"></i> {{'Cambiar'|trans}}</span>
                           {{ form_widget(form.imagen) }}       
                           </span>
                              <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> {{'Borrar'|trans}}</a>
                          </div>
                      </div>
                      <span class="label label-danger">{{'Nota'|trans}}</span>
                     <span>{{'Las img deben ser ... '|trans}} </span>

	            </div>

	            <div class="form-group {{ error(form_errors(form.status)) }}">
	                <label for="exampleInputEmail1">{{'Estado de las imágenes'|trans}}</label>
	                <div class="">
	                {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}                        
	                </div>
	            </div>
	            {{ form_rest(form) }}
	      </div>
	  </section>

	  <!-- btns -->
	  <section class="panel">
	        <div class="panel-body">
	              <button type="submit" class="btn btn-info">{{'Crear'}}</button>   
	          </form><!-- / form edit -->
	             <a href="{{ path('admin_homeconfiguracion') }}" class="btn btn-primary">{{'Regresar a la lista'|trans}}</a>
	        </div>
	  </section>
	  <!-- /btns -->
	</div><!-- /col -->
</div><!-- /row -->

{#
<h1>Home creation</h1>

<form action="{{ path('admin_homeconfiguracion_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_homeconfiguracion') }}">
            Back to the list
        </a>
    </li>
</ul>
#}
{% endblock %}